<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Tài khoản của tôi</title>
    <th:block th:include="common/header_tag_common"/>
    <!-- custom css  -->
    <link rel="stylesheet" th:href="@{/css/custom2.css}">
</head>
<body class="js">
<!-- Header -->
<th:block th:include="common/header"/>
<!--/ End Header -->

<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a th:href="@{/}">Trang chủ<i class="ti-arrow-right"></i></a></li>
                        <li class="active">Thông tin tài khoản</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Product Style -->
<section class="product-area shop-sidebar shop section" style="padding-top: 15px;">
    <div class="container">
        <div class="row">

            <!-- Start account items manager Area -->
            <th:block th:include="common/acount-items-manager"/>
            <!-- /End account items manager Area -->

            <div class="Account__StyledAccountLayoutInner" id="customer_edit" style="display: none;">
                <div type="success" class="Alert__StyledAlert" style="display: none;">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512"
                         color="#26BC4E" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"
                         style="color: rgb(38, 188, 78);">
                        <path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path>
                    </svg>
                    <span>Thông tin tài khoản của bạn đã được cập nhật.</span>
                </div>
                <h3 class="styles__StyledHeading">Thông tin tài khoản</h3><br/>
                <div class="inner div-form">
                    <form id="user_info">
                        <div class="div-form-control">
                            <label class="input-label">Họ tên</label>
                            <input class="form-control" type="text" name="fullName" maxlength="128">
                        </div>
                        <div class="div-form-control ">
                            <label class="input-label">Số điện thoại</label>
                            <input class="form-control" type="tel" name="phoneNumber"
                                   placeholder="Hãy nhập SĐT để trải nghiệm tốt hơn">
                        </div>
                        <div class="div-form-control">
                            <label class="input-label">Email</label>
                            <input class="form-control" type="email" name="email" disabled="">
                        </div>
                        <div class="div-form-control">
                            <label class="input-label">Giới tính</label>
                            <div style="margin-right: 50px;">
                                <input type="radio" name="gender" value="male" checked="">
                                <span style="margin-left: 10px;">Nam</span>
                            </div>
                            <div style="margin-right: 50px;">
                                <input type="radio" name="gender" value="female">
                                <span style="margin-left: 10px;">Nữ</span>
                            </div>
                        </div>
                        <div class="div-form-control">
                            <label class="input-label">Ngày sinh<span>(không bắt buộc)</span></label>
                            <input class="form-control" type="date" name="birthday">
                        </div>
                        <div class="div-form-control">
                            <label class="input-label">&nbsp;</label>
                            <label>
                                <input name="edit_password" type="checkbox">
                                <span class="checkbox-fake">Thay đổi mật khẩu</span>
                            </label>
                        </div>
                        <div id="input_group_password" style="display: none;">
                            <div class="div-form-control">
                                <label class="input-label">Mật khẩu cũ</label>
                                <div>
                                    <input class="form-control" type="password" required="true" name="oldPassword"
                                           placeholder="Nhập mật khẩu cũ" value="">
                                </div>
                            </div>
                            <div class="div-form-control">
                                <label class="input-label">Mật khẩu mới</label>
                                <div>
                                    <input class="form-control" type="password" required="true" name="password"
                                           placeholder="Mật khẩu từ 6 đến 32 ký tự" value="">
                                </div>
                            </div>
                            <div class="div-form-control">
                                <label class="input-label">Nhập lại</label>
                                <div>
                                    <input class="form-control" type="password" required="true" name="passwordConfirm"
                                           placeholder="Nhập lại mật khẩu mới" value="">
                                </div>
                            </div>
                        </div>
                        <div class="div-form-control">
                            <label class="input-label">&nbsp;</label>
                            <button id="button_submit_info" type="button" class="btn btn-submit">Cập nhật</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Product Style 1  -->

<!-- Start Footer Area -->
<th:block th:include="common/footer"/>
<!-- /End Footer Area -->

<script th:inline="javascript">
    /*<![CDATA[*/
    // A $( document ).ready() block.
    $(document).ready(function () {
        $(".Account__StyledSideBar").siblings().css('display', 'none');
        let pageURL = $(location).attr("href");
        if (pageURL.includes("/customer/account/edit")) {
            getInfoUser()
            $("#customer_edit").css('display', 'block');
        }

        if (pageURL.includes("/customer/notification")) {
            $("#customer_notification").css('display', 'block');
        }

        /* show hide block to edit password*/
        $("input[name='edit_password']").on("click", function () {
            if ($("input[name='edit_password']").is(':checked')) {
                $("#input_group_password").show();
            } else {
                $("#input_group_password").hide();
            }
        });

        $("#button_submit_info").on("click", function () {
            let data = {
                "email": $("input[name='email']").val(),
                "fullName": $("input[name='fullName']").val(),
                "gender": $("input[name='gender']").val(),
                "phone": $("input[name='phoneNumber']").val(),
                "birthday": $("input[name='birthday']").val()
            }
            $("div").removeClass("has-error");
            $(".error-message").remove();

            if ($("input[name='edit_password']").is(':checked')) {
                if (validatePassword() === true) {
                    data["password"] = $("input[name='password']").val();
                    updateInfo(data);
                }
                alert(data["password"]);
            } else {
                updateInfo(data);
            }
        });

        $(".Account__StyledNav > li > a").on('click', function () {
            $(this).addClass('is-active');
        });

        $(".Account__StyledNav > li").on('click', function () {
            $(this).addClass("is-active");
        });

        $(document).on('click', '.my-reviews__button', function (e) {
            e.preventDefault();
            $(".write-review__product img").attr("src", $(this).siblings(".my-reviews__info").find("img").attr("src"));
            $(".write-review__product-name").text($(this).siblings(".my-reviews__info").find(".my-reviews__name").text());
            $("input[name='orderDetail-id']").val($(this).siblings(".my-reviews__info").attr("orderDetail-id"));
            $("input[name='product-id']").val($(this).siblings(".my-reviews__info").attr("product-id"));
        });


    });

    function validatePassword() {
        let oldPassword = $("input[name='oldPassword']").val();
        let password = $("input[name='password']").val();
        let passwordConfirm = $("input[name='passwordConfirm']").val();
        let token = true;
        if (oldPassword.length === 0) {
            token = false;
            $("input[name='oldPassword']").closest("div.div-form-control").addClass("has-error");
            $("<div class=\"error-message\">Vui lòng nhập mật khẩu cũ</div>").insertAfter($("input[name='oldPassword']"));
        }

        if (password.length === 0) {
            token = false;
            $("input[name='password']").closest("div.div-form-control").addClass("has-error");
            $("<div class=\"error-message\">Vui lòng nhập mật khẩu mới</div>").insertAfter($("input[name='password']"));
        }

        if (passwordConfirm.length === 0) {
            token = false;
            $("input[name='passwordConfirm']").closest("div.div-form-control").addClass("has-error");
            $("<div class=\"error-message\">Bạn chưa xác nhận mật khẩu mới</div>").insertAfter($("input[name='passwordConfirm']"));
        }

        if (oldPassword.length > 0 && password.length > 0 && passwordConfirm.length > 0) {
            $.ajax({
                url: "/api/account/check-password?oldPassword=" + oldPassword,
                type: "GET",
                success: function (isMatch) {
                    if (isMatch === false) {
                        token = false;
                        $("input[name='oldPassword']").closest("div.div-form-control").addClass("has-error");
                        $("<div class=\"error-message\">Mật khẩu cũ không đúng</div>").insertAfter($("input[name='oldPassword']"));
                    }
                    if (password !== passwordConfirm) {
                        token = false;
                        $("input[name='passwordConfirm']").closest("div.div-form-control").addClass("has-error");
                        $("<div class=\"error-message\">Mật khẩu không trùng khớp</div>").insertAfter($("input[name='passwordConfirm']"));
                    }
                },
                error: function (xhr) {
                    alert("có lỗi xảy ra");
                }
            });
        }
        return token;
    }

    function getInfoUser() {
        $.ajax({
            url: "/api/account/info",
            type: "GET",
            dataType: 'json',
            success: function (data) {

                // show category
                let categories = data["categories"];
                let html = "";
                $.each(categories, function( index, item ) {
                    html += "<li>\n" +
                        "            <a class=\"parent-category\" href='/collections.html?category=" + item["categoryUrl"] + "'>" + item["categoryName"] + "</a>\n" +
                        "            <ul class=\"list-child-category\">\n";
                    if (item.hasOwnProperty("subCategory")) {
                        $.each(item["subCategory"], function( index, subItem ) {
                            html += "<li>\n" +
                                "         <a href='/collections.html?category=" + subItem["categoryUrl"] + "'>" + subItem["categoryName"] + "</a>\n" +
                                "    </li>\n";
                        });
                    }
                    html += "     </ul>\n" +
                        "</li>";

                });
                $("div.header-inner > div > div > div > div > div > nav > div > div > ul > li:nth-child(2) > ul").append(html);

                let info = data["infoAccount"];
                $("input[name='fullName']").val(info["fullName"]);
                $("input[name='phoneNumber']").val(info["phone"]);
                $("input[name='email']").val(info["email"]);
                $("input[name='birthday']").val(info["birthday"]);
                let $radios = $('input:radio[name=gender]');
                if (info["gender"] === "male") {
                    $radios.filter('[value=male]').prop('checked', true);
                } else {
                    $radios.filter('[value=female]').prop('checked', true);
                }
            },
            error: function () {
                alert("có lỗi xảy ra");
            }
        });
    }

    function updateInfo(data) {
        $.ajax({
            url: "/api/account/update",
            data: JSON.stringify(data),
            type: "PUT",
            dataType: 'json',
            contentType: "application/json",
            cache: false,
            success: function (user) {
                $("div.Alert__StyledAlert").css('display', 'block');
                $("input[name='fullName']").val(user["fullName"]);
                $("input[name='phoneNumber']").val(user["phone"]);
                $("input[name='email']").val(user["email"]);
                $("input[name='birthday']").val(user["birthday"]);
                let $radios = $('input:radio[name=gender]');
                if (user["gender"] === "male") {
                    $radios.filter('[value=male]').prop('checked', true);
                } else {
                    $radios.filter('[value=female]').prop('checked', true);
                }
            },
            error: function () {
                alert("có lỗi xảy ra");
            }
        });
    }

    function removeProductFromWishlist(buttonDelete, productId) {
        $.ajax({
            url: "/api/account/wishlist/remove/" + productId,
            type: "DELETE",
            dataType: 'json',
            success: function (result) {
                if (result === true) {
                    let heading = $(".styles__StyledAccountWishList .heading span");
                    heading.text(parseInt(heading.text()) - 1);
                    buttonDelete.closest("li.item").remove();
                }
            },
            error: function (err) {
                alert("có lỗi xảy ra");
            }
        });
    }

    /*]]>*/
</script>
</body>
</html>