<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chi tiết đơn hàng</title>
    <th:block th:include="common/header_tag_common"/>
    <!-- custom css  -->
    <link rel="stylesheet" th:href="@{/css/custom2.css}">
</head>
<body class="js">

<!-- Header -->
<th:block th:include="common/header"/>
<!--/ End Header -->

<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a th:href="@{/}">Trang chủ<i class="ti-arrow-right"></i></a></li>
                        <li class="active">Thông tin tài khoản</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Product Style -->
<section class="product-area shop-sidebar shop section" style="padding-top: 15px;">
    <div class="container">
        <div class="row">
            <!-- Start account items manager Area -->
            <th:block th:include="common/acount-items-manager"/>
            <!-- /End account items manager Area -->

            <div class="Account__StyledAccountLayoutInner">
                <div class="styles__StyledAccountOrderDetail">
                    <div class="heading"><span></span><span class="split">-</span><span class="status"></span></div>
                    <div class="created-date"></div>
                    <div class="styles__StyledSection message">
                        <div class="title">Thông báo</div>
                        <div class="content">
                            <div class="notifications">
                                <div class="notifications__item">
                                    <div class="date"></div>
                                    <div class="comment">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="styles__StyledGroupSection">
                        <div class="styles__StyledSection order-info-1">
                            <div class="title">Địa chỉ người nhận</div>
                            <div class="content">
                                <p class="name"></p>
                                <p class="address">
                                    <span>Địa chỉ: </span> <span></span>
                                </p>
                                <p class="phone">
                                    <span>Điện thoại: </span>
                                    <span></span>
                                </p>
                            </div>
                        </div>
                        <div class="styles__StyledSection order-info-2">
                            <div class="title">Hình thức giao hàng</div>
                            <div class="content">
                                <p></p>
                                <p></p>
                            </div>
                        </div>
                        <div class="styles__StyledSection order-info-3">
                            <div class="title">Hình thức thanh toán</div>
                            <div class="content">
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <table class="styles__StyledProductList">
                        <thead>
                        <tr>
                            <th>Sản phẩm</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>Giảm giá</th>
                            <th>Tạm tính</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="product-item">
                                        <img>
                                        <div class="product-info">
                                            <a class="product-name"></a>
                                            <p class="product-seller"><a></a></p>
                                            <div class="product-review">
                                                <span class="my-reviews_btn" data-toggle="modal" data-target="#myModal">Viết nhận xét</span>
                                                <a>Mua lại</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="price"></td>
                                <td class="quantity"></td>
                                <td class="discount-amount"></td>
                                <td class="raw-total"></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4"><span>Tạm tính</span></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="4"><span>Giảm giá</span></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="4"><span>Phí vận chuyển</span></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="4"><span>Tổng cộng</span></td>
                                <td><span class="sum"></span></td>
                            </tr>
                        </tfoot>
                    </table>
                    <a class="view-list-order" th:href="@{/sales/order/history}">&lt;&lt; Quay lại đơn hàng của tôi</a>
                    <a class="view-tracking-detail" th:href="@{'/sales/order/tracking/' + ${orderId}}">Theo dõi đơn hàng</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-label="Viết nhận xét"
         style="inset: 50% auto auto 50%; transform: translate(-50%, -50%);">
        <div class="style__StyledWriteReview write-review">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <form class="write-review__inner" enctype="multipart/form-data">
                <input name="orderDetail-id" type="hidden">
                <input name="product-id" type="hidden">
                <div class="write-review__product">
                    <img class="write-review__product-img">
                    <div class="write-review__product-wrap">
                        <div class="write-review__product-name"></div>
                    </div>
                </div>
                <div class="write-review__heading">Vui lòng đánh giá</div>
                <div class="write-review__stars">
							<span class="write-review__star" data-rating-value="1">
								<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 32 32">
									<path fill="none" fill-rule="evenodd" stroke="#FFB500" stroke-width="1.5"
                                          d="M16 1.695l-4.204 8.518-9.401 1.366 6.802 6.631-1.605 9.363L16 23.153l8.408 4.42-1.605-9.363 6.802-6.63-9.4-1.367L16 1.695z"></path>
								</svg>
							</span>
                    <span class="write-review__star" data-rating-value="2">
								<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 32 32">
									<path fill="none" fill-rule="evenodd" stroke="#FFB500" stroke-width="1.5"
                                          d="M16 1.695l-4.204 8.518-9.401 1.366 6.802 6.631-1.605 9.363L16 23.153l8.408 4.42-1.605-9.363 6.802-6.63-9.4-1.367L16 1.695z"></path>
                                </svg>
                            </span>
                    <span class="write-review__star" data-rating-value="3">
								<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 32 32">
									<path fill="none" fill-rule="evenodd" stroke="#FFB500" stroke-width="1.5"
                                          d="M16 1.695l-4.204 8.518-9.401 1.366 6.802 6.631-1.605 9.363L16 23.153l8.408 4.42-1.605-9.363 6.802-6.63-9.4-1.367L16 1.695z"></path>
								</svg>
							</span>
                    <span class="write-review__star" data-rating-value="4">
								<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 32 32">
									<path fill="none" fill-rule="evenodd" stroke="#FFB500" stroke-width="1.5"
                                          d="M16 1.695l-4.204 8.518-9.401 1.366 6.802 6.631-1.605 9.363L16 23.153l8.408 4.42-1.605-9.363 6.802-6.63-9.4-1.367L16 1.695z"></path>
								</svg>
							</span>
                    <span class="write-review__star" data-rating-value="5">
								<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 32 32">
									<path fill="none" fill-rule="evenodd" stroke="#FFB500" stroke-width="1.5"
                                          d="M16 1.695l-4.204 8.518-9.401 1.366 6.802 6.631-1.605 9.363L16 23.153l8.408 4.42-1.605-9.363 6.802-6.63-9.4-1.367L16 1.695z"></path>
								</svg>
							</span>
                    <input name="rating-value" type="hidden">
                </div>
                <textarea rows="8" class="write-review__input"></textarea>
                <div class="write-review__buttons">
                    <input class="write-review__file" type="file" multiple="">
                    <button type="button" class="write-review__button write-review__button--image"
                            style="border: 1px solid rgb(13, 92, 182); color: rgb(13, 92, 182);">
                        <img src="https://salt.tikicdn.com/ts/upload/ad/f9/bf/79e0539a981e363ba6ac5bfeef3c70da.png"><span>Thêm ảnh</span>
                        <input type="file" name="upload" class="upload__file--button"
                               accept="image/png, image/jpeg">
                    </button>
                    <button id="btn-post-review" type="button"
                            class="write-review__button write-review__button--submit" style="background-color: rgb(253, 216, 53);
								color: rgb(36, 36, 36);">
                        <span>Gửi đánh giá</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
<!--/ End Product Style 1  -->

<!-- Start Footer Area -->
<th:block th:include="common/footer"/>
<!-- /End Footer Area -->

<script th:inline="javascript">
    /*<![CDATA[*/
    // A $( document ).ready() block.
    $(document).ready(function() {
        var orderId = /*[[${orderId}]]*/;
        getListCategory();
        getInfoOrder(orderId);

        $("#btn-post-review").on("click", function () {
            let data = new FormData();
            data.append("title", $(".write-review__heading").text());
            data.append("comment", $("textarea.write-review__input").val());
            data.append("rating", $("input[name='rating-value']").val());
            data.append("productId", $("input[name='product-id']").val());
            data.append("orderDetailId", $("input[name='orderDetail-id']").val());
            data.append('image', $("input[name='upload']")[0].files[0]);
            $.ajax({
                url: "/api/review/post",
                data: data,
                type: "POST",
                enctype: 'multipart/form-data',
                // prevent jQuery from automatically transforming the data into a query string
                processData: false,
                contentType: false,
                cache: false,
                timeout: 1000000,
                success: function (result) {
                    $("#myModal").modal('hide');
                    alert(result);
                    window.location.replace("/");
                },
                error: function () {
                    alert("có lỗi xảy ra");
                }
            });
        })

        $(document).on('click', '.my-reviews_btn', function (e) {
            e.preventDefault();
            $(".write-review__product img").attr("src", $(this).closest(".product-item").find("img").attr("src"));
            $(".write-review__product-name").text($(this).closest(".product-item").find(".product-name").text());
            $("input[name='orderDetail-id']").val($(this).closest(".product-item").attr("orderDetail-id"));
            $("input[name='product-id']").val($(this).closest(".product-item").attr("product-id"));
        });

        let isClickStarRating = false;
        $('.write-review__star > svg').hover(
            function () {
                if (!isClickStarRating) {
                    let ratingValue = $(this).parent().data('rating-value');
                    if (ratingValue === 1) {
                        $(".write-review__heading").text("Rất không hài lòng");
                    } else if (ratingValue === 2) {
                        $(".write-review__heading").text("Không hài lòng");
                    } else if (ratingValue === 3) {
                        $(".write-review__heading").text("Bình thường");
                    } else if (ratingValue === 4) {
                        $(".write-review__heading").text("Hài lòng");
                    } else {
                        $(".write-review__heading").text("Rất hài lòng");
                    }
                    $(this).find('path').siblings().attr('fill', 'none');
                    $(this).find('path').attr('fill', '#FDD835');
                    $(this).parent().prevAll().find('path').attr('fill', '#FDD835');
                    $(this).parent().nextAll().find('path').attr('fill', 'none');
                }
            },
            function () {
                if (!isClickStarRating) {
                    $(".write-review__heading").text("Vui lòng đánh giá");
                    $(this).find('path').attr('fill', 'none');
                    $(this).parent().prevAll().find('path').attr('fill', 'none');
                    $(this).parent().nextAll().find('path').attr('fill', 'none');
                }
            }
        );

        $('.write-review__star > svg').on('click', function () {
            isClickStarRating = true;
            let ratingValue = $(this).parent().data('rating-value');
            if (ratingValue === 1) {
                $(".write-review__heading").text("Rất không hài lòng");
            } else if (ratingValue === 2) {
                $(".write-review__heading").text("Không hài lòng");
            } else if (ratingValue === 3) {
                $(".write-review__heading").text("Bình thường");
            } else if (ratingValue === 4) {
                $(".write-review__heading").text("Hài lòng");
            } else {
                $(".write-review__heading").text("Rất hài lòng");
            }
            $(this).find('path').siblings().attr('fill', 'none');
            $(this).find('path').attr('fill', '#FDD835');
            $(this).parent().prevAll().find('path').attr('fill', '#FDD835');
            $(this).parent().nextAll().find('path').attr('fill', 'none');
            $("input[name='rating-value']").val(ratingValue);
        });

        $(document).on("click", "tfoot > tr:nth-child(5) > td:nth-child(2) > a.cancel-order", function (e) {
            e.preventDefault();
            $.ajax({
                url: "/api/sales/order/cancel/" + orderId,
                type: "PUT",
                contentType: "application/json",
                success: function (result) {
                    if (result === true) {
                        window.location.href = "/sales/order/history";
                    }

                }
            });
        });
    });

    function getInfoOrder(orderId) {
        $.ajax({
            url: "/api/sales/order/view/" + orderId,
            type: "GET",
            dataType: 'json',
            success: function (data) {
                let order = data["order"];
                if (order !== null) {
                    $(".styles__StyledAccountOrderDetail .heading span:first-child").text("Chi tiết đơn hàng #" + order["id"]);
                    $(".styles__StyledAccountOrderDetail .heading span.status").text(order["status"]);
                    $(".styles__StyledAccountOrderDetail .created-date").text("Ngày đặt hàng: " + order["orderDate"]);
                    $(".styles__StyledAccountOrderDetail .message").find(".notifications__item .date").text(order["message"].split(" - ")[0]);
                    $(".styles__StyledAccountOrderDetail .message").find(".notifications__item .comment").text(order["message"].split(" - ")[1]);
                    $(".styles__StyledSection.order-info-1 > div.content > p.name").text(order["shippingAddress"]["contactReceiver"]);
                    $(".styles__StyledSection.order-info-1 .content p.address span:last-child").text(order["shippingAddress"]["contactAddress"]);
                    $(".styles__StyledSection.order-info-1 .content p.phone span:last-child").text(order["shippingAddress"]["contactPhone"]);
                    $(".styles__StyledSection.order-info-2 .content p:first-child").text("Giao hàng vào ngày : " + order["deliveryDate"]);
                    if (parseInt(order["shipFee"]) === 0) {
                        $(".styles__StyledSection.order-info-2 .content p:last-child").text("Miễn phí vận chuyển");
                    } else {
                        $(".styles__StyledSection.order-info-2 .content p:last-child").text("Giao hàng nhanh");
                    }
                    if (order["status"] === "Đang xử lý") {
                        $("div.Account__StyledAccountLayoutInner > div > table > tfoot")
                            .append("<tr><td colspan=\"4\"></td><td><a title=\"Hủy đơn hàng\" class=\"cancel-order\">Hủy đơn hàng</a></td></tr>");
                    }
                    $(".styles__StyledSection.order-info-3 .content p:first-child").text(order["paymentMethod"]);
                    $(".styles__StyledSection.order-info-3 .content p.cc-info").text(order["paymentMethod"]);

                    genreListOrderDetail(order["listOrderDetail"]);
                    $("table tfoot tr:first-child td:nth-child(2)").text(order["subTotal"] + " ₫");
                    $("table tfoot tr:nth-child(2) td:nth-child(2)").text("-" + order["discount"] + " ₫");
                    $("table tfoot tr:nth-child(3) td:nth-child(2)").text(order["shipFee"] + " ₫");
                    $("table tfoot tr:nth-child(4) td:nth-child(2) span.sum").text(order["total"] + " ₫");
                } else {
                    $(".styles__StyledAccountOrderDetail").empty();
                    $(".styles__StyledAccountOrderDetail").append("<div style='margin: auto;'>Không tìm thấy đơn hàng</div>")
                }
            },
            error: function() {
                alert("có lỗi xảy ra");
            }
        });
    }

    function genreListOrderDetail(listOrderDetail) {
        let firstRow = $("div.Account__StyledAccountLayoutInner > div > table > tbody > tr:first-child");
        $.each(listOrderDetail, function( index, orderDetail ) {
            let rowClone = firstRow.clone();
            rowClone.find("td:nth-child(1) > div").attr("orderDetail-id", orderDetail["id"]).attr("product-id", orderDetail["productId"]);
            rowClone.find("td:nth-child(1) > div > img").attr("src", "/images/products/" + orderDetail["productId"] + "/" + orderDetail["image"]);
            rowClone.find("td:nth-child(1) > div > div > a.product-name").attr("href", "/products/" + orderDetail["productUrl"] + ".html").text(orderDetail["productName"]);
            rowClone.find("td:nth-child(1) > div > div > div.product-review > a").attr("href", "/products/" + orderDetail["productUrl"] + ".html");
            rowClone.find("td.price").text(orderDetail["price"] + " ₫");
            rowClone.find("td.quantity").text(orderDetail["quantity"]);
            rowClone.find("td.discount-amount").text(orderDetail["discount"] + " ₫");
            rowClone.find("td.raw-total").text(orderDetail["rawTotal"] + " ₫");
            rowClone.insertAfter(firstRow);
        });
        firstRow.css("display", "none");
    }

    function getListCategory() {
        $.ajax({
            url: "/api/categories",
            type: "GET",
            contentType: "application/json",
            success: function (categories) {
                // show category
                let html = "";
                $.each(categories, function( index, item ) {
                    html += "<li>\n" +
                        "            <a class=\"parent-category\" href='/collections.html?category=" + item["categoryUrl"] + "'>" + item["categoryName"] + "</a>\n" +
                        "            <ul class=\"list-child-category\">\n";
                    if (item.hasOwnProperty("subCategory")) {
                        $.each(item["subCategory"], function( index, subItem ) {
                            html += "<li>\n" +
                                "         <a href='/collections.html?category=" + subItem["categoryUrl"] + "'>" + subItem["categoryName"] + "</a>\n" +
                                "    </li>\n";
                        });
                    }
                    html += "     </ul>\n" +
                        "</li>";

                });
                $("div.header-inner > div > div > div > div > div > nav > div > div > ul > li:nth-child(2) > ul").append(html);

            },
            error: function () {
                alert("có lỗi xảy ra, không lấy được danh sách danh mục");
            }
        });
    }


    /*]]>*/
</script>
</body>
</html>