<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <!-- Title Tag  -->
    <title th:utext="${product.getProductName()}">Chi tiết sản phẩm</title>
    <th:block th:include="common/header_tag_common"/>
    <!-- custom css  -->
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>
<body class="js">

<!-- Preloader -->
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- End Preloader -->

<!-- Header -->
<th:block th:include="common/header"/>
<!--/ End Header -->

<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a th:href="@{/}">Trang chủ<i class="ti-arrow-right"></i></a></li>
                        <li class="active">Chi tiết sản phẩm <i class="ti-arrow-right"></i></li>
                        <li><a th:href="@{'/products/' + ${product.getProductUrl()} + '.html'}" th:utext="${product.getProductName()}"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Product Style -->
<section class="product-area shop-sidebar shop section">
    <div class="container">
        <div class="modal-body">
            <div class="row no-gutters">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <!-- Product Slider -->
                    <div class="product-gallery product-detail">
                        <div class="quickview-slider-active">
                            <div class="single-slider">
                                <img src="https://via.placeholder.com/569x528" alt="#">
                            </div>
                            <div class="single-slider">
                                <img src="https://via.placeholder.com/569x528" alt="#">
                            </div>
                            <div class="single-slider">
                                <img src="https://via.placeholder.com/569x528" alt="#">
                            </div>
                            <div class="single-slider">
                                <img src="https://via.placeholder.com/569x528" alt="#">
                            </div>
                        </div>
                    </div>
                    <!-- End Product slider -->
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="quickview-content">
                        <h2 th:utext="${product.getProductName()}">Tên sản phẩm</h2>
                        <div class="quickview-ratting-review">
                            <div class="quickview-ratting-wrap">
                                <div class="quickview-ratting">
                                    <i th:each="i: ${#numbers.sequence(0, product.getRatting() - 1)}" class="yellow fa fa-star"></i>
                                    <i th:each="i: ${#numbers.sequence(0, (4 - product.getRatting()))}" class="fa fa-star"></i>
                                </div>
                                <span>( <span th:utext="${product.getNumberOfReviews()}"></span> customer review)</span>
                            </div>
                            <div class="quickview-stock">
                                <span><i class="fa fa-check-circle-o"></i> in stock</span>
                            </div>
                        </div>
                        <h3 th:utext="${product.getFinalPrice()}">$29.00</h3>
                        <div class="quickview-peragraph">
                            <p th:utext="${product.getBaseDescription()}">Mô tả sơ lược sản phẩm</p>
                        </div>
                        <div class="quantity">
                            <!-- Input Order -->
                            <div class="input-group">
                                <div class="button minus">
                                    <button type="button" class="btn btn-primary btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                                        <i class="ti-minus"></i>
                                    </button>
                                </div>
                                <input type="text" name="quant[1]" class="input-number" data-min="1" data-max="1000" value="1">
                                <div class="button plus">
                                    <button type="button" class="btn btn-primary btn-number" data-type="plus"
                                            data-field="quant[1]">
                                        <i class="ti-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <!--/ End Input Order -->
                        </div>
                        <div class="add-to-cart">
                            <a id="add-cart" th:attr="data-productUrl=${product.getProductUrl()}" class="btn">Add to cart</a>
                            <a href="#" class="btn min"><i class="ti-heart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="product__details__tab" style="margin-top: 50px;">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab" aria-selected="true">Thông tin về sản phẩm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab" aria-selected="false">Bình luận <span>(1)</span></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Thông tin chi tiết về sản phẩm</h6>
                                <p th:utext="${product.getDetailDescription()}"></p>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <div class="col-md-12">
                                <th:block th:if="${product}">
                                    <div class="list-review" style="margin: 40px;">
                                        <ul id="list-review-group" th:each="review : ${product.getReviews()}" th:if="${review.getRootComment() == null}">
                                            <li class="review-item" th:attr="data-id_comment=${review.getId()}" style="padding-bottom: 10px;">
                                                <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
                                                    <div class="col-md-12">
                                                        <div class="review-item-detail" style="display: flex; flex-direction: column;">
                                                            <div class="review-user">
                                                                <div style="float: left; border-radius: 10px;" class="review-avater">
                                                                    <img style="width: 40px;" th:src="@{/images/user-avatar.jpg}" alt="Image">
                                                                </div>
                                                                <div style="margin-left: 20px; float: left;">
                                                                    <h6 class="user-name" th:utext="${review.getUser().getFullName()}"></h6>
                                                                    <p class="comment-date" th:utext="${review.getCreatedAt()}"></p>
                                                                </div>
                                                                <div style="float: right">
                                                                    <span>Đánh giá</span>
                                                                    <ul class="reviews">
                                                                        <li class="yellow" th:each="i: ${#numbers.sequence(0, review.getRatting() - 1)}"><i class="ti-star"></i></li>
                                                                        <li th:if="${(5 - review.getRatting()) > 0}" th:each="i: ${#numbers.sequence(0, (4 - review.getRatting()))}"><i class="ti-star"></i></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="review-des" style="margin-top: 10px; margin-left: 60px;">
                                                                <div class="title">
                                                                    <p><strong th:utext="${review.getTitle()}"></strong>
                                                                    </p>
                                                                </div>
                                                                <div class="review-content">
                                                                    <span th:utext="${review.getComment()}"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12" style="padding-top: 10px;">
                                                        <div class="like-and-review" style="padding-top: 10px; margin-left: 60px;">
                                                            <span class="like" style="padding: 8px 16px 9px; line-height: 20px; font-weight: 500;border-radius: 4px;
																									margin: 0px 8px 0px 0px;cursor: pointer;display: inline-block; border: 1px solid #333;">
                                                                <i class="fa fa-thumbs-up" aria-hidden="true"></i><span>Like <span th:if="${review.getNumbersOfLike() != null}" th:utext="${'(' + review.getNumbersOfLike() + ')'}"></span></span>
                                                            </span>
                                                            <span class="reply" style="padding: 8px 16px 9px; line-height: 20px; font-weight: 500;border-radius: 4px;
																									margin: 0px 8px 0px 0px;cursor: pointer;display: inline-block;">
                                                                <i class="fa fa-reply" aria-hidden="true"></i><span>Trả lời</span>
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12 reply-input" style="margin-left: 25px; display: none;" th:attr="id=${'reply-review-' + review.getId()}">
                                                        <div class="form-group required">
                                                            <div class="col-sm-12">
                                                                <div style="margin-left: 20px; padding-top: 15px;">
                                                                    <form action="/api/review/reply" class="form-inline" method="post">
                                                                        <textarea class="form-control" type="text" placeholder="Viết câu trả lời" style="width: 90%;" rows="1"></textarea>
                                                                        <input type="hidden" class="id-root-review" th:value="${review.getId()}">
                                                                        <button type="button" class="btn btn-md btn-link send-reply-comment" style="width: 10%;">Gửi</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 review-comment_sub-comments">
                                                        <th:block th:if="${review.getSubReviews().size() > 0}">
                                                            <div class="view-reply-more">
                                                                Xem tất cả <span th:utext="${review.getSubReviews().size()}"></span> câu trả lời
                                                            </div>
                                                            <div class="list-reply-item" th:attr="id=${'reply-items-list-' + review.getId()}" style="margin-left: 48px;">
                                                                <div class="reply-item" th:each="reply : ${review.getSubReviews()}">
                                                                    <div class="info-reply-user">
                                                                        <span class="img-user-reply"><img style="width: 30px;" th:src="@{/images/user-avatar.jpg}" alt="Image"></span>
                                                                        <span class="user-name" th:utext="${reply.getUser().getFullName()}"></span>
                                                                        <span class="comment-date" th:utext="${reply.getCreatedAt()}"></span>
                                                                        <p class="reply-content" th:utext="${reply.getComment()}"></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="view-reply-less">
                                                                Ẩn <span th:utext="${review.getSubReviews().size()}"></span> câu trả lời
                                                            </div>
                                                        </th:block>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Product Style 1  -->

<!-- Start Most Popular -->
<div class="product-area most-popular section" style="padding-left: 100px; padding-right: 100px; padding-bottom: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title" style="margin-bottom: 0px;">
                    <h2>Sản phẩm tương tự</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel popular-slider">
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-img">
                            <a href="product-details.html">
                                <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
                                <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
                                <span class="out-of-stock">Hot</span>
                            </a>
                            <div class="button-head">
                                <div class="product-action">
                                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                                    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                </div>
                                <div class="product-action-2">
                                    <a title="Add to cart" href="#">Add to cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a href="product-details.html">Black Sunglass For Women</a></h3>
                            <div class="product-price">
                                <span class="old">$60.00</span>
                                <span>$50.00</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-img">
                            <a href="product-details.html">
                                <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
                                <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
                            </a>
                            <div class="button-head">
                                <div class="product-action">
                                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                                    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                </div>
                                <div class="product-action-2">
                                    <a title="Add to cart" href="#">Add to cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a href="product-details.html">Women Hot Collection</a></h3>
                            <div class="product-price">
                                <span>$50.00</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-img">
                            <a href="product-details.html">
                                <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
                                <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
                                <span class="new">New</span>
                            </a>
                            <div class="button-head">
                                <div class="product-action">
                                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                                    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                </div>
                                <div class="product-action-2">
                                    <a title="Add to cart" href="#">Add to cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a href="product-details.html">Awesome Pink Show</a></h3>
                            <div class="product-price">
                                <span>$50.00</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-img">
                            <a href="product-details.html">
                                <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
                                <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
                            </a>
                            <div class="button-head">
                                <div class="product-action">
                                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                                    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                </div>
                                <div class="product-action-2">
                                    <a title="Add to cart" href="#">Add to cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a href="product-details.html">Awesome Bags Collection</a></h3>
                            <div class="product-price">
                                <span>$50.00</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Most Popular Area -->

<!-- Start Footer Area -->
<th:block th:include="common/footer"/>
<!-- /End Footer Area -->

<script th:inline="javascript">
    /*<![CDATA[*/
    // A $( document ).ready() block.
    $(document).ready(function() {

        $("button.send-reply-comment").click(function () {
            let url = $(this).closest("form").attr("action");
            let idUser = $('#login-user-id').attr('data-idUser');
            let idReview = $(this).closest("li").attr("data-id_comment");
            let content = $(this).closest("form").find("textarea.reply-comment_input").val();
            if (idUser === 'null') {
                alert("bạn chưa đăng nhập");
            }
        });

        $("div.view-reply-more").click(function () {
            $(this).hide();
            $(this).parent().find(".list-reply-item").show();
            $(this).parent().find(".view-reply-less").show();
        });

        $("div.view-reply-less").click(function () {
            $(this).hide();
            $(this).parent().find(".list-reply-item").hide();
            $(this).parent().find(".view-reply-more").show();
        });

        $(".reply").click(function () {
            let idReview = $(this).closest("li").attr("data-id_comment");
            if ($("#reply-review-" + idReview).css('display') === 'block') {

                $("#reply-review-" + idReview).hide();
            } else if ($("#reply-review-" + idReview).css('display') === 'none') {
                $("#reply-review-" + idReview).show();
            }
        });

        $( ".send-reply-comment" ).click(function() {
            let userLogged = [[${#request.userPrincipal}]];
            if (userLogged !== null) {
                let idReview = $(this).closest(".review-item").attr("data-id_comment");
                let data = {
                    "rootId" : $(this).parent().find(".id-root-review").val(),
                    "comment": $(this).parent().find("textarea").val()
                }
                $.ajax({
                    url: $(this).parent().attr('action'),
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (result) {
                        let numberOfReview = $("#reply-items-list-" + idReview).siblings(".view-reply-more").find('span').text();
                        $("div.reply-input").hide();
                        let html = "<div  class=\"reply-item\">\n" +
                            "            <div class=\"info-reply-user\">\n" +
                            "                 <span class=\"img-user-reply\"><img src='/images/user-avatar.jpg' style=\"width: 30px;\" alt=\"Image\"></span>\n" +
                            "                 <span class=\"user-name\">" + result["reviewerName"] + "</span>\n" +
                            "                 <span class=\"comment-date\">" + result["updatedAt"] + "</span>\n" +
                            "                 <p class=\"reply-content\">" + result["comment"] + "</p>\n" +
                            "            </div>\n" +
                            "        </div>";
                        $("#reply-items-list-" + idReview).siblings(".view-reply-more").find('span').text(parseInt(numberOfReview) + 1);
                        $("#reply-items-list-" + idReview).siblings(".view-reply-less").find('span').text(parseInt(numberOfReview) + 1);
                        $(html).delay(500).prependTo("#reply-items-list-" + idReview).hide().slideDown().fadeIn();
                    },
                    error: function() {
                        alert("có lỗi xảy ra");
                    }
                });
            } else {
                alert("Bạn chưa đăng nhập");
            }

        });
    });
    /*]]>*/
</script>
</body>
</html>