<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Sản phẩm đã mua</title>
    <th:block th:include="user/common/header_tag_common"/>
    <!-- custom css  -->
    <link rel="stylesheet" th:href="@{/css/custom2.css}">
    <link rel="stylesheet" th:href="@{/css/modal-alert.css}">
    <style>
        html {
            font-family: Roboto, Helvetica, Arial, sans-serif;
        }
    </style>
</head>
<body class="js">
<!-- Header -->
<th:block th:include="user/common/header"/>
<!--/ End Header -->

<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a th:href="@{/}">Trang chủ<i class="ti-arrow-right"></i></a></li>
                        <li class="active"><a th:href="@{/nhan-xet-san-pham-ban-da-mua}">Nhận xét sản phẩm đã mua</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Product Style -->
<section class="product-area shop-sidebar shop section" style="padding-top: 15px; min-height: 650px;">
    <div class="container">
        <div class="row">
            <!-- Start account items manager Area -->
            <th:block th:include="user/common/left-navbar-manager"/>

            <div class="Account__StyledAccountLayoutInner" id="post_review">
                <div class="style__StyledMyReviews">
                    <div class="my-reviews__heading">Nhận xét sản phẩm đã mua</div>
                    <div class="my-reviews__inner inner">
                        <a class="my-reviews__item">
                            <div class="my-reviews__info">
                                <img style="width: 100%; height: 310px;">
                                <div class="my-reviews__name"></div>
                            </div>
                            <button class="my-reviews__button" data-toggle="modal" data-target="#reviewModal">Viết nhận xét
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <!-- viết nhận xét sản phẩm tại đây-->
            <div class="modal" id="reviewModal" tabindex="-1" role="dialog" aria-label="Viết nhận xét">
                <div class="style__StyledWriteReview write-review">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <form class="write-review__inner" enctype="multipart/form-data">
                        <input name="orderItem-id" type="hidden">
                        <input name="product-id" type="hidden">
                        <div class="write-review__product">
                            <img class="write-review__product-img">
                            <div class="write-review__product-wrap">
                                <div class="write-review__product-name"></div>
                            </div>
                        </div>
                        <div class="write-review__heading">Vui lòng đánh giá</div>
                        <div class="write-review__stars">
							<span class="write-review__star" data-rating-value="1">
								<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 32 32">
									<path fill="none" fill-rule="evenodd" stroke="#FFB500" stroke-width="1.5"
                                          d="M16 1.695l-4.204 8.518-9.401 1.366 6.802 6.631-1.605 9.363L16 23.153l8.408 4.42-1.605-9.363 6.802-6.63-9.4-1.367L16 1.695z"></path>
								</svg>
							</span>
                            <span class="write-review__star" data-rating-value="2">
								<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 32 32">
									<path fill="none" fill-rule="evenodd" stroke="#FFB500" stroke-width="1.5"
                                          d="M16 1.695l-4.204 8.518-9.401 1.366 6.802 6.631-1.605 9.363L16 23.153l8.408 4.42-1.605-9.363 6.802-6.63-9.4-1.367L16 1.695z"></path>
                                </svg>
                            </span>
                            <span class="write-review__star" data-rating-value="3">
								<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 32 32">
									<path fill="none" fill-rule="evenodd" stroke="#FFB500" stroke-width="1.5"
                                          d="M16 1.695l-4.204 8.518-9.401 1.366 6.802 6.631-1.605 9.363L16 23.153l8.408 4.42-1.605-9.363 6.802-6.63-9.4-1.367L16 1.695z"></path>
								</svg>
							</span>
                            <span class="write-review__star" data-rating-value="4">
								<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 32 32">
									<path fill="none" fill-rule="evenodd" stroke="#FFB500" stroke-width="1.5"
                                          d="M16 1.695l-4.204 8.518-9.401 1.366 6.802 6.631-1.605 9.363L16 23.153l8.408 4.42-1.605-9.363 6.802-6.63-9.4-1.367L16 1.695z"></path>
								</svg>
							</span>
                            <span class="write-review__star" data-rating-value="5">
								<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 32 32">
									<path fill="none" fill-rule="evenodd" stroke="#FFB500" stroke-width="1.5"
                                          d="M16 1.695l-4.204 8.518-9.401 1.366 6.802 6.631-1.605 9.363L16 23.153l8.408 4.42-1.605-9.363 6.802-6.63-9.4-1.367L16 1.695z"></path>
								</svg>
							</span>
                            <input name="rating-value" type="hidden">
                        </div>
                        <textarea rows="8" class="write-review__input"></textarea>
                        <div class="write-review__buttons">
                            <button id="btn-post-review" type="button"
                                    class="write-review__button write-review__button--submit" style="background-color: rgb(253, 216, 53);
								color: rgb(36, 36, 36);">
                                <span>Gửi đánh giá</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Product Style 1  -->

<!-- Start Footer Area -->
<th:block th:include="user/common/footer"/>
<!-- /End Footer Area -->

<!-- The Modal -->
<div id="myModal" class="myModal" style="display:none;">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="closeModal">&times;</span>
        <img src="/images/check-success-icon.png">
        <p></p>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    // A $( document ).ready() block.
    $(document).ready(function () {
        getListCategory();
        getProductsIsUnReviewed();
        actionForModal();

        $("#btn-post-review").on("click", function () {
            let data = {
                "title": $(".write-review__heading").text(),
                "comment": $("textarea.write-review__input").val(),
                "rating": $("input[name='rating-value']").val(),
                "productId": $("input[name='product-id']").val(),
                "orderDetailId": $("input[name='orderItem-id']").val()
            };

            $("#reviewModal").find("input[name='rating-value']").empty();
            $("#reviewModal").find(".write-review__heading").text("Vui lòng đánh giá");
            $("#reviewModal").find('path').attr('fill', 'none');
            $('#reviewModal').modal('hide');
            postReview(data);
        });

        $(document).on('click', '.my-reviews__button', function (e) {
            e.preventDefault();
            $(".write-review__product img").attr("src", $(this).siblings(".my-reviews__info").find("img").attr("src"));
            $(".write-review__product-name").text($(this).siblings(".my-reviews__info").find(".my-reviews__name").text());
            $("input[name='orderItem-id']").val($(this).siblings(".my-reviews__info").attr("orderItem-id"));
            $("input[name='product-id']").val($(this).siblings(".my-reviews__info").attr("product-id"));
        });

        let isClickStarRating = false;
        $('.write-review__star > svg').hover(
            function () {
                if (!isClickStarRating) {
                    let ratingValue = $(this).parent().data('rating-value');
                    if (ratingValue === 1) {
                        $(".write-review__heading").text("Rất không hài lòng");
                    } else if (ratingValue === 2) {
                        $(".write-review__heading").text("Không hài lòng");
                    } else if (ratingValue === 3) {
                        $(".write-review__heading").text("Bình thường");
                    } else if (ratingValue === 4) {
                        $(".write-review__heading").text("Hài lòng");
                    } else {
                        $(".write-review__heading").text("Rất hài lòng");
                    }
                    $(this).find('path').siblings().attr('fill', 'none');
                    $(this).find('path').attr('fill', '#FDD835');
                    $(this).parent().prevAll().find('path').attr('fill', '#FDD835');
                    $(this).parent().nextAll().find('path').attr('fill', 'none');
                }
            },
            function () {
                if (!isClickStarRating) {
                    $(".write-review__heading").text("Vui lòng đánh giá");
                    $(this).find('path').attr('fill', 'none');
                    $(this).parent().prevAll().find('path').attr('fill', 'none');
                    $(this).parent().nextAll().find('path').attr('fill', 'none');
                }
            }
        );

        $('.write-review__star > svg').on('click', function () {
            isClickStarRating = true;
            let ratingValue = $(this).parent().data('rating-value');
            if (ratingValue === 1) {
                $(".write-review__heading").text("Rất không hài lòng");
            } else if (ratingValue === 2) {
                $(".write-review__heading").text("Không hài lòng");
            } else if (ratingValue === 3) {
                $(".write-review__heading").text("Bình thường");
            } else if (ratingValue === 4) {
                $(".write-review__heading").text("Hài lòng");
            } else {
                $(".write-review__heading").text("Rất hài lòng");
            }
            $(this).find('path').siblings().attr('fill', 'none');
            $(this).find('path').attr('fill', '#FDD835');
            $(this).parent().prevAll().find('path').attr('fill', '#FDD835');
            $(this).parent().nextAll().find('path').attr('fill', 'none');
            $("input[name='rating-value']").val(ratingValue);
        });
    });

    /*]]>*/
</script>
</body>
</html>