<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Sản phẩm yêu thích</title>
    <th:block th:include="user/common/header_tag_common"/>
    <!-- custom css  -->
    <link rel="stylesheet" th:href="@{/css/custom2.css}">
    <link rel="stylesheet" th:href="@{/css/style-alert.css}"/>
    <link rel="stylesheet" th:href="@{/css/modal-alert.css}">
    <style>
        html {
            font-family: Roboto, Helvetica, Arial, sans-serif;
        }
    </style>
</head>
<body class="js">
<!-- Header -->
<th:block th:include="user/common/header"/>
<!--/ End Header -->

<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a th:href="@{/}">Trang chủ<i class="ti-arrow-right"></i></a></li>
                        <li class="active">Thông tin tài khoản</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Product Style -->
<section class="product-area shop-sidebar shop section" style="padding-top: 15px;">
    <div class="container">
        <div class="row">
            <!-- Start account items manager Area -->
            <th:block th:include="user/common/left-navbar-manager"/>
            <!-- /End account items manager Area -->

            <div class="Account__StyledAccountLayoutInner">
                <div class="styles__StyledAccountWishList">
                    <div class="heading">Danh sách yêu thích (<span></span>)</div>
                    <div class="inner">
                        <ul class="list">
                            <li class="item" style="border-bottom: 1px solid #c4bbbc;">
                                <button class="btn-delete">×</button>
                                <div class="thumbnail">
                                    <a>
                                        <div class="Picture__StyledPicture fxEVSg  loaded">
                                            <img class="image">
                                        </div>
                                    </a>
                                </div>
                                <div class="body">
                                    <a class="name"></a>
                                    <div class="ratting">
                                        <div class="ratting-wrap" style="display: flex;">
                                            <div class="ratting-star">
                                            </div>
                                            <span></span>
                                        </div>
                                    </div>
                                    <span class="review-count"></span>
                                    <div class="description">
                                    </div>
                                </div>
                                <div class="footer_favourite">
                                    <div class="final-price" style="font-size: 16px;font-weight: 600;"></div>
                                    <div class="wrap">
                                        <div class="price" style="margin-right: 6px"></div> |
                                        <div class="discount"></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Product Style 1  -->

<!-- Start Footer Area -->
<th:block th:include="user/common/footer"/>
<!-- /End Footer Area -->

<!-- The Modal -->
<div id="myModal" class="myModal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="closeModal">&times;</span>
        <img src="/images/check-success-icon.png">
        <p></p>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    // A $( document ).ready() block.
    $(document).ready(function () {
        getListCategory();
        getWishlistProducts();
        actionForModal();

        $(document).on("click", "div.Account__StyledAccountLayoutInner > div > div.inner > ul > li > button.btn-delete", function () {
            let productId = $(this).attr("product-id");
            removeProductFromWishlist($(this), productId);
        });
    });


    /*]]>*/
</script>
</body>
</html>