<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <!-- Title Tag  -->
    <title>Thanh toán đơn hàng</title>
    <th:block th:include="user/common/header_tag_common"/>
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <link rel="stylesheet" th:href="@{/css/modal-alert.css}">
    <style type="text/css">
        .header .cart-item-list li {
            overflow: hidden;
            border-bottom: 1px solid #e6e6e6;
            padding-bottom: 15px;
            margin-bottom: 15px;
            position: relative;
        }
        .header .cart-item-list li .remove {
            position: absolute;
            left: 0;
            bottom: 16px;
            margin-top: -20px;
            height: 20px;
            width: 20px;
            line-height: 18px;
            text-align: center;
            background: #fff;
            color: #222;
            border-radius: 0;
            font-size: 11px;
            border: 1px solid #ededed;
        }

        .header .cart-item-list li .remove:hover {
            background: #222;
            color: #fff !important;
            border-color: transparent;
        }

        .header .cart-item-list .cart-img {
            float: right;
            border: 1px solid #ededed;
            overflow: hidden;
        }

        .header .cart-item-list .cart-img img {
            width: 70px;
            height: 70px;
            border-radius: 0;

        }

        .header .cart-item-list .cart-img:hover img {
            transform: scale(1.09);
        }

        .header .cart-item-list .quantity {
            line-height: 22px;
            font-size: 13px;
            padding-bottom: 30px;
        }

        .header .cart-item-list h4 {
            font-size: 14px;
        }

        .header .cart-item-list h4 a {
            font-weight: 600;
            font-size: 13px;
            color: #333;
        }

        .header .cart-item-list h4 a:hover {
            color: #F7941D;
        }

        .loader {
            margin-left: auto;
            margin-right: auto;
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #424646;
            border-bottom: 16px solid #424646;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }

        .shop.checkout .single-widget .checkbox {
            text-align: left;
            margin: 0;
            padding: 0px 30px;
            /* margin-top: 30px; */
        }

    </style>
    <link rel="stylesheet" th:href="@{/css/custom2.css}">

</head>
<body class="js">

<!-- Header -->
<th:block th:include="user/common/header"/>
<!--/ End Header -->

<!-- Breadcrumbs -->
<div class="breadcrumbs" style="background-color: #fff;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a th:href="@{/}">Trang chủ<i class="ti-arrow-right"></i></a></li>
                        <li class="active"><a th:href="@{/checkout}">Thanh toán đơn hàng</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Start Checkout -->
<section class="shop checkout section" style="background-color: #F6F7FB; min-height: 650px;">
    <div class="container">
        <!-- Form -->
        <form class="form" id="payment">
            <div class="row">
                <div class="col-lg-6">
                    <div class="header" style="min-height: 246px; border-radius: 5px; margin-bottom: 20px; filter: drop-shadow(rgba(0, 0, 0, 0.15) 0px 1px 3px); background-color: #fff;">
                        <div class="single-widget">
                            <h2>Đơn hàng gồm có</h2>
                            <div class="shopping-item" style="padding: 10px 30px;">
                                <ul class="cart-item-list">
                                    <li>
                                        <a class="cart-img" href="#"><img alt="image"></a>
                                        <h4><a></a></h4>
                                        <p style="margin-top: 24px;"><span class="quantity"></span> - <span class="amount"></span></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--/ End Shopping Item -->
                    </div>
                    <div class="order-details" style="border-radius: 5px; margin-top: 0px; margin-bottom: 20px; filter: drop-shadow(rgba(0, 0, 0, 0.15) 0px 1px 3px); background-color: #fff;">
                        <!-- Order Widget -->
                        <div class="single-widget" style="margin-bottom: 0px;">
                            <h2>SỐ TIỀN THANH TOÁN</h2>
                            <div class="content">
                                <div class="checkbox" style="padding: 0px 0px;">
                                    <ul style="margin-top: 0px;">
                                        <li>Tổng các mặt hàng<span id="sub-total" th:utext="${session.subCart}"></span></li>
                                        <li>(+) Phí vận chuyển<span id="ship-fee">0</span></li>
                                        <li>(-) Giảm giá<span id="discount">0</span></li>
                                        <li class="last">Tổng thanh toán
                                            <span id="total-cart" th:utext="${session.subCart}"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="checkout-form" style="border-radius: 5px; margin-top: 0px; margin-bottom: 20px; filter: drop-shadow(rgba(0, 0, 0, 0.15) 0px 1px 3px); background-color: #fff;">
                        <div class="single-widget">
                            <div style="display: flex; justify-content: space-between">
                                <h2>Địa chỉ giao hàng</h2>
                                <a style="margin: auto 30px auto 0px; font-size: 13px; color: rgb(13, 92, 182); cursor: pointer;"
                                   data-toggle="modal" data-target="#addressModal">Thay đổi</a>
                            </div>
                            <div class="contact-address" style="padding: 10px 30px;">
                                <div class="address" style="display: inline-grid; padding-bottom: 10px;">
                                    <span class="name"
                                          style="font-size: 15px; font-weight: 700; margin-top: 15px;margin-bottom: 10px;"></span>
                                    <span class="street"
                                          style="margin: 0px;color: rgb(120, 120, 120);font-size: 13px;"></span>
                                    <span class="phone"></span>
                                </div>

                                <div class="form-group note">
                                    <label>Ghi chú<span>*</span></label>
                                    <textarea name="note" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <!--/ End Form -->
                    </div>
                    <div class="header" style="border-radius: 5px; margin-top: 0px; margin-bottom: 20px; filter: drop-shadow(rgba(0, 0, 0, 0.15) 0px 1px 3px); background-color: #fff;">
                        <div class="single-widget">
                            <div style="display: flex; justify-content: space-between">
                                <h2>Mã giảm giá</h2>
                                <a style="margin: auto 30px auto 0px; font-size: 13px; color: rgb(13, 92, 182); cursor: pointer;"
                                   data-toggle="modal" data-target="#discountModal">Dành cho bạn</a>
                            </div>
                            <div class="coupon" style="padding: 30px 30px;display: flex;">
                                <form>
                                    <input name="coupon" placeholder="Nhập mã giảm giá" style="
                                           margin-right: 10px;
                                            width: 70%;
                                            height: 48px;
                                            color: #333;
                                            padding: 0px 20px;
                                            box-shadow: 0px 0px 5px #0000000a;
                                            border: 1px solid #5a5656;
                                            border-radius: 5px;">
                                    <button class="btn" type="button" style="height: 48px;
                                            padding: 0px;
                                            width: 30%;
                                            color: #333;
                                            background: #fff;
                                            box-shadow: 0px 0px 5px #00000012;
                                            border: 1px solid #5a5656;
                                            border-radius: 5px;">Áp dụng
                                    </button>
                                </form>
                            </div>
                        </div>
                        <!--/ End Order Widget -->
                    </div>
                </div>
            </div>
        </form>
        <div class="group-action-button" style="padding-top: 30px;">
            <!-- Button Widget -->
            <div class="single-widget get-button" style="padding: 0px;">
                <div style="display: flex; justify-content: space-between;">
                    <div class="button">
                        <button id="payment-order" type="submit">
                            <a class="btn">Tiến hành đặt hàng</a>
                        </button>
                    </div>
                    <div class="button">
                        <button type="submit">
                            <a th:href="@{/cart.html}" class="btn">Xem lại giỏ hàng</a>
                        </button>
                    </div>
                </div>
            </div>
            <!--/ End Button Widget -->
        </div>
    </div>
</section>
<!--/ End Checkout -->

<!-- Start Shop Services Area  -->
<section class="shop-services section home" style="background-color: white;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-rocket"></i>
                    <h4>Miễn phí giao hàng</h4>
                    <p>Đơn đặt hàng trên $ 100</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-reload"></i>
                    <h4>MIỄN PHÍ ĐỔI TRẢ</h4>
                    <p>Trong vòng 30 ngày trở lại</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-lock"></i>
                    <h4>BẢO MẬT THANH TOÁN</h4>
                    <p>Thanh toán an toàn 100%</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-tag"></i>
                    <h4>GIÁ CẢ TỐT NHẤT</h4>
                    <p>Giá đảm bảo</p>
                </div>
                <!-- End Single Service -->
            </div>
        </div>
    </div>
</section>
<!-- End Shop Services -->

<!-- The Modal -->
<div class="modal fade" id="addressModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 100%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ti-close" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body" style="overflow-x:hidden;">
                <div class="row no-gutters">
                    <div class="card-deck">
                        <div class="card" style="display: none; border: 1px dashed red; border-radius: .25rem;">
                            <div class="card-body">
                                <div class="address-item">
                                    <p class="name" style="text-transform: uppercase;  margin: 0px 0px 10px; font-weight: 500;">
                                        <span></span>
                                    </p>
                                    <p class="address">
                                        <span>Địa chỉ: </span> <span></span>
                                    </p>
                                    <p class="phone">
                                        <span>Điện thoại: </span> <span></span>
                                    </p>
                                    <div class="center" style="display: flex; justify-content: center; align-items: center;">
                                        <button type="button" class="btn select-address">Giao đến địa chỉ này</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- The Modal -->
<div class="modal fade" id="discountModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 100%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ti-close" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body" style="overflow-x:hidden; padding: 20px;">
                <p style="text-align: center; font-size: 1.25rem; font-weight: 600; padding-bottom: 10px;">Mã giảm giá dành cho đơn hàng</p>
                <div class="row no-gutters card-deck">
                    <div class="card col-md-6" style="display: none; border: 1px dashed red;">
                        <div class="promotion-item" style="padding-bottom: 15px; padding-top: 15px;">
                            <p class="title" style="margin: 0px 0px 10px; font-weight: 500;">
                                <span></span>
                            </p>
                            <p class="code">
                                <span>Mã giảm giá: </span> <span></span>
                            </p>
                            <p class="end-date">
                                <span>Ngày hết hạn: </span> <span></span>
                            </p>
                            <div class="center" style="display: flex; justify-content: center; align-items: center;">
                                <button type="button" class="btn apply-coupon">Áp dụng</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Start Footer Area -->
<th:block th:include="user/common/footer"/>
<!-- /End Footer Area -->

<!-- The Modal -->
<div id="paymentModal" class="myModal" style="display: none;">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="closeModal">&times;</span>
        <div class="loader"></div>
        <p style="color:#424646;"></p>
    </div>
</div>

<div id="myModal" class="myModal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="closeModal">&times;</span>
        <img src="/images/coupon.png">
        <p></p>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    // A $( document ).ready() block.
    $(document).ready(function () {
        getListCategory();
        getInfoPayment();
        getShippingAddress();
        getDiscountForOrder();
        actionForModal();

        $(".coupon button").on("click", function () {
            let couponCode = $(".coupon input[name='coupon']").val();
            if (couponCode === "") {
                $(".coupon").after("<div class='error-msg' style='color: red; margin-left: 30px; margin-right: 30px; padding-bottom: 20px;'>Bạn chưa nhập mã giảm giá</div>")
            } else {
                let data = {"couponCode": couponCode}
                applyCoupon(data);
                $("#myModal").css("display", "block");
                $("#myModal > div.modal-content > p").text("Mã giảm giá đã được áp dụng!");
            }
        });

        $(".shop.checkout .single-widget.get-button #payment-order").on("click", function (e) {
            e.preventDefault();
            $("#paymentModal").css("display", "block");
            $("#paymentModal > div.modal-content > p").text("Vui lòng chờ trong giây lát!");
            payment();
        });

        $(document).on("click", "button.select-address", function () {
            let receiver = $(this).closest("div.address-item").find("p.name > span:nth-child(1)").text();
            let address = $(this).closest("div.address-item").find("p.address > span:nth-child(2)").text();
            let phone = $(this).closest("div.address-item").find("p.phone > span:nth-child(2)").text();
            $(".contact-address .address .name").text(receiver);
            $(".contact-address .address .street").text(address);
            $(".contact-address .address .phone").text("Điện thoại : " + phone);
            $('#addressModal').modal('hide');
        });

        $(document).on("click", "button.apply-coupon", function () {
            let couponCode = $(this).closest("div.promotion-item").find("p.code > span:nth-child(2)").text();
            $(".coupon input[name='coupon']").val(couponCode);
            $('#discountModal').modal('hide');
        });
    });


    /*]]>*/
</script>
</body>
</html>