<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <!-- Title Tag  -->
    <title>Trang chủ</title>
    <th:block th:include="user/common/header_tag_common"/>
    <style>
        .owl-carousel .owl-stage {
            display: flex !important;
        }
        .owl-carousel .owl-item img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-width: initial;
        }
    </style>
</head>
<body class="js">

<!-- Preloader -->
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- End Preloader -->

<!-- Header -->
<th:block th:include="user/common/header"/>
<!--/ End Header -->

<!-- Slider Area -->
<section class="hero-slider">
    <!-- Single Slider -->
    <div class="single-slider" style="background-image: url('/images/banner.jpg')">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-9 offset-lg-3 col-12">
                    <div class="text-inner">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Single Slider -->
</section>
<!--/ End Slider Area -->

<!-- Start Most Popular -->
<div class="product-area most-popular section" style="min-height: 650px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Sản phẩm Hot</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel popular-slider-1">
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-img">
                            <a>
                                <img class="default-img" style="height: 371px;">
                                <img class="hover-img">
                                <span class="out-of-stock">Hot</span>
                            </a>
                            <div class="button-head">
                                <div class="product-action" style="margin-right: 10px;">
                                    <a th:if="${#request.userPrincipal}" title="Wishlist" style="margin-right: 15px;">
                                        <i class="ti-heart"></i><span>Thêm vào Wishlist</span>
                                    </a>
                                </div>
                                <div class="product-action-2">
                                    <a title="Add to cart">Thêm vào giỏ hàng</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-content" style="text-align: center;">
                            <h3><a></a></h3>
                            <div class="product-price">
                                <span style="font-size: 18px;"></span>
                                <span class="old"></span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Most Popular Area -->

<!-- Start Shop Services Area  -->
<section class="shop-services section home">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-rocket"></i>
                    <h4>Miễn phí giao hàng</h4>
                    <p>Đơn đặt hàng trên $ 100</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-reload"></i>
                    <h4>MIỄN PHÍ ĐỔI TRẢ</h4>
                    <p>Trong vòng 30 ngày trở lại</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-lock"></i>
                    <h4>BẢO MẬT THANH TOÁN</h4>
                    <p>Thanh toán an toàn 100%</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-tag"></i>
                    <h4>GIÁ CẢ TỐT NHẤT</h4>
                    <p>Giá đảm bảo</p>
                </div>
                <!-- End Single Service -->
            </div>
        </div>
    </div>
</section>
<!-- End Shop Services -->

<!-- Start Footer Area -->
<th:block th:include="user/common/footer"/>
<!-- /End Footer Area -->

<script th:inline="javascript">
    /*<![CDATA[*/
    // A $( document ).ready() block.
    $(document).ready(function () {
        getListCategory();
        getProductPopular();
    });

    function getProductPopular() {
        $.ajax({
            url: "/api/recommendation/popularity/6",
            type: "GET",
            dataType : "json",
            contentType: "application/json",
            success: function (products) {

                console.log(products);

                $("div.popular-slider-1 > div:nth-child(1)").nextAll().remove();
                let firstItem = $("div.popular-slider-1 > div:nth-child(1)");
                $.each(products, function (index, item) {
                    let itemClone = firstItem.clone();
                    itemClone.removeClass("active");
                    itemClone.show();
                    if (item.hasOwnProperty("mainImage")) {
                        itemClone.find("div.product-img > a").attr("href", "/products/" + item["productUrl"]);
                        itemClone.find("div.product-img > a > img.default-img").attr("src", item["mainImage"]);
                        itemClone.find("div.product-img > a > img.hover-img").attr("src", item["smallImage"]);
                    }
                    itemClone.find("div.product-content > h3 > a").attr("href", "/products/" + item["productUrl"]).text(item["originalTitle"]);
                    itemClone.find("div.product-img > div > div.product-action > a").attr("href", "/api/account/wishlist/add/" + item["id"]);
                    itemClone.find("div.product-action-2 > a").attr("href", "/api/cart/quick-addToCart/" + item["productUrl"]);
                    itemClone.find("div.product-content > div > span:nth-child(1)").text("$" + item["finalPrice"]);
                    itemClone.find("div.product-content > div > span.old").text("$" + item["price"]);
                    $("div.popular-slider-1").append(itemClone);
                });
                firstItem.remove();

                $(".popular-slider-1").owlCarousel({
                    items:1,
                    autoplay:true,
                    autoplayTimeout:5000,
                    smartSpeed: 400,
                    animateIn: 'fadeIn',
                    animateOut: 'fadeOut',
                    autoplayHoverPause:true,
                    loop:true,
                    nav:true,
                    merge:true,
                    dots:false,
                    navText: ['<i class="ti-angle-left"></i>', '<i class="ti-angle-right"></i>'],
                    responsive:{
                        0: {
                            items:1,
                        },
                        300: {
                            items:1,
                        },
                        480: {
                            items:2,
                        },
                        768: {
                            items:3,
                        },
                        1170: {
                            items:4,
                        },
                    }
                });
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    }
    /*]]>*/
</script>

</body>
</html>