<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chi tiết đơn hàng</title>
    <th:block th:include="user/common/header_tag_common"/>
    <!-- custom css  -->
    <link rel="stylesheet" th:href="@{/css/custom2.css}">
    <link rel="stylesheet" th:href="@{/css/modal-alert.css}">
    <style>
        html {
            font-family: Roboto, Helvetica, Arial, sans-serif;
        }
    </style>
</head>
<body class="js">

<!-- Header -->
<th:block th:include="user/common/header"/>
<!--/ End Header -->

<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a th:href="@{/}">Trang chủ<i class="ti-arrow-right"></i></a></li>
                        <li class="active">Thông tin tài khoản</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Product Style -->
<section class="product-area shop-sidebar shop section" style="padding-top: 15px;">
    <div class="container">
        <div class="row">
            <!-- Start account items manager Area -->
            <th:block th:include="user/common/left-navbar-manager"/>
            <!-- /End account items manager Area -->

            <div class="Account__StyledAccountLayoutInner">
                <div class="styles__StyledAccountOrderDetail">
                    <div class="heading"><span></span><span class="split">-</span><span class="status"></span></div>
                    <div class="created-date"></div>
                    <div class="styles__StyledSection message">
                        <div class="title">Thông báo</div>
                        <div class="content">
                            <div class="notifications">
                                <div class="notifications__item">
                                    <div class="date"></div>
                                    <div class="comment">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="styles__StyledGroupSection">
                        <div class="styles__StyledSection order-info-1">
                            <div class="title">Địa chỉ người nhận</div>
                            <div class="content">
                                <p class="name" style="color: rgb(21 20 20);"></p>
                                <p class="address">
                                    <span style="color: rgb(21 20 20);">Địa chỉ: </span> <span></span>
                                </p>
                                <p class="phone">
                                    <span style="color: rgb(21 20 20);">Điện thoại: </span>
                                    <span></span>
                                </p>
                            </div>
                        </div>
                        <div class="styles__StyledSection order-info-2">
                            <div class="title">Phương thức thanh toán</div>
                            <div class="content">
                                <p>Thanh toán khi nhận hàng</p>
                                <p>Được kiểm tra hàng trước khi thanh toán</p>
                            </div>
                        </div>
                        <div class="styles__StyledSection order-info-3">
                            <div class="title">Giá trị đơn hàng</div>
                            <div class="content">
                                <p id="total_price"></p>
                            </div>
                        </div>
                    </div>
                    <table class="styles__StyledProductList">
                        <thead>
                        <tr>
                            <th>Sản phẩm</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>Giảm giá</th>
                            <th>Tạm tính</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="product-item">
                                        <img>
                                        <div class="product-info">
                                            <a class="product-name"></a>
                                            <p class="product-seller"><a></a></p>
                                            <div class="product-review">
                                                <a>Mua lại</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="price"></td>
                                <td class="quantity"></td>
                                <td class="promotion-amount"></td>
                                <td class="raw-total"></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4"><span>Tạm tính</span></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="4"><span>Giảm giá</span></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="4"><span>Phí vận chuyển</span></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="4"><span>Tổng cộng</span></td>
                                <td><span class="sum"></span></td>
                            </tr>
                        </tfoot>
                    </table>
                    <a class="view-list-order" th:href="@{/sales/order/history}">&lt;&lt; Quay lại đơn hàng của tôi</a>
                    <a class="view-tracking-detail" th:href="@{'/sales/order/tracking/' + ${orderId}}">Theo dõi đơn hàng</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Product Style 1  -->

<!-- The Modal -->
<div id="myModal" class="myModal" style="z-index: 9999;">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="closeModal">&times;</span>
        <img src="/images/check-success-icon.png">
        <p></p>
    </div>
</div>

<!-- Start Footer Area -->
<th:block th:include="user/common/footer"/>
<!-- /End Footer Area -->

<script th:inline="javascript">
    /*<![CDATA[*/
    // A $( document ).ready() block.
    $(document).ready(function() {
        var orderId = /*[[${orderId}]]*/;
        getInfoOrder(orderId);
        actionForModal();
        getListCategory();

        $(document).on('click', '.my-reviews_btn', function (e) {
            e.preventDefault();
            $(".write-review__product img").attr("src", $(this).closest(".product-item").find("img").attr("src"));
            $(".write-review__product-name").text($(this).closest(".product-item").find(".product-name").text());
            $("input[name='orderItem-id']").val($(this).closest(".product-item").attr("orderItem-id"));
            $("input[name='product-id']").val($(this).closest(".product-item").attr("product-id"));
        });

        let isClickStarRating = false;
        $('.write-review__star > svg').hover(
            function () {
                if (!isClickStarRating) {
                    let ratingValue = $(this).parent().data('rating-value');
                    if (ratingValue === 1) {
                        $(".write-review__heading").text("Rất không hài lòng");
                    } else if (ratingValue === 2) {
                        $(".write-review__heading").text("Không hài lòng");
                    } else if (ratingValue === 3) {
                        $(".write-review__heading").text("Bình thường");
                    } else if (ratingValue === 4) {
                        $(".write-review__heading").text("Hài lòng");
                    } else {
                        $(".write-review__heading").text("Rất hài lòng");
                    }
                    $(this).find('path').siblings().attr('fill', 'none');
                    $(this).find('path').attr('fill', '#FDD835');
                    $(this).parent().prevAll().find('path').attr('fill', '#FDD835');
                    $(this).parent().nextAll().find('path').attr('fill', 'none');
                }
            },
            function () {
                if (!isClickStarRating) {
                    $(".write-review__heading").text("Vui lòng đánh giá");
                    $(this).find('path').attr('fill', 'none');
                    $(this).parent().prevAll().find('path').attr('fill', 'none');
                    $(this).parent().nextAll().find('path').attr('fill', 'none');
                }
            }
        );

        $('.write-review__star > svg').on('click', function () {
            isClickStarRating = true;
            let ratingValue = $(this).parent().data('rating-value');
            if (ratingValue === 1) {
                $(".write-review__heading").text("Rất không hài lòng");
            } else if (ratingValue === 2) {
                $(".write-review__heading").text("Không hài lòng");
            } else if (ratingValue === 3) {
                $(".write-review__heading").text("Bình thường");
            } else if (ratingValue === 4) {
                $(".write-review__heading").text("Hài lòng");
            } else {
                $(".write-review__heading").text("Rất hài lòng");
            }
            $(this).find('path').siblings().attr('fill', 'none');
            $(this).find('path').attr('fill', '#FDD835');
            $(this).parent().prevAll().find('path').attr('fill', '#FDD835');
            $(this).parent().nextAll().find('path').attr('fill', 'none');
            $("input[name='rating-value']").val(ratingValue);
        });

        $(document).on("click", "tfoot > tr:nth-child(5) > td:nth-child(2) > a.cancel-order", function (e) {
            e.preventDefault();
            cancelOrder(orderId);
        });
    });

    function cancelOrder(orderId) {
        $.ajax({
            url: "/api/order/cancel/" + orderId,
            type: "PUT",
            contentType: "application/json",
            success: function (result) {
                if (result === true) {

                    setTimeout(function(){
                        $("#myModal").css("display", "block");
                        $("#myModal > div.modal-content > p").text("Hủy đơn hàng thành công");
                        $('#myModal').delay(3000).fadeOut(1000,function(){
                            window.location.href = "/sales/order/history";
                        });
                    });
                }
            }
        });
    }

    /*]]>*/
</script>
</body>
</html>