<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Thêm sản phẩm mới</title>

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Admin</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/admin}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Quản lý</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" th:href="@{/admin/manager_users}">Quản lý người dùng</a>
                    <a class="collapse-item" th:href="@{/admin/manager_products}">Quản lý sản phẩm</a>
                    <a class="collapse-item" th:href="@{/admin/manager_orders}">Quản lý đơn hàng</a>
                    <a class="collapse-item" href="manager-promotion.html">Chương trình khuyến mãi</a>
                    <a class="collapse-item" href="manager-contact">Quản lý liên hệ</a>
                    <a class="collapse-item">Banner</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Báo cáo</span>
            </a>
            <div id="collapseThree" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="#">Báo cáo doanh thu</a>
                    <a class="collapse-item" href="#">Báo cáo nhập hàng</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Tài khoản</span>
            </a>
            <div id="collapseFour" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="#"><i class="fas fa-fw fa-wrench"></i> Cập nhật thông tin</a>
                    <a class="collapse-item" href="#">Thoát</a>
                </div>
            </div>
        </li>

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Valerie Luna</span>
                            <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <form action="/action_page.php">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="productName">Tên sản phẩm:</label>
                                        <input type="text" class="form-control" placeholder="Enter email" id="productName">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-info" id="btn-add-category-supplier">Thêm mới</button>
                                </div>
                            </div>
                            <div class="row" id="add-category-supplier" style="display: none; margin-top: 10px;">
                                <div class="col-md-8">
                                    <label for="email" class="mr-sm-2">Danh mục</label>
                                    <div style="width: 100%; display: flex; justify-content: space-between;">
                                        <input type="text" class="form-control" placeholder="Enter email" id="productName">
                                        <input type="text" class="form-control" placeholder="Enter email" id="productName">
                                        <button type="submit" class="btn btn-primary">Thêm</button>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label>Tên nhà sản xuất</label>
                                    <div style="width: 100%; display: flex; justify-content: space-between;">
                                        <input type="text" min="0" class="form-control" id="add-sub-category">
                                        <button type="submit" class="btn btn-primary">Thêm</button>
                                    </div>
                                    
                                </div>
                            </div>
                            <br>
                            <div class="row" id="select-category-supplier">
                                <div class="form-group col-md-4">
                                    <label for="category">Danh mục cha</label>
                                    <select class="form-control mb-2 mr-sm-2" id="category">
                                        <option>Laptop</option>
                                        <option>Điện thoại thông minh</option>
                                        <option>Đồng hồ nam</option>
                                        <option>Đồng hồ nữ</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="sub-category">Danh mục con</label>
                                    <select class="form-control mb-2 mr-sm-2" id="sub-category">
                                        <option>Laptop</option>
                                        <option>Điện thoại thông minh</option>
                                        <option>Đồng hồ nam</option>
                                        <option>Đồng hồ nữ</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="supplier">Nhà sản xuất:</label>
                                    <select class="form-control mb-2 mr-sm-2" id="supplier">
                                        <option>Dell</option>
                                        <option>Asus</option>
                                        <option>Acer</option>
                                        <option>Đồng hồ nữ</option>
                                    </select>
                                </div>
                        
                            </div>
                           
                            <div class="row">
                                <div class="col-md-8">
                                    <label for="add-quantity">Số lượng nhập thêm:</label>
                                    <div class="form-inline">
                                        <input type="number" min="0" class="form-control col-9" id="add-quantity">
                                        <button type="button" class="btn btn-primary col-3">Nhập thêm</button>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="quantity-available">Tồn kho:</label>
                                        <input type="number" class="form-control" placeholder="10" id="quantity-available" readonly="readonly">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="pwd">Giá gốc (VNĐ)</label>
                                        <input type="number" class="form-control" placeholder="Nhập giá gốc" id="pwd">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="pwd">Giảm giá (VNĐ)</label>
                                        <input type="number" class="form-control" placeholder="giảm giá" id="pwd">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="pwd">Giá bán (VNĐ)</label>
                                        <input type="number" class="form-control" placeholder="1000" id="pwd" readonly="readonly">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="pwd">Thêm ảnh chính:</label>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="customFile" accept="image/*" onchange="loadFile(event)">
                                            <label class="custom-file-label" for="customFile">Choose file</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <img id="output" style="width: 100%; height: 150px;"/>
                                </div>
                            </div>

                            <label for="pwd">Thêm ảnh phụ</label>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="pwd">ảnh 1</label>
                                    <div class="form-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="customFile" accept="image/*" onchange="loadFile(event)">
                                            <label class="custom-file-label" for="customFile">Choose file</label>
                                        </div>
                                        <img style="width: 100%; height: 150px; max-height: 200px; margin-top: 10px;"/>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label for="pwd">ảnh 2</label>
                                    <div class="form-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="customFile" accept="image/*" onchange="loadFile(event)">
                                            <label class="custom-file-label" for="customFile">Choose file</label>
                                        </div>
                                        <img style="width: 100%; height: 150px; max-height: 200px; margin-top: 10px;"/>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label for="pwd">ảnh 3</label>
                                    <div class="form-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="customFile" accept="image/*" onchange="loadFile(event)">
                                            <label class="custom-file-label" for="customFile">Choose file</label>
                                        </div>
                                        <img style="width: 100%; height: 150px; max-height: 200px; margin-top: 10px;"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="short-desc">Mô tả ngắn:</label>
                                        <input type="text" class="form-control" id="short-desc">
                                    </div>
                                </div>
                            
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="detail-desc">Mô tả chi tiết:</label>
                                        <textarea rows="8" class="form-control" id="detail-desc"></textarea>
                                    </div>
                                </div>
                            </div>

                            
                            <button type="submit" class="btn btn-info">Cập nhật</button>
                            <input class="btn btn-primary" type="reset" value="Reset">
                        </form>
                    </div>
                </div>

                <a th:href="@{/admin/manager_products}" class="btn btn-light btn-icon-split">
                    <span class="icon text-gray-600">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                    <span class="text">Quay lại</span>
                </a>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/datatables-demo.js"></script>

  <script>
    var loadFile = function(event) {
      var output = document.getElementById('output');
      output.src = URL.createObjectURL(event.target.files[0]);
      output.onload = function() {
        URL.revokeObjectURL(output.src) // free memory
      }
      output.style.display = "block";
    };

    $("#btn-add-category-supplier").on("click", function() {
        $("#add-category-supplier").show();
        $("#select-category-supplier").hide();
    });
  </script>

</body>

</html>