<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Nhận xét của tôi</title>
    <th:block th:include="user/common/header_tag_common"/>
    <!-- custom css  -->
    <link rel="stylesheet" th:href="@{/css/custom2.css}">
</head>
<body class="js">
<!-- Header -->
<th:block th:include="user/common/header"/>
<!--/ End Header -->

<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a th:href="@{/}">Trang chủ<i class="ti-arrow-right"></i></a></li>
                        <li class="active">Thông tin tài khoản</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Product Style -->
<section class="product-area shop-sidebar shop section" style="padding-top: 15px;">
    <div class="container">
        <div class="row">
            <!-- Start account items manager Area -->
            <th:block th:include="user/common/left-navbar-manager"/>
            <!-- /End account items manager Area -->

            <div class="Account__StyledAccountLayoutInner" id="customer_review">
                <div class="styles__StyledReviewList">
                    <div class="heading">Nhận xét của tôi (<span></span>)</div>
                    <div class="inner">
                        <div class="list">
                            <div class="item" style="display: none;">
                                <div class="thumb">
                                    <div class="Picture__StyledPicture loaded">
                                        <img class="image">
                                    </div>
                                </div>
                                <div class="info">
                                    <a class="name" style="font-weight: bold;"></a>
                                    <div class="date"></div>
                                    <div class="wrap">
                                        <span class="title"></span>
                                        <div class="rating">
                                            <div class="ratting-wrap" style="display: flex;">
                                                <div class="ratting-star">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content-review"></div>
                                </div>
                                <div class="action" style="float: right;">
                                    <a class="edit">Chỉnh sửa</a><button class="delete">Xóa</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="Pagination__StyledPagination">
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<!--/ End Product Style 1  -->

<!-- Start Footer Area -->
<th:block th:include="user/common/footer"/>
<!-- /End Footer Area -->

<script th:inline="javascript">
    /*<![CDATA[*/
    // A $( document ).ready() block.
    $(document).ready(function () {
        getListCategory();
        getListMyReview(1,5);

        $(document).on('click', 'ul.Pagination__StyledPagination > li', function () {
            $(".Pagination__StyledPagination").children("li").removeClass("is-active");
            $(this).addClass("is-active");
            getListMyReview(parseInt($(this).text()), 5);
        });
    });
    /*]]>*/
</script>
</body>
</html>