<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Sản phẩm yêu thích</title>
    <th:block th:include="user/common/header_tag_common"/>
    <!-- custom css  -->
    <link rel="stylesheet" th:href="@{/css/custom2.css}">
</head>
<body class="js">
<!-- Header -->
<th:block th:include="user/common/header"/>
<!--/ End Header -->

<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a th:href="@{/}">Trang chủ<i class="ti-arrow-right"></i></a></li>
                        <li class="active">Thông tin tài khoản</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Product Style -->
<section class="product-area shop-sidebar shop section" style="padding-top: 15px;">
    <div class="container">
        <div class="row">
            <!-- Start account items manager Area -->
            <th:block th:include="user/common/acount-items-manager"/>
            <!-- /End account items manager Area -->

            <div class="Account__StyledAccountLayoutInner">
                <div class="styles__StyledAccountWishList">
                    <div class="heading">Danh sách yêu thích (<span></span>)</div>
                    <div class="inner">
                        <ul class="list">
                            <li class="item">
                                <button class="btn-delete">×</button>
                                <div class="thumbnail">
                                    <a>
                                        <div class="Picture__StyledPicture fxEVSg  loaded">
                                            <img class="image">
                                        </div>
                                    </a>
                                </div>
                                <div class="body">
                                    <a class="name"></a>
                                    <div class="ratting">
                                        <div class="ratting-wrap" style="display: flex;">
                                            <div class="ratting-star">
                                            </div>
                                            <span></span>
                                        </div>
                                    </div>
                                    <span class="review-count"></span>
                                    <div class="description">
                                    </div>
                                </div>
                                <div class="footer_favourite">
                                    <div class="price"></div>
                                    <div class="wrap">
                                        <div class="list-price"></div> |
                                        <div class="promotion"></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Product Style 1  -->

<!-- Start Footer Area -->
<th:block th:include="user/common/footer"/>
<!-- /End Footer Area -->

<script th:inline="javascript">
    /*<![CDATA[*/
    // A $( document ).ready() block.
    $(document).ready(function () {
        getListCategory();
        getWishlistProducts();
        $(document).on("click", "div.Account__StyledAccountLayoutInner > div > div.inner > ul > li > button.btn-delete", function () {
            let productId = $(this).attr("product-id");
            removeProductFromWishlist($(this), productId);
        });
    });

    function getWishlistProducts() {
        $.ajax({
            url: "/api/account/wishlist",
            type: "GET",
            dataType: 'json',
            success: function (data) {
                if(data.hasOwnProperty("wishLists")) {
                    let wishlist = data["wishLists"];
                    $(".styles__StyledAccountWishList .heading span").text(wishlist.length);
                    if (wishlist.length > 0) {
                        let firstItem = $(".styles__StyledAccountWishList ul.list li:first-child");
                        $.each(wishlist, function (index, item) {
                            let itemClone = firstItem.clone();
                            itemClone.find(".btn-delete").attr("product-id", item["id"]);
                            itemClone.find(".thumbnail a").attr("href", "/products/" + item["productUrl"] + ".html");
                            itemClone.find(".thumbnail a img.image").attr("src", "/images/products/" + item["id"] + "/" + item["image"]);
                            itemClone.find(".body a.name").attr("href", "/products/" + item["productUrl"] + ".html").text(item["productName"]);
                            itemClone.find(".body .description").text(item["detailDescription"].substring(0, 100));
                            itemClone.find("div.my-reviews__name").text(item["productUrl"]);
                            for (let i = 0; i < parseInt(item["rating"]); i++) {
                                itemClone.find(".ratting-star").append("<i class=\"yellow fa fa-star\"></i>");
                            }
                            for (let i = 0; i < (5 - parseInt(item["rating"])); i++) {
                                itemClone.find(".ratting-star").append("<i class=\"fa fa-star\"></i>");
                            }
                            itemClone.find(".ratting-wrap span").text("(" + item["numberOfReviews"] + " customer review)")
                            itemClone.find(".footer_favourite .price").text(item["finalPrice"] + " ₫");
                            if (parseInt(item["promotion"]) > 0) {
                                itemClone.find(".footer_favourite .wrap .list-price").text(item["price"] + " ₫");
                                itemClone.find(".footer_favourite .wrap .promotion").text(item["promotion"] + " ₫");
                            }
                            itemClone.insertAfter(".styles__StyledAccountWishList ul.list li:first-child");
                        });
                        firstItem.hide();
                    } else {
                        $(".styles__StyledAccountWishList").empty()
                            .append("<div style='text-align: center; padding: 50px;'><a href='/'><button class='btn-info'>Tiếp tục muc sắm</button></a></div>")
                    }
                } else {
                    $(".styles__StyledAccountWishList").empty().append("<div>Danh sách sản phẩm yêu thích rỗng</div>");

                }
            },
            error: function () {
                alert("có lỗi xảy ra");
            }
        });
    }

    function getListCategory() {
        $.ajax({
            url: "/api/categories",
            type: "GET",
            contentType: "application/json",
            success: function (categories) {
                // show category
                let html = "";
                $.each(categories, function( index, item ) {
                    html += "<li>\n" +
                        "            <a class=\"parent-category\" href='/collections.html?category=" + item["categoryUrl"] + "'>" + item["categoryName"] + "</a>\n" +
                        "            <ul class=\"list-child-category\">\n";
                    if (item.hasOwnProperty("subCategory")) {
                        $.each(item["subCategory"], function( index, subItem ) {
                            html += "<li>\n" +
                                "         <a href='/collections.html?category=" + subItem["categoryUrl"] + "'>" + subItem["categoryName"] + "</a>\n" +
                                "    </li>\n";
                        });
                    }
                    html += "     </ul>\n" +
                        "</li>";

                });
                $("div.header-inner > div > div > div > div > div > nav > div > div > ul > li:nth-child(2) > ul").append(html);

            },
            error: function () {
                alert("có lỗi xảy ra, không lấy được danh sách danh mục");
            }
        });
    }

    function removeProductFromWishlist(buttonDelete, productId) {
        $.ajax({
            url: "/api/account/wishlist/remove/" + productId,
            type: "DELETE",
            dataType: 'json',
            success: function (result) {
                if (result === true) {
                    let heading = $(".styles__StyledAccountWishList .heading span");
                    heading.text(parseInt(heading.text()) - 1);
                    buttonDelete.closest("li.item").remove();
                }
            },
            error: function (err) {
                alert("có lỗi xảy ra");
            }
        });
    }

    /*]]>*/
</script>
</body>
</html>