<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Địa chỉ giao hàng</title>
    <th:block th:include="user/common/header_tag_common"/>
    <!-- custom css  -->
    <link rel="stylesheet" th:href="@{/css/custom2.css}">
    <link rel="stylesheet" th:href="@{/css/style-alert.css}" />
    <link rel="stylesheet" th:href="@{/css/modal-alert.css}">
</head>
<body class="js">
<!-- Header -->
<th:block th:include="user/common/header"/>
<!--/ End Header -->

<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a th:href="@{/}">Trang chủ<i class="ti-arrow-right"></i></a></li>
                        <li class="active">Thông tin tài khoản</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Product Style -->
<section class="product-area shop-sidebar shop section" style="padding-top: 15px;">
    <div class="container">
        <div class="row">
            <!-- Start account items manager Area -->
            <th:block th:include="user/common/acount-items-manager"/>
            <!-- /End account items manager Area -->

            <div class="Account__StyledAccountLayoutInner">
                <div type="success" class="Alert__StyledAlert" style="display: none;">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512"
                         color="#26BC4E" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"
                         style="color: rgb(38, 188, 78);">
                        <path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path>
                    </svg>
                    <span>Thông tin địa chỉ giao hàng của bạn đã được cập nhật.</span>
                </div>
                <div class="styles__StyledAccountAddress">
                    <div class="heading">Sổ địa chỉ</div>
                    <div class="new">
                        <a>
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path>
                            </svg><span>Thêm địa chỉ mới</span>
                        </a>
                    </div>
                    <div class="item">
                        <div class="info">
                            <div class="name">
                                <span></span>
                                <span>
                                    <svg stroke="currentColor" fill="currentColor" stroke-width="0"
                                         viewBox="0 0 512 512" height="1em" width="1em"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 48c110.532 0 200 89.451 200 200 0 110.532-89.451 200-200 200-110.532 0-200-89.451-200-200 0-110.532 89.451-200 200-200m140.204 130.267l-22.536-22.718c-4.667-4.705-12.265-4.736-16.97-.068L215.346 303.697l-59.792-60.277c-4.667-4.705-12.265-4.736-16.97-.069l-22.719 22.536c-4.705 4.667-4.736 12.265-.068 16.971l90.781 91.516c4.667 4.705 12.265 4.736 16.97.068l172.589-171.204c4.704-4.668 4.734-12.266.067-16.971z"></path>
                                    </svg>
                                    <span>Địa chỉ mặc định</span>
                                </span>
                            </div>
                            <div class="address">
                                <span>Địa chỉ: </span> <span></span>
                            </div>
                            <div class="phone">
                                <span>Điện thoại: </span> <span></span>
                            </div>
                        </div>
                        <div class="action">
                            <a class="edit">Chỉnh sửa</a>
                        </div>
                    </div>
                </div>
                <div class="styles__StyledAccountAddressCreate" style="display: none;">
                    <div class="heading">Thêm địa chỉ mới</div>
                    <div class="inner div-form">
                        <div align="right" style="margin-bottom: 10px;">
                            <button class="btn-delete">×</button>
                        </div>
                        <div class="form">
                            <form>
                                <input type="hidden">
                                <div class="div-form-control">
                                    <label class="input-label">Người nhận:</label>
                                    <div>
                                        <input type="text" required="" name="receiver" placeholder="Tên người nhận" maxlength="50" value="">
                                    </div>
                                </div>
                                <div class="div-form-control">
                                    <label class="input-label">Số điện thoại :</label>
                                    <div>
                                        <input type="text" required="" name="phone" placeholder="Số điện thoại liên lạc" maxlength="50" value="">
                                    </div>
                                </div>
                                <div class="div-form-control">
                                    <label class="input-label">Tỉnh/Thành phố:</label>
                                    <div>
                                        <input type="text" required="" name="region" placeholder="Tỉnh/thành phố" maxlength="50" value="">
                                    </div>
                                </div>
                                <div class="div-form-control">
                                    <label class="input-label">Quận/huyện:</label>
                                    <div>
                                        <input type="text" required="" name="district" placeholder="Huyện/thị xã" maxlength="50" value="">
                                    </div>
                                </div>
                                <div class="div-form-control">
                                    <label class="input-label">Phường/xã:</label>
                                    <div>
                                        <input type="text" required="" name="ward" placeholder="Phường/xã" maxlength="50" value="">
                                    </div>
                                </div>
                                <div class="div-form-control">
                                    <label class="input-label">Địa chỉ:</label>
                                    <div>
                                        <textarea required="" name="street" rows="5" placeholder="Nhập địa chỉ"></textarea>
                                    </div>
                                </div>
                                <div class="div-form-control set-default">
                                    <label class="input-label">&nbsp;</label>
                                    <label class="Checkbox__StyledCheckbox" style="display: flex;">
                                        <input type="checkbox" value="false">
                                        <span class="label">Đặt làm địa chỉ mặc định</span>
                                    </label>
                                </div>
                                <div class="div-form-control"><label class="input-label">&nbsp;</label>
                                    <button type="button" class="btn-submit">Thêm mới</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="styles__StyledAccountAddressEdit" style="display: none;">
                    <div class="heading">Chỉnh sửa địa chỉ</div>
                    <div class="inner div-form">
                        <div align="right" style="margin-bottom: 10px;">
                            <button class="btn-delete">×</button>
                        </div>
                        <div class="form">
                            <form>
                                <input type="hidden" id="id-shippingAddr">
                                <div class="div-form-control">
                                    <label class="input-label">Người nhận:</label>
                                    <div>
                                        <input type="text" required="" name="receiver" placeholder="Tên người nhận" maxlength="50" value="">
                                    </div>
                                </div>
                                <div class="div-form-control">
                                    <label class="input-label">Số điện thoại liên lạc:</label>
                                    <div>
                                        <input type="text" required="" name="phone" placeholder="Số điện thoại liên lạc" maxlength="50" value="">
                                    </div>
                                </div>
                                <div class="div-form-control">
                                    <label class="input-label">Tỉnh/Thành phố:</label>
                                    <div>
                                        <input type="text" required="" name="region" placeholder="Tỉnh/thành phố" maxlength="50" value="">
                                    </div>
                                </div>
                                <div class="div-form-control">
                                    <label class="input-label">Quận huyện:</label>
                                    <div>
                                        <input type="text" required="" name="district" placeholder="Huyện/thị xã" maxlength="50" value="">
                                    </div>
                                </div>
                                <div class="div-form-control">
                                    <label class="input-label">Phường xã:</label>
                                    <div>
                                        <input type="text" required="" name="ward" placeholder="Phường/xã" maxlength="50" value="">
                                    </div>
                                </div>
                                <div class="div-form-control">
                                    <label class="input-label">Địa chỉ:</label>
                                    <div>
                                        <textarea required="" name="street" rows="5" placeholder="Nhập địa chỉ">số nhà 249 ngõ Quỳnh, Thanh Nhàn, Hai Bà Trưng</textarea>
                                    </div>
                                </div>
                                <div class="div-form-control set-default" >
                                    <label class="input-label">&nbsp;</label>
                                    <label class="Checkbox__StyledCheckbox" style="display: flex;">
                                        <input type="checkbox">
                                        <span class="label">Đặt làm địa chỉ mặc định</span>
                                    </label>
                                </div>
                                <div class="div-form-control"><label class="input-label">&nbsp;</label>
                                    <button type="button" class="btn-submit">Cập nhật</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Product Style 1  -->

<!-- Start Footer Area -->
<th:block th:include="user/common/footer"/>
<!-- /End Footer Area -->
<div id="myModal" class="myModal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="closeModal">&times;</span>
        <img>
        <p></p>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    // A $( document ).ready() block.
    $(document).ready(function () {
        getListCategory();
        getTheShippingAddress();
        actionForModal();

        $(".action > a.edit").on('click', function () {
            $("div.styles__StyledAccountAddressEdit").show();
            $("div.styles__StyledAccountAddress").hide();
            $("div.styles__StyledAccountAddress").siblings("div[type='success']").hide();
        });

        $("div.styles__StyledAccountAddress > div.new > a > svg > path").on("click", function () {
            $("div.styles__StyledAccountAddressCreate").show();
            $("div.styles__StyledAccountAddress").hide();
            $("div.styles__StyledAccountAddress").siblings("div[type='success']").hide();
        });

        $("div.styles__StyledAccountAddress > div.new > a").on('click', function () {
            $("div.styles__StyledAccountAddress").hide();
            $("div.styles__StyledAccountAddressEdit").hide();
            $("div.styles__StyledAccountAddressCreate").show();
        });

        $(document).on("click", "div.action > a.edit", function () {
            let item = $(this).closest("div.item");
            let addressArr = item.find("div.info > div.address > span:nth-child(2)").text().split(" - ");
            let contactReceiver = item.find("div.info > div.name > span:nth-child(1)").text();
            let contactPhone = item.find("div.info > div.phone > span:nth-child(2)").text();
            let isDefault = JSON.parse(item.attr("isDefault"));
            $(".styles__StyledAccountAddressEdit").find("input[name='region']").val(addressArr[3]);
            $(".styles__StyledAccountAddressEdit").find("input[name='district']").val(addressArr[2]);
            $(".styles__StyledAccountAddressEdit").find("input[name='ward']").val(addressArr[1]);
            $(".styles__StyledAccountAddressEdit").find("textarea[name='street']").val(addressArr[0]);
            $(".styles__StyledAccountAddressEdit").find("input[name='phone']").val(contactPhone);
            $(".styles__StyledAccountAddressEdit").find("input[name='receiver']").val(contactReceiver);
            $(".styles__StyledAccountAddressEdit").find("input[id='id-shippingAddr']").val(item.attr("id-shippingAddr"));
            $(".styles__StyledAccountAddressEdit").find("div.div-form-control.set-default > label.Checkbox__StyledCheckbox > input[type=checkbox]").val(isDefault);
            $(".styles__StyledAccountAddressEdit > div.inner.div-form > div.form > form > div.set-default").show();
            if (isDefault === true) {
                $(".styles__StyledAccountAddressEdit > div.inner.div-form > div.form > form > div.set-default").hide();
            }
            $("div.styles__StyledAccountAddress").hide();
            $("div.styles__StyledAccountAddressEdit").show();
            $("div.styles__StyledAccountAddressCreate").hide();
        });

        $("div.styles__StyledAccountAddressCreate > div.inner.div-form > div:nth-child(1) > button").on("click", function () {
            $("div.styles__StyledAccountAddress").show();
            $("div.styles__StyledAccountAddressEdit").hide();
            $("div.styles__StyledAccountAddressCreate").hide();
        });

        $("div.styles__StyledAccountAddressEdit > div.inner.div-form > div:nth-child(1) > button").on("click", function () {
            $("div.styles__StyledAccountAddress").show();
            $("div.styles__StyledAccountAddressEdit").hide();
            $("div.styles__StyledAccountAddressCreate").hide();
        });

        $("div.styles__StyledAccountAddressEdit").find("button[type='button']").on('click', function () {
            let region = $(".styles__StyledAccountAddressEdit").find("input[name='region']").val();
            let district = $(".styles__StyledAccountAddressEdit").find("input[name='district']").val();
            let ward = $(".styles__StyledAccountAddressEdit").find("input[name='ward']").val();
            let street = $(".styles__StyledAccountAddressEdit").find("textarea[name='street']").val();
            let addressArr = [street, ward, district, region];
            let isDefault = $(".styles__StyledAccountAddressEdit").find("label.Checkbox__StyledCheckbox > input[type=checkbox]").val();
            if ($(".styles__StyledAccountAddressEdit").find("label.Checkbox__StyledCheckbox > input[type=checkbox]").prop('checked') === true) {
                isDefault = true;
            }
            let data = {
                "id": parseInt($(".styles__StyledAccountAddressEdit").find("input[id='id-shippingAddr']").val()),
                "contactReceiver" : $(".styles__StyledAccountAddressEdit").find("input[name='receiver']").val(),
                "contactAddress": addressArr.join(" - "),
                "contactPhone": $(".styles__StyledAccountAddressEdit").find("input[name='phone']").val(),
                "default" : isDefault
            };
            addShippingAddress(false, data);
        });

        $("div.styles__StyledAccountAddressCreate").find("button[type='button']").on('click', function () {
            let region = $(".styles__StyledAccountAddressCreate").find("input[name='region']").val();
            let district = $(".styles__StyledAccountAddressCreate").find("input[name='district']").val();
            let ward = $(".styles__StyledAccountAddressCreate").find("input[name='ward']").val();
            let street = $(".styles__StyledAccountAddressCreate").find("textarea[name='street']").val();
            let addressArr = [street, ward, district, region];
            let isDefault = $(".styles__StyledAccountAddressCreate").find("label.Checkbox__StyledCheckbox > input[type=checkbox]").val();
            if ($(".styles__StyledAccountAddressCreate").find("label.Checkbox__StyledCheckbox > input[type=checkbox]").prop('checked') === true) {
                isDefault = true;
            }
            let data = {
                "contactReceiver" : $(".styles__StyledAccountAddressCreate").find("input[name='receiver']").val(),
                "contactAddress": addressArr.join(" - "),
                "contactPhone": $(".styles__StyledAccountAddressCreate").find("input[name='phone']").val(),
                "default" : isDefault
            };
            addShippingAddress(true, data);
        });

        $(document).on("click", "div.action > button.delete", function () {
            let addressId = $(this).closest("div.item").attr("id-shippingaddr");
            deleteShippingAddress($(this), addressId);
        });
    });

    function getTheShippingAddress() {
        $.ajax({
            url: "/api/account/address",
            type: "GET",
            dataType: 'json',
            contentType: "application/json",
            success: function (address) {
                let firstDivAddr = $("div.Account__StyledAccountLayoutInner > div.styles__StyledAccountAddress > div.item");
                $.each(address, function( index, item ) {
                    let itemClone = firstDivAddr.clone();
                    itemClone.show();
                    itemClone.attr("isDefault", item["default"]);
                    itemClone.attr("id-shippingAddr", item["id"]);
                    itemClone.find(".name span:first-child").text(item["contactReceiver"]);
                    if (item["default"] === false) {
                        itemClone.find(".name span:nth-child(2)").hide();
                        itemClone.find("div.action > a.edit").after("<button class='delete'>Xóa</button>");
                    }
                    itemClone.find(".address span:nth-child(2)").text(item["contactAddress"]);
                    itemClone.find(".phone span:nth-child(2)").text(item["contactPhone"]);
                    itemClone.insertAfter(firstDivAddr);
                });
                firstDivAddr.hide();
                $("div.styles__StyledAccountAddress").show();
                $("div.styles__StyledAccountAddressEdit").hide();
                $("div.styles__StyledAccountAddressCreate").hide();
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    }

    function addShippingAddress(isCreate, data) {
        let url = "";
        let type = "";
        if(isCreate === true) {
            url = "/api/account/address/create";
            type = "POST";
        } else {
            url = "/api/account/address/update";
            type = "PUT";
        }

        $.ajax({
            url: url,
            type: type,
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: "application/json",
            success: function (data) {
                console.log(data)
                if (data === true) {
                    $("#myModal").fadeIn();
                    $("#myModal > div.modal-content > img").attr("src", "/images/check-success-icon.png");
                    $("#myModal > div.modal-content > p").text("Lưu địa chỉ thành công!");
                    $("#myModal").delay(3000).fadeOut();
                    $("div.Account__StyledAccountLayoutInner > div.styles__StyledAccountAddress > div.item").nextAll().remove();
                    getTheShippingAddress();
                }
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    }

    function deleteShippingAddress(thisItem, addressId) {
        cuteAlert({
            type: "question",
            title: "Xác nhận hành động",
            message: "Bạn chắc chắn muốn xóa địa chỉ này",
            confirmText: "Xóa",
            cancelText: "Hủy"
        });
        $("button.confirm-button.question-bg.question-btn").on("click", function () {
            $.ajax({
                url: "/api/account/address/delete/" + addressId,
                type: "DELETE",
                contentType: "application/json",
                success: function (data) {
                    if (data === true) {
                        $("#myModal").fadeIn();
                        $("#myModal > div.modal-content > img").attr("src", "/images/not-enough.png");
                        $("#myModal > div.modal-content > p").text("Xóa thành công!");
                        $("#myModal").delay(3000).fadeOut();
                        thisItem.closest("div.item").remove();
                    }
                },
                error: function (xhr) {
                    alert(xhr.responseText);
                }
            });
        });

    }
    /*]]>*/
</script>
</body>
</html>