<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Nhận xét của tôi</title>
    <th:block th:include="user/common/header_tag_common"/>
    <!-- custom css  -->
    <link rel="stylesheet" th:href="@{/css/custom2.css}">
</head>
<body class="js">
<!-- Header -->
<th:block th:include="user/common/header"/>
<!--/ End Header -->

<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a th:href="@{/}">Trang chủ<i class="ti-arrow-right"></i></a></li>
                        <li class="active">Thông tin tài khoản</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Product Style -->
<section class="product-area shop-sidebar shop section" style="padding-top: 15px;">
    <div class="container">
        <div class="row">
            <!-- Start account items manager Area -->
            <th:block th:include="user/common/acount-items-manager"/>
            <!-- /End account items manager Area -->

            <div class="Account__StyledAccountLayoutInner" id="customer_review">
                <div class="styles__StyledReviewList">
                    <div class="heading">Nhận xét của tôi (<span></span>)</div>
                    <div class="inner">
                        <div class="list">
                            <div class="item" style="display: none;">
                                <div class="thumb">
                                    <div class="Picture__StyledPicture loaded">
                                        <img class="image">
                                    </div>
                                </div>
                                <div class="info">
                                    <a class="name" style="font-weight: bold;"></a>
                                    <div class="date"></div>
                                    <div class="wrap">
                                        <span class="title"></span>
                                        <div class="rating">
                                            <div class="ratting-wrap" style="display: flex;">
                                                <div class="ratting-star">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content-review"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="Pagination__StyledPagination">
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<!--/ End Product Style 1  -->

<!-- Start Footer Area -->
<th:block th:include="user/common/footer"/>
<!-- /End Footer Area -->

<script th:inline="javascript">
    /*<![CDATA[*/
    // A $( document ).ready() block.
    $(document).ready(function () {
        getListCategory();
        getListMyReview(1,5);

        $(document).on('click', 'ul.Pagination__StyledPagination > li', function () {
            $(".Pagination__StyledPagination").children("li").removeClass("is-active");
            $(this).addClass("is-active");
            getListMyReview(parseInt($(this).text()), 5);
        });
    });

    function getListMyReview(currentPage, pageSize) {
        $.ajax({
            url: "/api/review/my-review?currentPage=" + currentPage + "&pageSize=" + pageSize,
            type: "GET",
            dataType: 'json',
            success: function (data) {
                $(".styles__StyledReviewList .heading span").text(data["numberOfReview"]);
                $(".Pagination__StyledPagination").empty();
                let listMyReview = data["reviews"];
                if (listMyReview.length > 0) {
                    let firstItem = $(".styles__StyledReviewList div.list .item:first-child");
                    $(".styles__StyledReviewList div.list .item:first-child").nextAll().remove();
                    $.each(listMyReview, function (index, item) {
                        let itemClone = firstItem.clone();
                        itemClone.find("div.thumb > div > img").attr("src", item["productImg"]);
                        itemClone.find(".info a.name").attr("href", "/products/" + item["productUrl"] + ".html").text(item["productName"]);
                        itemClone.find(".info div.date").text(item["createdAt"]);
                        if (item["title"] !== null) {
                            itemClone.find(".info .wrap .title").text(item["title"]);
                        }
                        if (parseInt(item["rating"]) > 0) {
                            for (let i = 0; i < parseInt(item["rating"]); i++) {
                                itemClone.find(".ratting-star").append("<i class=\"yellow fa fa-star\"></i>");
                            }
                            for (let i = 0; i < (5 - parseInt(item["rating"])); i++) {
                                itemClone.find(".ratting-star").append("<i class=\"fa fa-star\"></i>");
                            }
                        }
                        itemClone.find(".info .content-review").text(item["comment"]);
                        itemClone.show();
                        itemClone.insertAfter(".styles__StyledReviewList div.list .item:first-child");

                    });

                    for (let i = 0; i < parseInt(data["totalPage"]); ++i) {
                        if ( (i + 1) === parseInt(data["currentPage"]) ) {
                            $(".Pagination__StyledPagination").append("<li class='is-active'>" + (i + 1) + "</li>");
                        } else {
                            $(".Pagination__StyledPagination").append("<li>" + (i + 1) + "</li>")
                        }
                    }
                } else {
                    $(".styles__StyledReviewList").empty()
                        .append("<div style='text-align: center; padding: 50px;'><a href='/'><button class='btn-info'>Tiếp tục muc sắm</button></a></div>")
                }
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    }
    /*]]>*/
</script>
</body>
</html>