<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Sản phẩm yêu thích</title>
    <th:block th:include="user/common/header_tag_common"/>
    <!-- custom css  -->
    <link rel="stylesheet" th:href="@{/css/custom2.css}">
    <link rel="stylesheet" th:href="@{/css/style-alert.css}" />
    <link rel="stylesheet" th:href="@{/css/modal-alert.css}">
</head>
<body class="js">
<!-- Header -->
<th:block th:include="user/common/header"/>
<!--/ End Header -->

<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a th:href="@{/}">Trang chủ<i class="ti-arrow-right"></i></a></li>
                        <li class="active">Thông tin tài khoản</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Product Style -->
<section class="product-area shop-sidebar shop section" style="padding-top: 15px;">
    <div class="container">
        <div class="row">
            <!-- Start account items manager Area -->
            <th:block th:include="user/common/acount-items-manager"/>
            <!-- /End account items manager Area -->

            <div class="Account__StyledAccountLayoutInner">
                <div class="styles__StyledAccountWishList">
                    <div class="heading">Danh sách yêu thích (<span></span>)</div>
                    <div class="inner">
                        <ul class="list">
                            <li class="item">
                                <button class="btn-delete">×</button>
                                <div class="thumbnail">
                                    <a>
                                        <div class="Picture__StyledPicture fxEVSg  loaded">
                                            <img class="image">
                                        </div>
                                    </a>
                                </div>
                                <div class="body">
                                    <a class="name"></a>
                                    <div class="ratting">
                                        <div class="ratting-wrap" style="display: flex;">
                                            <div class="ratting-star">
                                            </div>
                                            <span></span>
                                        </div>
                                    </div>
                                    <span class="review-count"></span>
                                    <div class="description">
                                    </div>
                                </div>
                                <div class="footer_favourite">
                                    <div class="final-price"></div>
                                    <div class="wrap">
                                        <div class="price"></div> |
                                        <div class="discount"></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Product Style 1  -->

<!-- Start Footer Area -->
<th:block th:include="user/common/footer"/>
<!-- /End Footer Area -->

<!-- The Modal -->
<div id="myModal" class="myModal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="closeModal">&times;</span>
        <img src="/images/check-success-icon.png">
        <p></p>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    // A $( document ).ready() block.
    $(document).ready(function () {
        getListCategory();
        getWishlistProducts();
        actionForModal();

        $(document).on("click", "div.Account__StyledAccountLayoutInner > div > div.inner > ul > li > button.btn-delete", function () {
            let productId = $(this).attr("product-id");
            removeProductFromWishlist($(this), productId);
        });
    });

    function getWishlistProducts() {
        $.ajax({
            url: "/api/account/wishlist",
            type: "GET",
            dataType: 'json',
            success: function (data) {
                if(data.hasOwnProperty("wishLists")) {
                    let wishlist = data["wishLists"];
                    $(".styles__StyledAccountWishList .heading span").text(wishlist.length);
                    if (wishlist.length > 0) {
                        let firstItem = $(".styles__StyledAccountWishList ul.list li:first-child");
                        $.each(wishlist, function (index, item) {
                            let itemClone = firstItem.clone();
                            itemClone.find(".btn-delete").attr("product-id", item["id"]);
                            itemClone.find(".thumbnail a").attr("href", "/products/" + item["productUrl"] + ".html");
                            itemClone.find(".thumbnail a img.image").attr("src", item["mainImage"]);
                            itemClone.find(".body a.name").attr("href", "/products/" + item["productUrl"] + ".html").text(item["productName"]);
                            itemClone.find(".body .description").text(item["detailDescription"].substring(0, 100));
                            itemClone.find("div.my-reviews__name").text(item["productUrl"]);
                            for (let i = 0; i < parseInt(item["rating"]); i++) {
                                itemClone.find(".ratting-star").append("<i class=\"yellow fa fa-star\"></i>");
                            }
                            for (let i = 0; i < (5 - parseInt(item["rating"])); i++) {
                                itemClone.find(".ratting-star").append("<i class=\"fa fa-star\"></i>");
                            }
                            itemClone.find(".ratting-wrap span").text("(" + item["numberOfReviews"] + " customer review)")
                            itemClone.find(".footer_favourite .final-price").text(item["finalPrice"] + " ₫");
                            if (parseInt(item["discount"]) > 0) {
                                itemClone.find(".footer_favourite .wrap .price").text(item["price"] + " ₫");
                                itemClone.find(".footer_favourite .wrap .discount").text(item["discount"] + " ₫");
                            }
                            itemClone.insertAfter(".styles__StyledAccountWishList ul.list li:first-child");
                        });
                        firstItem.remove();
                    } else {
                        $(".styles__StyledAccountWishList").empty()
                            .append("<div class=\"col-12\">\n" +
                                "                <div style=\"text-align: center; margin: auto; margin-top: 50px;\">\n" +
                                "                    <p style=\"font-size: 20px; color: green;\">Không có sản trong danh sách yêu thichd!!</p>\n" +
                                "                    <div class=\"center\" style=\"margin-top: 20px;\">\n" +
                                "                        <div class=\"button5\">\n" +
                                "                            <a href='/' style=\"color: white;\" class=\"btn\">Tiếp tục mua sắm</a>\n" +
                                "                        </div>\n" +
                                "                    </div>\n" +
                                "                </div>\n" +
                                " </div>");
                    }
                } else {
                    $(".styles__StyledAccountWishList").empty()
                        .append("<div class=\"col-12\">\n" +
                            "                <div style=\"text-align: center; margin: auto; margin-top: 50px;\">\n" +
                            "                    <p style=\"font-size: 20px; color: green;\">Không có sản trong danh sách yêu thichd!!</p>\n" +
                            "                    <div class=\"center\" style=\"margin-top: 20px;\">\n" +
                            "                        <div class=\"button5\">\n" +
                            "                            <a href='/' style=\"color: white;\" class=\"btn\">Tiếp tục mua sắm</a>\n" +
                            "                        </div>\n" +
                            "                    </div>\n" +
                            "                </div>\n" +
                            " </div>");

                }
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    }

    function removeProductFromWishlist(buttonDelete, productId) {
        cuteAlert({
            type: "question",
            title: "Xác nhận hành động",
            message: "Bạn chắc chắn muốn xóa sản phẩm khỏi wishlist",
            confirmText: "Xóa",
            cancelText: "Hủy"
        });

        $("button.confirm-button.question-bg.question-btn").on("click", function () {
            $.ajax({
                url: "/api/account/wishlist/remove/" + productId,
                type: "DELETE",
                dataType: 'json',
                success: function (result) {
                    if (result === true) {
                        $("#myModal").fadeIn();
                        $("#myModal > div.modal-content > p").text("Xóa thành công!");
                        $("#myModal").delay(3000).fadeOut();
                        let heading = $(".styles__StyledAccountWishList .heading span");
                        heading.text(parseInt(heading.text()) - 1);
                        buttonDelete.closest("li.item").remove();
                    }
                },
                error: function (xhr) {
                    alert(xhr.responseText);
                }
            });
        });

    }

    /*]]>*/
</script>
</body>
</html>