<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <!-- Title Tag  -->
    <title>Giỏ hàng</title>
    <th:block th:include="user/common/header_tag_common"/>
    <link rel="stylesheet" th:href="@{/css/modal-alert.css}">

</head>
<body class="js">

<!-- Preloader -->
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- End Preloader -->

<!-- Header -->
<th:block th:include="user/common/header"/>
<!--/ End Header -->

<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a th:href="@{/}">Trang chủ<i class="ti-arrow-right"></i></a></li>
                        <li class="active"><a th:href="@{/cart.html}">Giỏ hàng</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Shopping Cart -->
<div class="shopping-cart section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Shopping Summery -->
                <table class="table shopping-summery">
                    <thead>
                    <tr class="main-hading">
                        <th class="text-center" style="width: 15%;"></th>
                        <th class="text-center" style="width: 35%;">TÊN</th>
                        <th class="text-center" style="width: 10%;">ĐƠN GIÁ</th>
                        <th class="text-center" style="width: 25%;">SỐ LƯỢNG</th>
                        <th class="text-center" style="width: 10%;">TỔNG</th>
                        <th class="text-center" style="width: 5%;"><i class="ti-trash remove-icon"></i></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="image" data-title="No">
                            <a>
                                <img alt="Image">
                            </a>
                        </td>
                        <td class="product-des" data-title="Description">
                            <p class="product-name">
                                <a></a>
                            </p>
                        </td>
                        <td class="price" data-title="Price"><span></span></td>
                        <td class="qty" data-title="Qty"><!-- Input Order -->
                            <div class="input-group">
                                <div class="button minus">
                                    <button type="button" class="btn btn-primary btn-number button-minus"
                                            data-type="minus" data-field="quant[1]">
                                        <i class="ti-minus"></i>
                                    </button>
                                </div>
                                <input type="text" name="quant[1]" class="input-number" data-min="1" data-max="100">
                                <div class="button plus">
                                    <button type="button" class="btn btn-primary btn-number button-plus"
                                            data-type="plus" data-field="quant[1]">
                                        <i class="ti-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <!--/ End Input Order -->
                        </td>
                        <td class="total-amount" data-title="Total"><span></span></td>
                        <td class="action" data-title="Remove"><a><i class="ti-trash remove-icon"></i></a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <td colspan="3"></td>
                    <td style="text-align: right; color: black; font-size: 18px;">Tạm tính</td>
                    <td id="sub-cart"></td>
                    <td></td>
                    </tfoot>
                </table>
                <!--/ End Shopping Summery -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Total Amount -->
                <div class="total-amount">
                    <div class="row">
                        <div class="col-lg-4 col-md-7 col-12">
                            <div class="left">
                                <div class="button5">
                                    <a th:href="@{/}" class="btn">Tiếp tục mua sắm</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-7 col-12">
                        </div>
                        <div class="col-lg-4 col-md-7 col-12">
                            <div class="right">
                                <div class="button5">
                                    <a th:href="@{/checkout.html}" class="btn">Thanh toán</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ End Total Amount -->
            </div>
        </div>
    </div>
</div>
<!--/ End Shopping Cart -->

<!-- Start Shop Services Area  -->
<section class="shop-services section home">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-rocket"></i>
                    <h4>Miễn phí giao hàng</h4>
                    <p>Đơn đặt hàng trên $ 100</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-reload"></i>
                    <h4>MIỄN PHÍ ĐỔI TRẢ</h4>
                    <p>Trong vòng 30 ngày trở lại</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-lock"></i>
                    <h4>BẢO MẬT THANH TOÁN</h4>
                    <p>Thanh toán an toàn 100%</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-tag"></i>
                    <h4>GIÁ CẢ TỐT NHẤT</h4>
                    <p>Giá đảm bảo</p>
                </div>
                <!-- End Single Service -->
            </div>
        </div>
    </div>
</section>
<!-- End Shop Services -->


<!-- Start Footer Area -->
<th:block th:include="user/common/footer"/>
<!-- /End Footer Area -->


<!-- The Modal -->
<div id="myModal" class="myModal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="closeModal">&times;</span>
        <img src="/images/not-enough.png">
        <p></p>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    // A $( document ).ready() block.
    $(document).ready(function () {
        getListCategory();
        getProductsInCart();
        actionForModal();
    });


    /*]]>*/
</script>

</body>
</html>