<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <!-- Title Tag  -->
    <title>Danh mục sản phẩm</title>
    <th:block th:include="user/common/header_tag_common"/>
    <style type="text/css">
        ul {
            list-style: none;
            padding-left: 0px;
            margin-bottom: 0;
        }

        .pagination-nav ul li {
            display: inline-block;
            margin: 0 2px;
        }

        ul li {
            list-style: none;
        }

        .pagination-nav ul li a {
            background-color: #f7f7f7;
            color: #808080;
            display: block;
            font-size: 14px;
            height: 36px;
            line-height: 36px;
            text-align: center;
            width: 36px;
        }

        a, a:focus, a:active, a:link, img {
            outline: none;
            text-decoration: none;
        }

        .pagination-nav ul li.active a {
            background: #F7941D none repeat scroll 0 0;
            color: #fff;
        }

        .mt_50 {
            margin-top: 50px;
        }
    </style>

</head>
<body class="js">

<!-- Preloader -->
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- End Preloader -->

<!-- Header -->
<th:block th:include="user/common/header"/>
<!--/ End Header -->

<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a th:href="@{/}">Trang chủ<i class="ti-arrow-right"></i></a></li>
                        <li><a>Bộ sưu tập</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Product Style -->
<section class="product-area shop-sidebar shop section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12">
                <div class="shop-sidebar">
                    <!-- Single Widget -->
                    <div class="single-widget category">
                        <h3 class="title">Danh mục</h3>
                        <ul class="category-list">
                            <li>
                                <a>danh mục con</a>
                            </li>
                        </ul>
                    </div>
                    <!--/ End Single Widget -->
                    <!-- Single Widget -->
                    <div class="single-widget supplier">
                        <h3 class="title">Nhà cung cấp</h3>
                        <ul class="supplier-list">
                            <li>
                                <a>CategoryName</a>
                            </li>
                        </ul>
                    </div>
                    <!--/ End Single Widget -->
                    <!-- Shop By Price -->
                    <div class="single-widget range">
                        <h3 class="title">Lọc theo giá</h3>
                        <div class="price-filter">
                            <div class="price-filter-inner">
                                <div class="price_slider_amount">
                                    <span>Range:</span><br>
                                    <div class="label-input" style="display: flex;">
                                        <input type="text" name="min-price" value="0"style="border: ridge; width: 40%;"/>đ -
                                        <input type="text" name="max-price" value="1000" style="border: ridge; width: 40%;"/>đ
                                    </div>
                                    <button>Lọc</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ End Shop By Price -->
                    <!-- Single Widget -->
                    <div class="single-widget recent-post">
                        <h3 class="title">Sản phẩm nổi bật</h3>
                        <!-- Single Post -->
                        <div class="single-post first">
                            <div class="image">
                                <img src="https://via.placeholder.com/75x75" alt="#">
                            </div>
                            <div class="content">
                                <h5><a href="#">Girls Dress</a></h5>
                                <p class="price">$99.50</p>
                                <ul class="reviews">
                                    <li class="yellow"><i class="ti-star"></i></li>
                                    <li class="yellow"><i class="ti-star"></i></li>
                                    <li class="yellow"><i class="ti-star"></i></li>
                                    <li><i class="ti-star"></i></li>
                                    <li><i class="ti-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Post -->
                        <!-- Single Post -->
                        <div class="single-post first">
                            <div class="image">
                                <img src="https://via.placeholder.com/75x75" alt="#">
                            </div>
                            <div class="content">
                                <h5><a href="#">Women Clothings</a></h5>
                                <p class="price">$99.50</p>
                                <ul class="reviews">
                                    <li class="yellow"><i class="ti-star"></i></li>
                                    <li class="yellow"><i class="ti-star"></i></li>
                                    <li class="yellow"><i class="ti-star"></i></li>
                                    <li class="yellow"><i class="ti-star"></i></li>
                                    <li><i class="ti-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Post -->
                        <!-- Single Post -->
                        <div class="single-post first">
                            <div class="image">
                                <img src="https://via.placeholder.com/75x75" alt="#">
                            </div>
                            <div class="content">
                                <h5><a href="#">Man Tshirt</a></h5>
                                <p class="price">$99.50</p>
                                <ul class="reviews">
                                    <li class="yellow"><i class="ti-star"></i></li>
                                    <li class="yellow"><i class="ti-star"></i></li>
                                    <li class="yellow"><i class="ti-star"></i></li>
                                    <li class="yellow"><i class="ti-star"></i></li>
                                    <li class="yellow"><i class="ti-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Post -->
                    </div>
                    <!--/ End Single Widget -->

                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-12">
                <div class="row">
                    <div class="col-12">
                        <!-- Shop Top -->
                        <div class="shop-top">
                            <div class="shop-shorter">
                                <div class="single-shorter">
                                    <label>Hiển thị :</label>
                                    <select id="page-size">
                                        <option value="6">06</option>
                                        <option value="9">09</option>
                                        <option value="15">15</option>
                                        <option value="25">25</option>
                                    </select>
                                </div>
                                <div class="single-shorter">
                                    <label>Sắp xếp theo :</label>
                                    <select id="sort-by">
                                        <option value="name-asc">Name (A - Z)</option>
                                        <option value="name-desc">Name (Z - A)</option>
                                        <option value="finalPrice-asc">Price (Low &gt; High)</option>
                                        <option value="finalPrice-desc">Price (High &gt; Low)</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!--/ End Shop Top -->
                    </div>
                </div>
                <div class="row" id="list-product">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-product">
                            <div class="product-img">
                                <a>
                                    <img class="default-img" th:src="@{https://via.placeholder.com/550x750}" alt="#">
                                    <img class="hover-img" th:src="@{https://via.placeholder.com/550x750}" alt="#">
                                </a>
                                <div class="button-head">
                                    <div class="product-action" style="margin-right: 10px;">
                                        <a title="Quick View">
                                            <i class=" ti-eye"></i><span>Xem nhanh</span>
                                        </a>
                                        <a th:if="${#request.userPrincipal}" title="Wishlist">
                                            <i class=" ti-heart "></i><span>Thêm vào Wishlist</span>
                                        </a>
                                    </div>
                                    <div class="product-action-2">
                                        <a title="Add to cart">Thêm vào giỏ hàng</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3><a></a></h3>
                                <div class="product-price">
                                    <span></span>
                                    <span class="old"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination-nav text-center mt_50">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Product Style 1  -->

<!-- Modal -->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ti-close" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row no-gutters">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <!-- Product Slider -->
                        <div class="product-gallery">
                            <div class="quickview-slider-active">
                                <div class="single-slider">
                                    <img src="https://via.placeholder.com/569x528" alt="#">
                                </div>
                                <div class="single-slider">
                                    <img src="https://via.placeholder.com/569x528" alt="#">
                                </div>
                                <div class="single-slider">
                                    <img src="https://via.placeholder.com/569x528" alt="#">
                                </div>
                                <div class="single-slider">
                                    <img src="https://via.placeholder.com/569x528" alt="#">
                                </div>
                            </div>
                        </div>
                        <!-- End Product slider -->
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="quickview-content">
                            <h2>Flared Shift Dress</h2>
                            <div class="quickview-ratting-review">
                                <div class="quickview-ratting-wrap">
                                    <div class="quickview-ratting">
                                    </div>
                                    <span>( <span id="num-customer-review"></span> customer review)</span>
                                </div>
                                <div class="quickview-stock">
                                    <span id="in-stock"><i class="fa fa-check-circle-o"></i> in stock</span>
                                    <span id="out-stock"><i class="fa fa-check-circle-o"
                                                            style="background-color: #bd2130"></i> out of stock</span>
                                </div>
                            </div>
                            <h3></h3>
                            <div class="quickview-peragraph">
                                <p></p>
                            </div>
                            <div class="quantity">
                                <!-- Input Order -->
                                <div class="input-group">
                                    <div class="button minus">
                                        <button type="button" class="btn btn-primary btn-number" disabled="disabled"
                                                data-type="minus" data-field="quant[1]">
                                            <i class="ti-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" name="quant[1]" class="input-number" data-min="1" data-max="1000"
                                           value="1">
                                    <div class="button plus">
                                        <button type="button" class="btn btn-primary btn-number" data-type="plus"
                                                data-field="quant[1]">
                                            <i class="ti-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <!--/ End Input Order -->
                            </div>
                            <div class="add-to-cart">
                                <a id="add-cart" class="btn">Thêm vào giỏ hàng</a>
                                <a th:if="${#request.userPrincipal}" class="btn min"><i class="ti-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->


<!-- Start Footer Area -->
<th:block th:include="user/common/footer"/>
<!-- /End Footer Area -->

<script th:inline="javascript">
    /*<![CDATA[*/
    // A $( document ).ready() block.
    $(document).ready(function () {
        getListCategory();
        let data = {
            "category" : /*[[${category}]]*/,
            "supplier" : /*[[${supplier}]]*/,
            "sort" : $("#sort-by option:selected").val().split("-")[1],
            "sortBy" : $("#sort-by option:selected").val().split("-")[0],
            "pageSize": $("#page-size option:selected").val()
        }
        getListProductByCategory(data);

        $(document).on("click", ".quickview-content .quantity .button.minus", function () {
            $.ajax({
                url: "/api/products/check-provide-enough-quantity",
                data: {
                    "quantity": $(".quickview-content .quantity .input-number").val(),
                    "productUrl": $(".quickview-content").attr("product-url")
                },
                type: "GET",
                dataType: 'json',
                success: function (check) {
                    $(".quickview-content .error-msg").remove();
                    if (check === false) {
                        $(".quickview-content .add-to-cart").after("<div class='error-msg' style='color: red;'>Không đủ số lượng đáp ứng</div>");
                    }
                },
                error: function (xhr) {
                    alert(xhr.responseText);
                }
            });
        });
        $(document).on("click", ".quickview-content .quantity .button.plus", function () {
            $.ajax({
                url: "/api/products/check-provide-enough-quantity",
                data: {
                    "quantity": $(".quickview-content .quantity .input-number").val(),
                    "productUrl": $(".quickview-content").attr("product-url")
                },
                type: "GET",
                dataType: 'json',
                success: function (check) {
                    $(".quickview-content .error-msg").remove();
                    if (check === false) {
                        $(".quickview-content .add-to-cart").after("<div class='error-msg' style='color: red;'>Không đủ số lượng đáp ứng</div>");
                    }
                },
                error: function (xhr) {
                    alert(xhr.responseText);
                }
            });
        });

        $("#page-size").change(function () {
            let sort = $("#sort-by option:selected").val().split("-");
            let data = {
                "category" : /*[[${category}]]*/,
                "supplier" : /*[[${supplier}]]*/,
                "sort" : sort[1],
                "sortBy" : sort[0],
                "pageSize": $("#page-size option:selected").val()
            }
            getListProductByCategory(data);

        });

        $("#sort-by").change(function () {
            let sort = $("#sort-by option:selected").val().split("-");
            let data = {
                "category" : /*[[${category}]]*/,
                "supplier" : /*[[${supplier}]]*/,
                "sort" : sort[1],
                "sortBy" : sort[0],
                "pageSize": $("#page-size option:selected").val()
            }
            getListProductByCategory(data);

        });

        $(document).on("click", "section.product-area.shop-sidebar.shop.section > div > div > div.col-lg-9.col-md-8.col-12 > div.pagination-nav.text-center.mt_50 > ul > li", function () {
            let sort = $("#sort-by option:selected").val().split("-");
            let data = {
                "category" : /*[[${category}]]*/,
                "supplier" : /*[[${supplier}]]*/,
                "sort" : sort[1],
                "sortBy" : sort[0],
                "page" : $(this).attr("page"),
                "pageSize": $("#page-size option:selected").val()
            }
            getListProductByCategory(data);
        });

        $("section.product-area.shop-sidebar.shop.section > div > div > div.col-lg-3.col-md-4.col-12 > div > div.single-widget.range > div > div > div > button")
        .on("click", function () {
            let data = {
                "category" : /*[[${category}]]*/,
                "supplier" : /*[[${supplier}]]*/,
                "sort" : $("#sort-by option:selected").val().split("-")[1],
                "sortBy" : $("#sort-by option:selected").val().split("-")[0],
                "pageSize": $("#page-size option:selected").val(),
                "minPrice" : $('input[name="min-price"]').val(),
                "maxPrice" : $('input[name="max-price"]').val()
            }
            getListProductByCategory(data);
        });
    });

    function getListCategory() {
        $.ajax({
            url: "/api/categories",
            type: "GET",
            contentType: "application/json",
            success: function (categories) {
                // show category
                let html = "";
                $.each(categories, function( index, item ) {
                    html += "<li>\n" +
                        "            <a class=\"parent-category\" href='/collections.html?category=" + item["categoryUrl"] + "'>" + item["categoryName"] + "</a>\n" +
                        "            <ul class=\"list-child-category\">\n";
                    if (item.hasOwnProperty("subCategory")) {
                        $.each(item["subCategory"], function( index, subItem ) {
                            html += "<li>\n" +
                                "         <a href='/collections.html?category=" + subItem["categoryUrl"] + "'>" + subItem["categoryName"] + "</a>\n" +
                                "    </li>\n";
                        });
                    }
                    html += "     </ul>\n" +
                        "</li>";

                });
                $("div.header-inner > div > div > div > div > div > nav > div > div > ul > li:nth-child(2) > ul").append(html);

            },
            error: function () {
                alert("có lỗi xảy ra, không lấy được danh sách danh mục");
            }
        });
    }

    function getListProductByCategory(data) {
        $.ajax({
            url: "/api/products/collections",
            type: "POST",
            data : JSON.stringify(data),
            dataType : "json",
            contentType: "application/json",
            success: function (result) {
                console.log(result["products"]);
                $("section.product-area.shop-sidebar.shop.section > div > div > div.col-lg-3.col-md-4.col-12 > div > div.single-widget.category > ul > li:first-child").nextAll().remove();
                if (result["categories"][0].hasOwnProperty("subCategory")) {
                    $("section.product-area.shop-sidebar.shop.section > div > div > div.col-lg-3.col-md-4.col-12 > div > div.single-widget.category > h3")
                        .attr("categoryUrl", result["categories"][0]["categoryUrl"]).text(result["categories"][0]["categoryName"]);
                    let firstItemCategory = $("section.product-area.shop-sidebar.shop.section > div > div > div.col-lg-3.col-md-4.col-12 > div > div:nth-child(1) > ul > li:first-child");
                    $.each(result["categories"][0]["subCategory"], function (index, item) {
                        let itemCategoryClone = firstItemCategory.clone();
                        itemCategoryClone.show();
                        itemCategoryClone.find("a").attr("href", "/collections.html?category=" + item["categoryUrl"]).text(item["categoryName"]);
                        itemCategoryClone.insertAfter(firstItemCategory);
                    });
                    firstItemCategory.hide();
                } else{
                    $("section.product-area.shop-sidebar.shop.section > div > div > div.col-lg-3.col-md-4.col-12 > div > div.single-widget.category > h3")
                        .attr("categoryUrl", result["categories"][0]["categoryUrl"]).text(result["categories"][0]["categoryName"]);
                    $("section.product-area.shop-sidebar.shop.section > div > div > div.col-lg-3.col-md-4.col-12 > div > div.single-widget.category > ul").hide();
                }


                $("section.product-area.shop-sidebar.shop.section > div > div > div.col-lg-3.col-md-4.col-12 > div > div:nth-child(2) > ul > li:first-child").nextAll().remove();
                let firstItemSupplier = $("section.product-area.shop-sidebar.shop.section > div > div > div.col-lg-3.col-md-4.col-12 > div > div:nth-child(2) > ul > li:first-child");
                let category = /*[[${category}]]*/;
                $.each(result["suppliers"], function (index, item) {
                    let itemSupplierClone = firstItemSupplier.clone();
                    itemSupplierClone.show();
                    itemSupplierClone.find("a").text(item["name"]).attr("href", "/collections.html?supplier=" + item["name"] + "&category=" + category);
                    itemSupplierClone.insertAfter(firstItemSupplier);
                });
                firstItemSupplier.hide();

                $("#list-product > div:nth-child(1)").nextAll().remove();
                genListProduct(result["products"]);


                $("section.product-area.shop-sidebar.shop.section > div > div > div.col-lg-9.col-md-8.col-12 > div.pagination-nav.text-center.mt_50 > ul")
                    .empty();
                let html = "<li page='1'><a>First</a></li>\n";
                if (result["page"] > 1) {
                    html += "<li page=" + (parseInt(result["page"]) - 1 ) + "><a ><i class=\"fa fa-angle-left\"></i></a></li>\n";
                } else {
                    html += "<li page='1'><a ><i class=\"fa fa-angle-left\"></i></a></li>\n";
                }
                for(let i=1; i <= result["totalPages"] ; ++i) {
                    if (i === result["page"]) {
                        html += "<li page=" + i +" class='active'><a>" + i + "</a></li>";
                    } else {
                        html += "<li page=" + i +"><a>" + i + "</a></li>";
                    }
                }
                if (parseInt(result["page"]) < parseInt(result["totalPages"])) {
                    html += "<li page=" + (parseInt(result["page"]) + 1) + "><a ><i class=\"fa fa-angle-right\"></i></a></li>\n";
                } else {
                    html += "<li page=" + parseInt(result["page"]) + "><a ><i class=\"fa fa-angle-right\"></i></a></li>\n";
                }
                html += "<li page=" + parseInt(result["totalPages"]) + "><a>Last</a></li>";
                $("section.product-area.shop-sidebar.shop.section > div > div > div.col-lg-9.col-md-8.col-12 > div.pagination-nav.text-center.mt_50 > ul")
                    .append(html);

            },
            error: function () {
                alert("có lỗi xảy ra, không lấy được danh sách sản phẩm");
            }
        });

    }

    function genListProduct(products) {
        let firstItem = $("#list-product > div:first-child");
        $.each(products, function (index, item) {
            let itemClone = firstItem.clone();
            itemClone.show();
            itemClone.find("div.product-content > h3 > a").attr("href", "/products/" + item["productUrl"] + ".html").text(item["productName"]);
            itemClone.find("div.product-action-2 > a").attr("href", "/products/" + item["productUrl"] + ".html");
            itemClone.find("div.product-content > div > span:nth-child(1)").text(item["finalPrice"]);
            itemClone.find("div.product-content > div > span.old").text(item["price"]);
            $("#list-product").append(itemClone);
        });
        firstItem.hide();
    }

    /*]]>*/
</script>

</body>
</html>