<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='copyright' content=''>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title Tag  -->
    <title>Theo dõi đơn hàng</title>
    <th:block th:include="user/common/header_tag_common"/>
    <!-- custom css  -->
    <link rel="stylesheet" th:href="@{/css/custom2.css}">
    <style>
        html {
            font-family: Roboto, Helvetica, Arial, sans-serif;
        }
    </style>
</head>
<body class="js">

<!-- Header -->
<th:block th:include="user/common/header"/>
<!--/ End Header -->

<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a href="index1.html">Home<i class="ti-arrow-right"></i></a></li>
                        <li class="active"><a href="blog-single.html"></a>Thông tin tài khoản</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Product Style -->
<section class="product-area shop-sidebar shop section" style="padding-top: 0px;">
    <div class="container">
        <div class="row">

            <!-- Start account items manager Area -->
            <th:block th:include="user/common/left-navbar-manager"/>
            <!-- /End account items manager Area -->

            <div class="Account__StyledAccountLayoutInner">
                <div class="styles__StyledTrackingDetail">
                    <div class="order-heading"><h3></h3>
                        <div class="view-detail"><a th:href="@{'/sales/order/view/' + ${orderId}}">Xem chi tiết đơn hàng</a></div>
                    </div>
                    <div>
                        <div class="styles__StyledOrderStatus"><p class="title">Trạng thái đơn
                            hàng</p>
                            <div class="status-block"><span class="status-text">Trạng thái: <b></b></span>
                            </div>
                        </div>
                        <div class="styles__StyledOrderStatusDetail">
                            <p class="title">Chi tiết trạng thái đơn hàng</p>
                            <div class="detail">
                                <div class="border">
                                    <div class="styles__StyledOrderStatusDetailItem cGrxj"></div>
                                </div>
                            </div>
                        </div>
                        <div class="styles__StyledOrderItems">
                            <p class="title">Kiện hàng gồm có</p>
                            <div class="items">
                                <div class="item">
                                    <img class="image">
                                    <div class="info">
                                        <a class="name"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Product Style 1  -->

<!-- Start Footer Area -->
<th:block th:include="user/common/footer"/>
<!-- /End Footer Area -->

<script th:inline="javascript">
    /*<![CDATA[*/
    // A $( document ).ready() block.
    $(document).ready(function() {
        getListCategory();
        var orderId = /*[[${orderId}]]*/;
        getOrderLogging(orderId);
    });

    /*]]>*/
</script>
</body>
</html>