<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Đơn hàng của tôi</title>
    <th:block th:include="user/common/header_tag_common"/>
    <!-- custom css  -->
    <link rel="stylesheet" th:href="@{/css/custom2.css}">
</head>
<body class="js">
<!-- Header -->
<th:block th:include="user/common/header"/>
<!--/ End Header -->

<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a th:href="@{/}">Trang chủ<i class="ti-arrow-right"></i></a></li>
                        <li class="active"><a th:href="@{/sales/order/history}">Lịch sử mua hàng</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Product Style -->
<section class="product-area shop-sidebar shop section" style="padding-top: 15px;">
    <div class="container">
        <div class="row">
            <!-- Start account items manager Area -->
            <th:block th:include="user/common/left-navbar-manager"/>
            <!-- /End account items manager Area -->

            <div class="Account__StyledAccountLayoutInner">
                <div class="styles__StyledAccountListOrder">
                    <div class="heading">Đơn hàng của tôi</div>
                    <div class="inner">
                        <table>
                            <thead>
                            <tr>
                                <th style="min-width: 135px;">Mã đơn hàng</th>
                                <th style="min-width: 145px;">Ngày mua</th>
                                <th>Sản phẩm</th>
                                <th>Tổng tiền</th>
                                <th style="min-width: 182px;">Trạng thái đơn hàng</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                    <ul class="Pagination__StyledPagination">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Product Style 1  -->

<!-- Start Footer Area -->
<th:block th:include="user/common/footer"/>
<!-- /End Footer Area -->

<script th:inline="javascript">
    /*<![CDATA[*/
    // A $( document ).ready() block.
    $(document).ready(function () {
        getOrdersHistory(1, 5);
        getTotalOrderPage();

        $(document).on('click', 'ul.Pagination__StyledPagination > li', function () {
            $(".Pagination__StyledPagination").children("li").removeClass("is-active");
            $(this).addClass("is-active");
            $('tbody').empty();
            getOrdersHistory(parseInt($(this).text()), 5);
        });
    });

    /*]]>*/
</script>
</body>
</html>