<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <!-- Title Tag  -->
    <title>Thanh toán đơn hàng thành công</title>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css}"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous"/>
    <th:block th:include="user/common/header_tag_common"/>
</head>
<body class="js">

<!-- Preloader -->
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- End Preloader -->

<!-- Header -->
<th:block th:include="user/common/header"/>
<!--/ End Header -->

<!-- Shopping Cart -->
<div class="shopping-cart section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div style="text-align: center; margin: auto;">
                    <p style="font-size: 20px; color: green;">Mã đơn hàng : <span id="orderId"></span> - Tổng thanh toán : $<span id="orderValue"></span></p>
                    <div style="color: green ; font-size: 50px; display: block; margin: auto; width: fit-content; margin-top: 20px;">
                        <img th:src="@{/images/order-success.png}" style="width: 25%;">
                    </div>
                    <div class="center" style="margin-top: 20px;">
                        <div class="button5">
                            <a style="color: white;" class="btn">Chi tiết đơn hàng</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ End Shopping Cart -->

<!-- Start Footer Area -->
<th:block th:include="user/common/footer"/>
<!-- /End Footer Area -->

<script th:inline="javascript">
    /*<![CDATA[*/
    // A $( document ).ready() block.
    $(document).ready(function () {
        getListCategory();
        let orderId = localStorage.getItem('orderId');
        let orderValue = localStorage.getItem('orderValue');
        $("#orderId").text(orderId);
        $("#orderValue").text(orderValue);
        $("div.shopping-cart.section > div > div > div > div > div.center > div > a").attr("href", "/sales/order/view/" + orderId);

    });
    /*]]>*/
</script>

</body>
</html>