<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <!-- Title Tag  -->
    <title>Chi tiết sản phẩm</title>
    <th:block th:include="user/common/header_tag_common"/>
    <!-- custom css  -->
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <link rel="stylesheet" th:href="@{/css/modal-alert.css}">

    <style>

        table, td {
            border: 1px solid #8c8585;
        }

        table {
            border-collapse: collapse;
        }

        tbody > th, td {
            text-align: left;
            padding: 2px;
        }

        tbody > tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body class="js" style="background-color: #F6F7FB;">

<!-- Header -->
<th:block th:include="user/common/header"/>
<!--/ End Header -->

<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a th:href="@{/}">Trang chủ<i class="ti-arrow-right"></i></a></li>
                        <li class="active">Chi tiết sản phẩm <i class="ti-arrow-right"></i></li>
                        <li><a></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Product Style -->
<section class="product-area shop-sidebar shop section" style="padding-top: 0px;">
    <div class="container">
        <div class="modal-body">
            <div class="row no-gutters" style="background: white;">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <!-- Product Slider -->
                    <div class="product-gallery product-detail" style="margin-top: 50px;">
                        <div class="quickview-slider-active-1">
                        </div>
                    </div>
                    <!-- End Product slider -->
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="quickview-content">
                        <h2 style="margin-bottom: 20px;"></h2>
                        <div class="quickview-ratting-review" style="margin-bottom: 20px;">
                            <div class="quickview-ratting-wrap">
                                <ul class="reviews">
                                </ul>
                                <span style="margin-left: 10px;"></span>
                            </div>
                            <div class="quickview-stock">
                                <span><i class="far fa-check-circle"></i> còn hàng</span>
                            </div>
                        </div>

                        <div style="margin: 20px 0px 20px 0px;">
                            <span id="final-price" style="font-size: 25px; color: red;"></span>
                            <span id="price"
                                  style="text-decoration: line-through; opacity: .6; margin-left: 10px; font-size: 20px;"></span>
                        </div>


                        <div class="quantity" style="margin-bottom: 30px;">
                            <!-- Input Order -->
                            <div class="input-group">
                                <div class="button minus">
                                    <button type="button" class="btn btn-primary btn-number" disabled="disabled"
                                            data-type="minus" data-field="quant[1]">
                                        <i class="ti-minus"></i>
                                    </button>
                                </div>
                                <input type="text" name="quant[1]" class="input-number" data-min="1" data-max="1000"
                                       value="1">
                                <div class="button plus">
                                    <button type="button" class="btn btn-primary btn-number" data-type="plus"
                                            data-field="quant[1]">
                                        <i class="ti-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <!--/ End Input Order -->
                            <div class="add-to-cart">
                                <a id="add-cart" class="btn">Thêm vào giỏ hàng</a>
                                <a th:if="${#request.userPrincipal}" class="btn min"><i class="ti-heart"></i></a>
                            </div>
                        </div>

                        <!--description-->
                        <div class="quickview-peragraph card">
                            <p></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="product__details__tab" style="margin-left: 16px;">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab" aria-selected="true">Thông
                                tin về sản phẩm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab" aria-selected="false">Bình
                                luận <span>(1)</span></a>
                        </li>
                    </ul>
                    <div class="tab-content" style="margin: 40px 0px 40px 0px;">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Thông tin chi tiết về sản phẩm</h6>
                                <p></p>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <div class="col-md-12">
                                <div class="list-review">
                                    <ul>
                                        <li class="review-item" style="padding-bottom: 10px;">
                                            <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
                                                <div class="col-md-3">
                                                    <div class="review-user">
                                                        <div style="float: left; border-radius: 10px;"
                                                             class="review-avatar">
                                                            <img style="width: 40px;"
                                                                 th:src="@{/images/user-avatar.jpg}" alt="Image">
                                                        </div>
                                                        <div style="float: left; margin-left: 10px;">
                                                            <h6 class="user-name"></h6>
                                                            <p class="comment-date"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="review-item-detail" style="display: flex; flex-direction: column;">
                                                        <div class="review-des">
                                                            <div style="display: flex; float: right;">
                                                                Đánh giá :
                                                                <span style="margin-left: 5px;"></span>
                                                            </div>
                                                            <div class="title">
                                                                <p style="font-size: 15px;"><strong></strong></p>
                                                            </div>
                                                            <div class="review-content">
                                                                <span></span>
                                                            </div>
                                                            <div class="review-comment-image">
                                                                <img style="border: 1px solid #ada4a4; border-radius: 5px; max-width: 20%; max-height: 100px; height: 80px;">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="like-and-review" style="padding-top: 10px;">
                                                        <span class="like" style="padding: 8px 16px 9px; line-height: 20px; font-weight: 500;border-radius: 4px;
                                                                                                        margin: 0px 8px 0px 0px;cursor: pointer;display: inline-block; border: 1px solid #333;">
                                                            <i class="fa fa-thumbs-up" aria-hidden="true"></i><span>Like <span></span></span>
                                                        </span>
                                                        <span class="reply" style="padding: 8px 16px 9px; line-height: 20px; font-weight: 500;border-radius: 4px;
                                                                                                        margin: 0px 8px 0px 0px;cursor: pointer;display: inline-block;">
                                                            <i class="fa fa-reply"
                                                               aria-hidden="true"></i><span>Trả lời</span>
                                                        </span>
                                                    </div>

                                                    <div class="reply-input" style="display: none;">
                                                        <div class="form-group required">
                                                            <div style="padding-top: 15px;">
                                                                <form action="/api/review/reply" class="form-inline"
                                                                      method="post">
                                                                    <textarea class="form-control" type="text"
                                                                              placeholder="Viết câu trả lời"
                                                                              style="width: 90%;" rows="1"></textarea>
                                                                    <input type="hidden" class="id-root-review">
                                                                    <button type="button"
                                                                            class="btn btn-md btn-link send-reply-comment"
                                                                            style="width: 10%;">Gửi
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="review-comment_sub-comments">
                                                        <div class="view-reply-more">Xem tất cả <span></span> câu trả
                                                            lời
                                                        </div>
                                                        <div class="list-reply-item"></div>
                                                        <div class="view-reply-less">Ẩn <span></span> câu trả lời</div>
                                                    </div>
                                                </div>

                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Product Style 1  -->

<!-- Start Most Popular -->
<div class="product-area most-popular section" style="padding-left: 100px; padding-right: 100px; padding-bottom: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title" style="margin-bottom: 0px;">
                    <h2>Sản phẩm tương tự</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel popular-slider">
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-img">
                            <a href="product-details.html">
                                <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
                                <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
                                <span class="out-of-stock">Hot</span>
                            </a>
                            <div class="button-head">
                                <div class="product-action">
                                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i
                                            class=" ti-eye"></i><span>Quick Shop</span></a>
                                    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                    <a title="Compare" href="#"><i
                                            class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                </div>
                                <div class="product-action-2">
                                    <a title="Add to cart" href="#">Add to cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a href="product-details.html">Black Sunglass For Women</a></h3>
                            <div class="product-price">
                                <span class="old">$60.00</span>
                                <span>$50.00</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-img">
                            <a href="product-details.html">
                                <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
                                <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
                            </a>
                            <div class="button-head">
                                <div class="product-action">
                                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i
                                            class=" ti-eye"></i><span>Quick Shop</span></a>
                                    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                    <a title="Compare" href="#"><i
                                            class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                </div>
                                <div class="product-action-2">
                                    <a title="Add to cart" href="#">Add to cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a href="product-details.html">Women Hot Collection</a></h3>
                            <div class="product-price">
                                <span>$50.00</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-img">
                            <a>
                                <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
                                <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
                                <span class="new">New</span>
                            </a>
                            <div class="button-head">
                                <div class="product-action">
                                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i
                                            class=" ti-eye"></i><span>Quick Shop</span></a>
                                    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                    <a title="Compare" href="#"><i
                                            class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                </div>
                                <div class="product-action-2">
                                    <a title="Add to cart" href="#">Add to cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a href="product-details.html">Awesome Pink Show</a></h3>
                            <div class="product-price">
                                <span>$50.00</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-img">
                            <a href="product-details.html">
                                <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
                                <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
                            </a>
                            <div class="button-head">
                                <div class="product-action">
                                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i
                                            class=" ti-eye"></i><span>Quick Shop</span></a>
                                    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                    <a title="Compare" href="#"><i
                                            class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                </div>
                                <div class="product-action-2">
                                    <a title="Add to cart" href="#">Add to cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a href="product-details.html">Awesome Bags Collection</a></h3>
                            <div class="product-price">
                                <span>$50.00</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Most Popular Area -->
<!-- The Modal -->
<div id="myModal" class="myModal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="closeModal">&times;</span>
        <img src="/images/check-success-icon.png">
        <p></p>
    </div>
</div>

<!-- Start Footer Area -->
<th:block th:include="user/common/footer"/>
<!-- /End Footer Area -->

<script th:inline="javascript">
    /*<![CDATA[*/
    // A $( document ).ready() block.
    $(document).ready(function () {

        let productUrl = /*[[${productUrl}]]*/;
        getListCategory();
        displayProduct(productUrl);
        actionForModal();

        $(document).on("click", "div.view-reply-more", function () {
            $(this).hide();
            $(this).parent().find(".list-reply-item").show();
            $(this).parent().find(".view-reply-less").show();
        });
        $(document).on("click", "div.view-reply-less", function () {
            $(this).hide();
            $(this).parent().find(".list-reply-item").hide();
            $(this).parent().find(".view-reply-more").show();
        });
        $(document).on("click", ".reply", function () {
            let idReview = $(this).closest("li").attr("data-id_comment");
            if ($("#reply-review-" + idReview).css('display') === 'block') {

                $("#reply-review-" + idReview).hide();
            } else if ($("#reply-review-" + idReview).css('display') === 'none') {
                $("#reply-review-" + idReview).show();
            }
        });
        $(document).on("click", ".send-reply-comment", function () {
            let userLogged = [[${#request.userPrincipal}]];
            if (userLogged !== null) {
                let idReview = $(this).closest(".review-item").attr("data-id_comment");
                let data = {
                    "rootId": $(this).parent().find(".id-root-review").val(),
                    "comment": $(this).parent().find("textarea").val()
                }
                $.ajax({
                    url: $(this).parent().attr('action'),
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (result) {
                        let numberOfReview = $("#reply-items-list-" + idReview).siblings(".view-reply-more").find('span').text();
                        $("div.reply-input").hide();
                        let html = "<div  class=\"reply-item\">\n" +
                            "            <div class=\"info-reply-user\">\n" +
                            "                 <span class=\"img-user-reply\"><img src='/images/user-avatar.jpg' style=\"width: 30px;\" alt=\"Image\"></span>\n" +
                            "                 <span class=\"user-name\">" + result["reviewerName"] + "</span>\n" +
                            "                 <span class=\"comment-date\">" + result["createdAt"] + "</span>\n" +
                            "                 <p class=\"reply-content\">" + result["comment"] + "</p>\n" +
                            "            </div>\n" +
                            "        </div>";
                        $("#reply-items-list-" + idReview).siblings(".view-reply-more").find('span').text(parseInt(numberOfReview) + 1);
                        $("#reply-items-list-" + idReview).siblings(".view-reply-less").find('span').text(parseInt(numberOfReview) + 1);
                        $(html).delay(500).prependTo("#reply-items-list-" + idReview).hide().slideDown().fadeIn();
                    },
                    error: function (xhr) {
                        alert(xhr.responseText);
                    }
                });
            } else {
                alert("Bạn chưa đăng nhập");
            }

        });
        $(document).on("click", ".quickview-content .quantity .button.minus", function () {
            $.ajax({
                url: "/api/products/check-provide-enough-quantity",
                data: {
                    "quantity": $(".quickview-content .quantity .input-number").val(),
                    "productUrl": $(".quickview-content").attr("product-url")
                },
                type: "GET",
                dataType: 'json',
                success: function (check) {
                    $(".quickview-content .error-msg").remove();
                    if (check === false) {
                        $(".quickview-content .add-to-cart").after("<div class='error-msg' style='color: red;'>Không đủ số lượng đáp ứng</div>");
                    }
                },
                error: function (xhr) {
                    alert(xhr.responseText);
                }
            });
        });
        $(document).on("click", ".quickview-content .quantity .button.plus", function () {
            $.ajax({
                url: "/api/products/check-provide-enough-quantity",
                data: {
                    "quantity": $(".quickview-content .quantity .input-number").val(),
                    "productUrl": $(".quickview-content").attr("product-url")
                },
                type: "GET",
                dataType: 'json',
                success: function (check) {
                    $(".quickview-content .error-msg").remove();
                    if (check === false) {
                        $(".quickview-content .add-to-cart").after("<div class='error-msg' style='color: red;'>Không đủ số lượng đáp ứng</div>");
                    }
                },
                error: function (xhr) {
                    alert(xhr.responseText);
                }
            });
        });

        var actionLike = new Map();
        $(document).on("click", "div.like-and-review > span.like", function () {
            let thisLikeButton = $(this);
            let reviewId = $(this).closest(".review-item").attr("data-id_comment");
            if (actionLike.has(reviewId) && actionLike.get(reviewId) === "like") {
                thisLikeButton.css("background-color", "transparent");
                actionLike.set(reviewId, "cancel");
            } else if (actionLike.has(reviewId) && actionLike.get(reviewId) === "cancel") {
                actionLike.set(reviewId, "like");
                thisLikeButton.css("background-color", "#5ACAE9");
            } else {
                actionLike.set(reviewId, "like");
                thisLikeButton.css("background-color", "#5ACAE9");
            }

            $.ajax({
                url: "/api/review/likeComment",
                data: JSON.stringify({
                    "reviewId": reviewId,
                    "action": actionLike.get(reviewId)
                }),
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    thisLikeButton.find("span > span").text("(" + result + ")");
                },
                error: function (xhr) {
                    alert(xhr.responseText);
                }
            });
        });

        function displayProduct(productUrl) {
            $.ajax({
                url: "/api/products/" + productUrl,
                type: "GET",
                dataType: 'json',
                success: function (res) {
                    if (res["status"] === true) {
                        let product = res["data"]["product"];

                        // set image
                        $.each(product["images"], function (index, item) {
                            let html = "<div class=\"single-slider\">\n" +
                                "           <img src='" + item + "'>\n" +
                                "        </div>";
                            $("div.quickview-slider-active-1").append(html);
                        });
                        $('.quickview-slider-active-1').owlCarousel({
                            items: 1,
                            autoplay: true,
                            autoplayTimeout: 5000,
                            smartSpeed: 400,
                            autoplayHoverPause: true,
                            nav: true,
                            loop: true,
                            merge: true,
                            dots: false,
                            navText: ['<i class=" ti-arrow-left"></i>', '<i class=" ti-arrow-right"></i>'],
                        });

                        $("div.breadcrumbs > div > div > div > div > ul > li:nth-child(3) > a").attr("href", "/products/" + product["productUrl"] + ".html")
                            .text(product["productName"]);
                        $("div.modal-body > div > div:nth-child(2) > div").attr("product-url", product["productUrl"]);
                        $("div.modal-body > div > div:nth-child(2) > div > h2").text(product["productName"]).attr("product-url", product["productUrl"]);
                        $("div.modal-body > div > div:nth-child(2) > div > div > span#final-price").text("$" + product["finalPrice"]);
                        $("div.modal-body > div > div:nth-child(2) > div > div > span#price").text("$" + product["price"]);
                        $("div.modal-body > div > div:nth-child(2) > div > div.quickview-peragraph > p").html(product["detailDescription"]);
                        $("#add-cart").attr("productUrl", product["productUrl"]);
                        $("div.modal-body > div > div:nth-child(2) > div > div.quantity > div.add-to-cart > a.btn.min").attr("href", "/api/account/wishlist/add/" + product["id"]);
                        // $("#tabs-1 > div > p").html(product["detailDescription"]);
                        $("section.product-area.shop-sidebar.shop.section > div > div.row > div > div > ul > li:nth-child(2) > a > span").text("(" + product["numberOfReviews"] + ")");
                        $("div.modal-body > div > div:nth-child(2) > div > div.quickview-ratting-review > div.quickview-ratting-wrap > span").text("(" + product["numberOfReviews"] + " lượt bình luận)");
                        if (product["amount"] <= 0) {
                            $("div.modal-body > div > div:nth-child(2) > div > div.quickview-ratting-review > div.quickview-stock > span").hide();
                        }
                        // ratting
                        if (parseInt(product["rating"]) > 0) {
                            for (let i = 0; i < parseInt(product["rating"]); i++) {
                                $("div.modal-body > div > div:nth-child(2) > div > div.quickview-ratting-review > div.quickview-ratting-wrap > ul.reviews")
                                    .append("<li class=\"yellow\"><i class=\"ti-star\"></i></li>");
                            }
                        }
                        if ((5 - parseInt(product["rating"])) > 0) {
                            for (let i = 0; i < (5 - parseInt(product["rating"])); i++) {
                                $("div.modal-body > div > div:nth-child(2) > div > div.quickview-ratting-review > div.quickview-ratting-wrap > ul.reviews")
                                    .append("<li><i class=\"ti-star\"></i></li>");
                            }
                        }
                        $("div.modal-body > div > div:nth-child(2) > div > div.quickview-ratting-review > div.quickview-ratting-wrap > span")
                            .text(" (" + product["numberOfReviews"] + " lượt bình luận)");

                        // reviews
                        let firstUl = $("#tabs-3 > div > div > ul > li:first-child");
                        $.each(product["reviews"], function (index, item) {
                            let rowClone = firstUl.clone();
                            rowClone.attr("data-id_comment", item["id"])
                            rowClone.find("div > div.col-md-3 > div > div:nth-child(2) > h6").text(item["reviewerName"]);
                            rowClone.find("div > div.col-md-3 > div > div:nth-child(2) > p").text(item["createdAt"]);
                            rowClone.find("div.review-item-detail > div.review-des > div.title > p > strong").text(item["title"]);
                            rowClone.find("div.review-item-detail > div.review-des > div.review-content > span").text(item["comment"]);
                            rowClone.find("div.like-and-review > span.like > span > span").text("(" + item["numbersOfLike"] + ")");
                            rowClone.find("div.reply-input").attr("id", "reply-review-" + item["id"]);
                            if (parseInt(item["rating"]) > 0) {
                                for (let i = 0; i < parseInt(item["rating"]); i++) {
                                    rowClone.find("div.review-item-detail > div > div:nth-child(1) > span").append("<i class=\"yellow fa fa-star\"></i>");
                                }
                            }
                            if ((5 - parseInt(item["rating"])) > 0) {
                                for (let i = 0; i < (5 - parseInt(item["rating"])); i++) {
                                    rowClone.find("div.review-item-detail > div > div:nth-child(1) > span").append("<i class=\"fa fa-star\"></i>");
                                }
                            }
                            if (item.hasOwnProperty("img")) {
                                rowClone.find("div.review-item-detail > div > div.review-comment-image > img")
                                    .attr("src", "/images/image-product-review/" + item["productId"] + "/" + item["img"]);
                            } else {
                                rowClone.find("div.review-item-detail > div > div.review-comment-image > img").remove();
                            }

                            if (item.hasOwnProperty("subReviews")) {
                                rowClone.find(".review-comment_sub-comments").show();
                                $.each(item["subReviews"], function (index, subItem) {
                                    let html = "<div class=\"reply-item\">\n" +
                                        "           <div class=\"info-reply-user\">\n" +
                                        "                <span class=\"img-user-reply\"><img style=\"width: 30px;\" src=\"/images/user-avatar.jpg\" alt=\"image\"></span>\n" +
                                        "                     <span class=\"user-name\">" + subItem["reviewerName"] + "</span>\n" +
                                        "                     <span class=\"comment-date\">" + subItem["createdAt"] + "</span>\n" +
                                        "                     <p class=\"reply-content\">" + subItem["comment"] + "</p>\n" +
                                        "                </div>\n" +
                                        "          </div>";
                                    rowClone.find(".list-reply-item").append(html);
                                });
                                rowClone.find("form > input.id-root-review").val(item["id"]);
                                rowClone.find(".list-reply-item").attr("id", "reply-items-list-" + item["id"]);
                                rowClone.find("div > div.col-md-9 > div.review-comment_sub-comments > div.view-reply-more > span").text(item["subReviews"].length);
                                rowClone.find("div > div.col-md-9 > div.review-comment_sub-comments > div.view-reply-less > span").text(item["subReviews"].length);
                            } else {
                                rowClone.find(".review-comment_sub-comments").hide();
                            }
                            rowClone.insertAfter(firstUl);
                        });
                        firstUl.hide();
                    } else {
                        // hoặc redirect về trang 404
                        $("body > section > div").empty().append("<div class='center'>Không tìm thấy sản phẩm</div>");
                    }
                },
                error: function (xhr) {
                    alert(xhr.responseText);
                }
            });
        }
    });
    /*]]>*/
</script>
</body>
</html>