<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <!-- Title Tag  -->
    <title>Chi tiết sản phẩm</title>
    <th:block th:include="user/common/header_tag_common"/>
    <!-- custom css  -->
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <link rel="stylesheet" th:href="@{/css/modal-alert.css}">

    <style>
        .blog-single .single-comment .content h4 > span:nth-child(1) {
            color: #333;
            font-size: 16px;
            font-weight: 500;
            display: inline-block;
            text-transform: capitalize;
        }

        div.list-reply-item > div:nth-child(1) {
            margin-top: 20px;
        }

        .product-area .nav-tabs li a.active, .product-area .nav-tabs li:hover a {
            background: #fff;
            color: #F7931E;
            border-color: transparent;
        }

        .product-area .nav-tabs li a {
            color: #000000;
            border-color: transparent;
        }

        .product-area > .nav-tabs > li:hover > hr {
            transition: all 0.5s;
        }

        body > section > div > div.row > div > div > ul > li > a.active + hr {
            border: 1px solid #F7931E;
            background: #ccc;
            height: 1px;
            width: 100%;
        }

        div.modal-body > div > div:nth-child(2) > div > div:nth-child(1) > div > span > i {
            font-size: 16px;
            color: #63ab01;
            margin-right: 2px;
            position: relative;
            top: 3px;
        }

        #add-cart {
            background: linear-gradient(90deg, rgba(255, 152, 0, 1) 0%, rgba(247, 105, 93, 1) 100%);
            border: 1px solid;
            color: #ffffff;
            height: 45px;
            width: auto;
            padding: 0px 20px;
            line-height: 45px;
            text-align: center;
            text-transform: capitalize;
            margin-right: 5px;
            border-radius: 25px;
            display: inline-block;
            font-weight: 500;
            cursor: pointer;
        }

        #add-wishlist {
            border: 1px solid #F7931E;
            height: 45px;
            width: auto;
            padding: 0px 20px;
            line-height: 45px;
            text-align: center;
            text-transform: capitalize;
            margin-right: 5px;
            border-radius: 25px;
            display: inline-block;
            font-weight: 500;
            color: rgba(255, 152, 0, 1);
            cursor: pointer;
        }

        #discount-percent {
            margin-left: 8px;
            padding: 4px 10px;
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            background-color: #e84252;
            color: #FFFFFF;
            font-size: 1em;
            font-weight: 600;
        }
    </style>

</head>
<body class="js" style="background-color: #e0e6eb;">

<!-- Header -->
<th:block th:include="user/common/header"/>
<!--/ End Header -->

<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a th:href="@{/}">Trang chủ<i class="ti-arrow-right"></i></a></li>
                        <li class="active">Chi tiết sản phẩm <i class="ti-arrow-right"></i></li>
                        <li><a></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Product Style -->
<section class="product-area shop-sidebar shop section" style="paddind: 0px;">
    <div class="container">
        <div class="modal-body" style="padding: 0px;">
            <div class="row no-gutters" style="background: white; padding: 15px 0px; border-radius: 5px;">
                <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <!-- Product Slider -->
                    <div class="product-gallery product-detail">
                        <div class="quickview-slider-active-1">
                        </div>
                    </div>
                    <!-- End Product slider -->
                </div>
                <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
                    <div class="quickview-content" style="margin-left: 70px;">
                        <div style="display: flex">
                            <h2 style=" margin-bottom: 20px; font-size: 26px;"></h2>
                            <div class="quickview-stock" style="margin-left: 20px;">
                                <span><i class="fa fa-check-circle"></i> còn hàng</span>
                            </div>
                        </div>

                        <p style="margin-bottom: 20px;">Tác giả: <span id="author"
                                                                       style="color: #0b0b0b; font-weight: 500;">dsfdsfsdf</span>
                        </p>
                        <p style="margin-bottom: 20px;">Năm xuất bản: <span id="since"
                                                                            style="color: #0b0b0b; font-weight: 500;">2346</span>
                        </p>
                        <div class="quickview-ratting-review" style="margin-bottom: 20px;">
                            <div class="quickview-ratting-wrap">
                                <ul class="reviews">
                                </ul>
                                <span style="margin-left: 10px;"></span>
                            </div>
                        </div>

                        <p style="margin-bottom: 20px;">Số lượt bình luận: <span id="rating_count"
                                                                                 style="color: #0b0b0b; font-weight: 500;"></span>
                        </p>

                        <div style="margin: 20px 0px 20px 0px;">
                            <span id="final-price" style="font-size: 25px; color: red;"></span>
                            <span id="price"
                                  style="text-decoration: line-through; opacity: .6; margin-left: 10px; font-size: 20px;"></span>
                            <span id="discount-percent">-5%</span>
                        </div>

                        <p style="margin-bottom: 20px;">Số lượng còn lại: <span id="amount"
                                                                                style="color: #0b0b0b; font-weight: 500;"></span>
                        </p>

                        <div class="quantity" style="margin-bottom: 30px;">
                            <!-- Input Order -->
                            Số lượng
                            <div class="input-group">
                                <div class="button minus">
                                    <button type="button" class="btn btn-primary btn-number" disabled="disabled"
                                            data-type="minus" data-field="quant[1]">
                                        <i class="ti-minus"></i>
                                    </button>
                                </div>
                                <input type="text" name="quant[1]" class="input-number" data-min="1" data-max="1000"
                                       value="1">
                                <div class="button plus">
                                    <button type="button" class="btn btn-primary btn-number" data-type="plus"
                                            data-field="quant[1]">
                                        <i class="ti-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!--/ End Input Order -->
                        <div class="add-to-cart">
                            <a id="add-cart"><i class="fa fa-cart-plus"></i> Thêm vào giỏ hàng</a>
                            <a id="add-wishlist" th:if="${#request.userPrincipal}"><i class="ti-heart"></i> thêm vào
                                Wishlist</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="product__details__tab" style="padding-top: 16px; border-radius: 5px;">
                    <ul class="nav nav-tabs" role="tablist" style="background: #fff">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab" aria-selected="true">
                                Thông tin về sản phẩm
                            </a>
                            <hr style="margin-top: 0px; margin-bottom: 0px; height: 0px;">
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab" aria-selected="false">
                                Bình luận <span></span>
                            </a>
                            <hr style="margin-top: 0px; margin-bottom: 0px; height: 0px;">
                        </li>
                    </ul>
                    <div class="tab-content" style="background-color: white;">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__tab__desc" style="padding: 25px; min-height: 200px;">
                                <h6 style="margin-bottom: 16px;"></h6>
                                <p>Nội dung chính: Bộ truyện Harry Potter kể về sự đấu tranh giữa cái thiện và cái ác
                                    trong thế giới phép thuật đầy huyền bí, mà tiêu biểu là cuộc chiến vĩ đại chống lại
                                    tên trùm phù thủy hắc ám Voldemort của cậu bé phù thủy Harry Potter và hai người bạn
                                    thân thiết Hermione Granger, Ronald Weasley.</p>
                            </div>
                        </div>
                        <div class="tab-pane blog-single" id="tabs-3" role="tabpanel"
                             style="padding: 20px 0px 20px 0px;">
                            <div class="col-12">
                                <div class="share-social">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="content-tags"
                                                 style="display: flex; margin-left: 55px; margin-top: 0px; margin-bottom: 20px; float: right;">
                                                <span style="margin-bottom: auto; margin-top: auto;">Lọc theo</span>
                                                <ul class="tag-inner">
                                                    <li><a href="#">1 <i class="ti-star"></i></a></li>
                                                    <li><a href="#">2 <i class="ti-star"></i></a></li>
                                                    <li><a href="#">3 <i class="ti-star"></i></a></li>
                                                    <li><a href="#">4 <i class="ti-star"></i></a></li>
                                                    <li><a href="#">5 <i class="ti-star"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="comments">
                                    <!-- Single Comment -->
                                    <div class="single-comment" style="margin-left: 100px; margin-right: 100px;">
                                        <img src="https://via.placeholder.com/80x80" alt="#">
                                        <div class="content">
                                            <h4>
                                                <span></span>
                                                <span></span>
                                                <span style="display: flex;">
                                                    <span class="rating"
                                                          style="display: flex; margin-right: 8px;"></span>
                                                    <span class="title"></span>
                                                </span>
                                            </h4>
                                            <p class="content"></p>
                                            <div class="like-and-review">
                                                <span class="like"
                                                      style="color: rgb(13, 92, 182);
                                                      padding: 8px 16px 9px; line-height: 20px;
                                                      font-weight: 500;border-radius: 4px;
                                                      margin: 0px 8px 0px 0px;cursor: pointer;
                                                      display: inline-block; border: 1px solid #333;">
                                                      <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                                    <span>Like <span></span></span></span>
                                                <span class="reply"
                                                      style="color: rgb(13, 92, 182);
                                                      padding: 8px 16px 9px;
                                                      line-height: 20px;
                                                      font-weight: 500;
                                                      border-radius: 4px;
                                                      margin: 0px 8px 0px 0px;
                                                      cursor: pointer;display: inline-block;">
                                                      <i class="fa fa-reply"
                                                         aria-hidden="true"></i><span> Trả lời</span></span>
                                            </div>
                                            <div class="reply-input">
                                                <div class="form-group required">
                                                    <div style="padding-top: 15px;">
                                                        <form class="form-inline" method="post">
                                                            <textarea class="form-control" type="text"
                                                                      placeholder="Viết câu trả lời" style="width: 86%;"
                                                                      rows="1"></textarea>
                                                            <input type="hidden" class="id-root-review">
                                                            <button type="button"
                                                                    class="btn btn-md btn-link send-reply-comment">
                                                                Gửi
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="view-reply-more"
                                                 style="color: rgb(13, 92, 182); margin-top: 10px; cursor: pointer; display: none;">
                                                Xem <span></span> câu trả lời
                                            </div>
                                            <div class="list-reply-item">
                                            </div>
                                            <div class="view-reply-less"
                                                 style="color: rgb(13, 92, 182); cursor: pointer; display: none;">Ẩn
                                                <span></span> câu trả lời
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Comment -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Product Style 1  -->

<!-- Start Most Popular -->
<div class="product-area most-popular section" style="padding-top: 10px; padding-bottom: 50px;">
    <div class="container">
        <div class="row" style="background: #FFFFFF; border-radius: 5px;margin: 0px;">
            <div class="col-12">
                <div class="section-title" style="margin-bottom: 0px;">
                    <h2>Gợi ý sản phẩm tương tự</h2>
                </div>
            </div>
            <div class="col-12">
                <div class="owl-carousel popular-slider">
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-img">
                            <a href="product-details.html">
                                <img class="default-img" src="https://images.gr-assets.com/books/1306787560m/1067.jpg" alt="#">
                                <img class="hover-img" src="https://images.gr-assets.com/books/1306787560m/1067.jpg" alt="#">
                                <span class="out-of-stock">Hot</span>
                            </a>
                            <div class="button-head">
                                <div class="product-action">
                                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i
                                            class=" ti-eye"></i><span>Quick Shop</span></a>
                                    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                    <a title="Compare" href="#"><i
                                            class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                </div>
                                <div class="product-action-2">
                                    <a title="Add to cart" href="#">Add to cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a href="product-details.html">Black Sunglass For Women</a></h3>
                            <div class="product-price">
                                <span class="old">$60.00</span>
                                <span>$50.00</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-img">
                            <a href="product-details.html">
                                <img class="default-img" src="https://images.gr-assets.com/books/1353173297m/13547180.jpg" alt="#">
                                <img class="hover-img" src="https://images.gr-assets.com/books/1353173297m/13547180.jpg" alt="#">
                            </a>
                            <div class="button-head">
                                <div class="product-action">
                                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i
                                            class=" ti-eye"></i><span>Quick Shop</span></a>
                                    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                    <a title="Compare" href="#"><i
                                            class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                </div>
                                <div class="product-action-2">
                                    <a title="Add to cart" href="#">Add to cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a href="product-details.html">Women Hot Collection</a></h3>
                            <div class="product-price">
                                <span>$50.00</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-img">
                            <a>
                                <img class="default-img" src="https://images.gr-assets.com/books/1359853842m/16101128.jpg" alt="#">
                                <img class="hover-img" src="https://images.gr-assets.com/books/1359853842m/16101128.jpg" alt="#">
                                <span class="new">New</span>
                            </a>
                            <div class="button-head">
                                <div class="product-action">
                                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i
                                            class=" ti-eye"></i><span>Quick Shop</span></a>
                                    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                    <a title="Compare" href="#"><i
                                            class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                </div>
                                <div class="product-action-2">
                                    <a title="Add to cart" href="#">Add to cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a href="product-details.html">Awesome Pink Show</a></h3>
                            <div class="product-price">
                                <span>$50.00</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-img">
                            <a href="product-details.html">
                                <img class="default-img" src="https://images.gr-assets.com/books/1372086100s/15749186.jpg" alt="#">
                                <img class="hover-img" src="https://images.gr-assets.com/books/1372086100s/15749186.jpg" alt="#">
                            </a>
                            <div class="button-head">
                                <div class="product-action">
                                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i
                                            class=" ti-eye"></i><span>Quick Shop</span></a>
                                    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                    <a title="Compare" href="#"><i
                                            class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                </div>
                                <div class="product-action-2">
                                    <a title="Add to cart" href="#">Add to cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a href="product-details.html">Awesome Bags Collection</a></h3>
                            <div class="product-price">
                                <span>$50.00</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Most Popular Area -->
<!-- The Modal -->
<div id="myModal" class="myModal" style="z-index: 9999;">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="closeModal">&times;</span>
        <img src="/images/check-success-icon.png">
        <p></p>
    </div>
</div>

<!-- Start Footer Area -->
<th:block th:include="user/common/footer"/>
<!-- /End Footer Area -->

<script th:inline="javascript">
    /*<![CDATA[*/
    // A $( document ).ready() block.
    $(document).ready(function () {
        let productUrl = window.location.pathname.replace("/products/", "");
        getListCategory();
        displayProduct(productUrl);
        displayReviewOfProduct(productUrl)
        actionForModal();

        $(document).on("click", "div.view-reply-more", function () {
            $(this).hide();
            $(this).parent().find(".list-reply-item").show();
            $(this).parent().find(".view-reply-less").show();
        });

        $(document).on("click", "div.view-reply-less", function () {
            $(this).hide();
            $(this).parent().find(".list-reply-item").hide();
            $(this).parent().find(".view-reply-more").show();
        });

        $(document).on("click", "div.like-and-review > span.reply", function () {
            let idReview = $(this).closest(".single-comment").attr("data-id_comment");
            if ($("#reply-review-" + idReview).css('display') === 'block') {
                $("#reply-review-" + idReview).hide();
            } else if ($("#reply-review-" + idReview).css('display') === 'none') {
                $("#reply-review-" + idReview).show();
            }
        });

        $(document).on("click", ".send-reply-comment", function () {
            let userLogged = [[${#request.userPrincipal}]];
            if (userLogged !== null) {
                let data = {
                    "parentId": $(this).parent().find(".id-root-review").val(),
                    "content": $(this).parent().find("textarea").val()
                }
                replyReview(data);
            } else {
                alert("Bạn chưa đăng nhập");
            }
        });


        $(document).on("click", ".quickview-content .quantity .button.minus", function () {
            $.ajax({
                url: "/api/products/check-provide-enough-quantity",
                data: {
                    "quantity": $(".quickview-content .quantity .input-number").val(),
                    "productUrl": $(".quickview-content").attr("product-url")
                },
                type: "GET",
                dataType: 'json',
                success: function (check) {
                    $(".quickview-content .error-msg").remove();
                    if (check === false) {
                        $(".quickview-content .add-to-cart").after("<div class='error-msg' style='color: red;'>Không đủ số lượng đáp ứng</div>");
                    }
                },
                error: function (xhr) {
                    alert(xhr.responseText);
                }
            });
        });

        $(document).on("click", ".quickview-content .quantity .button.plus", function () {
            $.ajax({
                url: "/api/products/check-provide-enough-quantity",
                data: {
                    "quantity": $(".quickview-content .quantity .input-number").val(),
                    "productUrl": $(".quickview-content").attr("product-url")
                },
                type: "GET",
                dataType: 'json',
                success: function (check) {
                    $(".quickview-content .error-msg").remove();
                    if (check === false) {
                        $(".quickview-content .add-to-cart").after("<div class='error-msg' style='color: red;'>Không đủ số lượng đáp ứng</div>");
                    }
                },
                error: function (xhr) {
                    alert(xhr.responseText);
                }
            });
        });

        var actionLike = new Map();
        $(document).on("click", "div.like-and-review > span.like", function () {
            let thisLikeButton = $(this);
            let reviewId = $(this).closest(".single-comment").attr("data-id_comment");
            if (actionLike.has(reviewId) && actionLike.get(reviewId) === "like") {
                thisLikeButton.css("background-color", "transparent");
                actionLike.set(reviewId, "cancel");
            } else if (actionLike.has(reviewId) && actionLike.get(reviewId) === "cancel") {
                actionLike.set(reviewId, "like");
                thisLikeButton.css("background-color", "#5ACAE9");
            } else {
                actionLike.set(reviewId, "like");
                thisLikeButton.css("background-color", "#5ACAE9");
            }

            let data = JSON.stringify({
                "reviewId": reviewId,
                "action": actionLike.get(reviewId)
            });
            likeComment(thisLikeButton, data);
        });


    });
    /*]]>*/
</script>
</body>
</html>