<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:include="admin/common/header"/>
<head>
    <title>Quản lý khuyến mãi</title>
    <style>
        label {
            color: black !important;
            font-weight: 500 !important;
        }
    </style>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Trang quản lý</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/admin}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
            <a class="nav-link collapsed show" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Quản lý</span>
            </a>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" th:href="@{/admin/manager_users}"><i class="fas fa-users"></i> Quản lý người dùng</a>
                    <a class="collapse-item" th:href="@{/admin/manager_products}"><i class="fab fa-product-hunt"></i> Quản lý sản phẩm</a>
                    <a class="collapse-item" th:href="@{/admin/manager_orders}"><i class="fas fa-shopping-basket"></i> Quản lý đơn hàng</a>
                    <a class="collapse-item active" th:href="@{/admin/manager_promotions}"><i class="fa fa-gift"></i> Quản lý khuyến mãi</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseThree"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-user-circle"></i>
                <span>Tài khoản</span>
            </a>
            <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item"><i class="fas fa-users"></i>Cập nhật thông tin</a>
                    <form name="logoutForm" th:hidden="true" method="post" th:action="@{/admin/logout}">
                        <input type="submit" value="Logout" />
                    </form>
                    <a class="collapse-item" href="javascript: logoutForm.submit();"><i class="fab fa-product-hunt"></i> <span>Đăng xuất</span></a>
                </div>
            </div>
        </li>

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <h1 class="h3 mb-0 text-body" style="color: black!important;">Quản lý khuyến mãi</h1>
                </div>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span th:text="${#request.userPrincipal.principal.getFullName()}"
                                  class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
                            <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <a th:href="@{/admin/manager_promotions/add}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                        <i class="fas fa-plus-circle fa-sm text-white-50"></i> Tạo mới
                    </a>

                </div>

                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-6 col-md-6 mb-4" style="display: none;">
                    <div class="card border-left-primary shadow h-100">
                        <div class="card-header">
                            <p class="code font-weight-bold" style="font-size: 20px; margin-bottom: 0px;"></p>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col-xl-12">
                                    <div class="text-md font-weight-bold text-primary text-uppercase mb-1">
                                        <p class="title"></p>
                                    </div>
                                </div>
                                <div class="col mr-2">

                                    <div class="mb-0 font-weight-bold text-gray-800">
                                        <p>Thời gian : <span class="start-date"></span> - <span class="end-date"></span></p>
                                    </div>
                                    <div class="mb-0 font-weight-bold text-gray-800">
                                        <p>Đơn hàng tối thiểu: <span class="min-order-value"></span></p>
                                    </div>
                                    <div class="mb-0 font-weight-bold text-gray-800">
                                        <p>Giảm giá tối đa : <span class="max-discount-value"></span></p>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <p><a class="edit"><i class="fas fa-edit"></i> Chỉnh sửa</a></p>
                                    <p><a class="remove" style="color: red;"><i class="fas fa-recycle"></i> Xóa</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<div class="modal fade" id="message">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body" style="text-align: center;">
            </div>
        </div>
    </div>
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>



<!-- Bootstrap core JavaScript-->
<script th:src="@{/admin/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/admin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/admin/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/admin/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/admin/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/admin/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/admin/js/demo/datatables-demo.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        getAllCoupon();

        $(document).on("click" , "#content > div > div.row > div > div > div.card-body > div > div.col-auto > p:nth-child(2) > a.remove", function (e) {
            e.preventDefault();
            let url = $(this).attr("href");
            alert(url);
            removePromotion($(this), url)
        });
    });

    function getAllCoupon() {
        $.ajax({
            url: "/api/admin/promotion/all",
            type: "GET",
            contentType: "application/json",
            success: function (data) {

                let itemClone = $("#content > div > div:nth-child(2)");
                $.each(data, function (index, item) {
                    let coupon = itemClone.clone();
                    coupon.find("p.code").text(item["code"]);
                    coupon.find("p.title").text(item["title"]);
                    if (!item.hasOwnProperty("startDate") && !item.hasOwnProperty("endDate")) {
                        coupon.find("span.start-date").closest("div").hide();
                    } else {
                        coupon.find("span.start-date").text(item["startDate"]);
                        coupon.find("span.end-date").text(item["endDate"]);
                    }

                    if (item["discountPercent"] !== 0) {
                        coupon.find("span.min-order-value").closest("div")
                            .before("<div class=\"mb-0 font-weight-bold text-gray-800\">\n" +
                            "        <p>Phần trăm giảm <span class=\"discount-percent\">" + (parseFloat(item["discountPercent"])*100) + "%</span></p>\n" +
                            "        </div>")
                    }

                    if (item["discountPrice"] !== 0) {
                        coupon.find("span.min-order-value").closest("div")
                            .before("<div class=\"mb-0 font-weight-bold text-gray-800\">\n" +
                                "        <p>Số tiền giảm <span class=\"discount-price\">" + item["discountPrice"] + "</span></p>\n" +
                                "    </div>")
                    }
                    coupon.find("span.min-order-value").text(item["minOrderValue"]);
                    coupon.find("span.max-discount-value").text(item["maxDiscountValue"]);
                    coupon.find("a.edit").attr("href", "/admin/manager_promotions/edit/" + item["id"]);
                    coupon.find("a.remove").attr("href", "/api/admin/promotion/delete/" + item["id"]);
                    coupon.show();
                    $("#content > div > div.row").append(coupon);
                });
                itemClone.hide();
                console.log(data);
            },
            error: function () {
                alert("có lỗi xảy ra, không lấy được danh sách Coupon");
            }
        });
    }

    function removePromotion(thisDiv, url) {
        $.ajax({
            url: url,
            type: "PUT",
            contentType: "application/json",
            success: function (result) {
                if (result["status"] === true) {
                    $('#message').find("div.modal-body").text("Đã xóa Khuyến mãi")
                    $('#message').modal('show');
                    $('#message').on('hidden.bs.modal', function () {
                        thisDiv.closest("div.col-xl-6").remove();
                    });
                } else {
                    $('#message').find("div.modal-body").text("Đã có lỗi xảy ra, vui lòng kiểm tra lại")
                    $('#message').modal('show');
                }
                $("#update-promotion > button:nth-child(5)").prop("disabled", false);
                $('#update-promotion')[0].reset();
            },
            error: function () {
                alert("có lỗi xảy ra");
            }
        });
    }
    /*]]>*/
</script>

</body>

</html>