<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:include="admin/common/header"/>
<head>
    <title>Chi tiết sản phẩm</title>
    <style>
        label {
            color: black !important;
            font-weight: 500 !important;
        }
    </style>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Admin</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/admin}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Quản lý</span>
            </a>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" th:href="@{/admin/manager_users}"><i class="fas fa-users"></i> Quản lý người dùng</a>
                    <a class="collapse-item active" th:href="@{/admin/manager_products}"><i class="fab fa-product-hunt"></i> Quản lý sản phẩm</a>
                    <a class="collapse-item" th:href="@{/admin/manager_orders}"><i class="fas fa-shopping-basket"></i> Quản lý đơn hàng</a>
                    <a class="collapse-item" th:href="@{/admin/manager_promotions}"><i class="fa fa-gift"></i> Quản lý khuyến mãi</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseThree"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-user-circle"></i>
                <span>Tài khoản</span>
            </a>
            <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item"><i class="fas fa-users"></i>Cập nhật thông tin</a>
                    <form name="logoutForm" th:hidden="true" method="post" th:action="@{/admin/logout}">
                        <input type="submit" value="Logout" />
                    </form>
                    <a class="collapse-item" href="javascript: logoutForm.submit();"><i class="fab fa-product-hunt"></i> <span>Đăng xuất</span></a>
                </div>
            </div>
        </li>

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <h1 class="h3 mb-0 text-body" style="color: black!important;">Chi tiết sản phẩm</h1>
                </div>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span th:text="${#request.userPrincipal.principal.getFullName()}"
                                  class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
                            <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Tài khoản
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Đăng xuất
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container">

                <!--Section: Block Content-->
                <section style="margin-top: 100px;">
                    <div class="row">
                        <div class="col-lg-5" style="margin-bottom: 30px;">
                            <div style="  margin-bottom: 30px;  border: none; text-align: center; background: none;">
                                <a data-size="710x823">
                                    <img style="width: 70%;" class="img-fluid z-depth-1">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-md-12 d-flex justify-content-center" style="margin: 20px 0px 20px 0px;">
                                    <a id="btn-import-product" class="btn btn-info btn-sm shadow-sm" style="margin-right: 10px;"><i class="fas fa-plus-circle"></i> Nhập thêm</a>
                                    <a class="btn btn-primary btn-sm shadow-sm" style="margin-right: 10px;"><i class="fas fa-edit"></i> Cập nhật</a>
                                    <button id="stop-business" class="btn btn-danger btn-sm shadow-sm" style="margin-right: 10px;">
                                        Ngừng bán
                                    </button>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-between">
                                <div class="col-md-12"><h5 id="productName"><b></b></h5></div>
                            </div>

                            <div class="row">
                                <div class="col-md-12" style="display: flex;">
                                    <ul id="rating" class="rating"
                                        style="display: flex; list-style-type: none; padding: 0;">
                                    </ul>
                                    <span id="numbers-of-review" style="margin-left: 20px;"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <p class="mb-2 text-muted text-uppercase small"><strong>Danh mục : </strong><span
                                            id="categoryName"></span></p>
                                </div>
                            </div>
                            <hr style="margin: 0px;">
                            <div class="row">
                                <div class="col-md-6">
                                    <table class="table table-sm table-borderless mb-0">
                                        <tbody>
                                        <tr>
                                            <td class="pl-0" scope="row"><strong>Giá gốc</strong></td>
                                            <td id="price"></td>
                                        </tr>
                                        <tr>
                                            <td class="pl-0" scope="row"><strong>Giảm giá</strong></td>
                                            <td id="discount"></td>
                                        </tr>
                                        <tr>
                                            <td class="pl-0" scope="row"><strong>Giá bán</strong></td>
                                            <td id="finalPrice"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-6">
                                    <table class="table table-sm table-borderless mb-0">
                                        <tbody>
                                        <tr>
                                            <td class="pl-0" scope="row"><strong>Tồn kho</strong></td>
                                            <td id="amount"></td>
                                        </tr>
                                        <tr>
                                            <td class="pl-0" scope="row"><strong>Đã bán</strong></td>
                                            <td id="amountSold"></td>
                                        </tr>
                                        <tr>
                                            <td class="pl-0" scope="row"><strong>Trạng thái</strong></td>
                                            <td id="status"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="import-products" class="row" style="display: none;">
                                <div class="col-md-12">
                                    <form>
                                        <div class="form-group row">
                                            <label for="import-amount" class="col-sm-4 col-form-label">Số lượng nhập
                                                thêm</label>
                                            <div class="col-sm-4">
                                                <input type="number" class="form-control" id="import-amount" name="amount" placeholder="Số lượng nhập thêm">
                                            </div>
                                            <div class="col-sm-4">
                                                <button id="sub-import-product" class="btn btn-info">Thêm</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <hr style="margin: 0px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="description">
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--Section: Block Content-->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; My Website 2021</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/admin/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/admin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/admin/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/admin/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/admin/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/admin/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/admin/js/demo/datatables-demo.js}"></script>

<script th:inline="javascript">

    /*<![CDATA[*/
    $(document).ready(function () {

        let productId = window.location.pathname.replace("/admin/manager_products/product/", "");
        $("#content > div > section > div > div.col-lg-6 > div:nth-child(1) > div > a.btn.btn-primary.btn-sm.shadow-sm").attr("href", "/admin/manager_products/updateProduct/" + productId);
        $("#stop-business").attr("product-id", productId);

        getInfoProduct(productId);

        $(document).on("click", "#btn-import-product", function () {
            $("#import-products").show();
        });

        $(document).on("click", "#stop-business", function () {
            let productId = $(this).attr("product-id");
            $.ajax({
                url: "/api/admin/product/stopBusiness/" + productId,
                type: "PUT",
                contentType: "application/json",
                success: function (data) {
                    if (data === true) {
                        alert("sản phẩm đã ngừng bán");
                        $("#stop-business").removeClass("btn-danger").addClass("btn-success")
                            .attr("id", "open-business").text("Mở bán");
                        $("#status").removeClass().empty();
                        $("#status").addClass("text-danger").text("Ngừng bán");
                    }
                },
                error: function () {
                    alert("có lỗi xảy ra");
                }
            });
        });

        $(document).on("click", "#open-business", function () {
            let productId = $(this).attr("product-id");
            $.ajax({
                url: "/api/admin/product/openBusiness/" + productId,
                type: "PUT",
                contentType: "application/json",
                success: function (data) {
                    if (data === true) {
                        alert("sản phẩm đã mở bán bán");
                        $("#open-business").removeClass("btn-success").addClass("btn-danger")
                            .attr("id", "stop-business").text("Ngừng bán");
                        $("#status").removeClass().empty();
                        $("#status").addClass("text-primary").text("Đang bán");
                    }
                },
                error: function () {
                    alert("có lỗi xảy ra");
                }
            });
        });

        $(document).on("click", "#sub-import-product", function (e) {
            e.preventDefault();
            let amount = $("#import-amount").val();
            importProduct(productId, amount);
        });
    });

    function getInfoProduct(productId) {
        $.ajax({
            url: "/api/admin/product/view/" + productId,
            type: "GET",
            contentType: "application/json",
            success: function (data) {
                console.log(data);
                //image
                let mainImage = $("#content > div > section > div > div.col-lg-5 > div > a > img");

                if (data.hasOwnProperty("mainImage")) {
                    mainImage.closest("a").attr("href", data["mainImage"]);
                    mainImage.attr("src", data["mainImage"]);
                }
                //productName
                $("#productName > b").text(data["productName"]);
                // rating
                if (parseInt(data["rating"]) > 0) {
                    for (let i = 0; i < parseInt(data["rating"]); i++) {
                        $("#rating").append("<li><i class=\"fas fa-star fa-sm text-warning\"></i></li>");
                    }
                }
                if ((5 - parseInt(data["rating"])) > 0) {
                    for (let i = 0; i < (5 - parseInt(data["rating"])); i++) {
                        $("#rating").append("<li><i class=\"far fa-star fa-sm text-warning\"></i></li>");
                    }
                }
                $("#numbers-of-review").text(data['numberOfReviews'] + " lượt nhận xét"); // number of reviews
                $("#categoryName").text(data["categoryName"]); // category
                $("#supplierName").text(data["supplierName"]); // supplier
                $("#price").text("$ " + data["price"]); // price
                $("#discount").text((parseFloat(data["discount"])*100) + "%"); // discount
                $("#finalPrice").text("$ " + data["finalPrice"]) // finalPrice
                $("#amount").text(data["amount"] + "(cuốn)"); // amount
                $("#amountSold").text(data["amountSold"] + "(cuốn)"); // amountSold
                $("#description > p").text(data["description"]);
                // status product
                if ( data["status"] === "Sắp hết hàng" ) {
                    $("#status").addClass("text-warning").text(data["status"]);
                }else if (data["status"] === "Đã hết hàng") {
                    $("#status").addClass("text-danger").text(data["status"]);
                } else if (data["status"] === "Ngừng bán") {
                    $("#stop-business").removeClass("btn-danger").addClass("btn-success")
                        .attr("id", "open-business").text("Mở bán");
                    $("#status").addClass("text-danger").text(data["status"]);
                } else {
                    $("#status").addClass("text-primary").text(data["status"]);
                }
            },
            error: function () {
                alert("có lỗi xảy ra");
            }
        });
    }

    function importProduct(productId, amount) {
        $.ajax({
            url: "/api/admin/product/import/" + productId,
            data: JSON.stringify({"amount": amount}),
            type: "PUT",
            contentType: "application/json",
            success: function (data) {
                $("#amount").text(data["product"]["amount"]);
                // status product
                $("#status").removeClass().empty();
                if (data["product"]["status"] === "Sắp hết hàng") {
                    $("#status").addClass("text-warning").text(data["product"]["status"]);
                } else if (data["product"]["status"] === "Ngừng bán") {
                    $("#status").addClass("text-danger").text(data["product"]["status"]);
                } else {
                    $("#status").addClass("text-primary").text(data["product"]["status"]);
                }
                $("#import-products").empty().hide();
                $("#import-products").before("<div class=\"alert alert-success\" role=\"alert\">\n" + data["message"] + "</div>");
            },
            error: function () {
                alert("có lỗi xảy ra");
            }
        });
    }

    /*]]>*/
</script>

</body>

</html>