<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<th:block th:include="admin/common/header"/>
<head>
    <title>Cập nhật thông tin khuyến mại</title>
    <style>
        label {
            color: black !important;
            font-weight: 500 !important;
        }
        .form-group > label {
            color: #3a3b45;
            font-weight: 500;
        }
    </style>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Admin</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/admin}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Quản lý</span>
            </a>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" th:href="@{/admin/manager_users}"><i class="fas fa-users"></i> Quản lý người dùng</a>
                    <a class="collapse-item" th:href="@{/admin/manager_products}"><i class="fab fa-product-hunt"></i> Quản lý sản phẩm</a>
                    <a class="collapse-item" th:href="@{/admin/manager_orders}"><i class="fas fa-shopping-basket"></i> Quản lý đơn hàng</a>
                    <a class="collapse-item active" th:href="@{/admin/manager_promotions}"><i class="fa fa-gift"></i> Quản lý khuyến mãi</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseThree"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-user-circle"></i>
                <span>Tài khoản</span>
            </a>
            <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item"><i class="fas fa-users"></i>Cập nhật thông tin</a>
                    <form name="logoutForm" th:hidden="true" method="post" th:action="@{/admin/logout}">
                        <input type="submit" value="Logout" />
                    </form>
                    <a class="collapse-item" href="javascript: logoutForm.submit();"><i class="fab fa-product-hunt"></i> <span>Đăng xuất</span></a>
                </div>
            </div>
        </li>

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <h1 class="h3 mb-0 text-body" style="color: black!important;">Cập nhật thông tin khuyến mãi</h1>
                </div>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span th:text="${#request.userPrincipal.principal.getFullName()}"
                                  class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
                            <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <h5 class="h3 mb-0 text-gray-800" style="text-align: center;">Cập nhật thông tin chương trình khuyễn mãi</h5>
                        <form id="update-promotion" style="margin-top: 50px;">
                            <div class="row">
                                <input type="hidden" class="form-control" id="promotionId" name="id">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="title">Tiêu đề:</label>
                                        <input type="text" class="form-control" placeholder="Nhập tiêu đề" id="title" name="title">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="code">Code:</label>
                                        <input type="text" class="form-control" placeholder="Nhập mã Code" id="code" name="code">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="discountPercent">Giảm theo phần trăm</label>
                                        <input type="text" class="form-control" placeholder="Nhập phần trăm" id="discountPercent" name="discountPercent">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="discountPrice">Giảm theo số tiền</label>
                                        <input type="text" class="form-control" placeholder="Nhập số tiền" id="discountPrice" name="discountPrice">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="minOrderValue">Đơn hàng tối thiểu</label>
                                        <input type="number" class="form-control" placeholder="Nhập giá trị đơn hàng tối thiểu" id="minOrderValue" name="minOrderValue">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="maxDiscountValue">Giảm giá tối đa</label>
                                        <input type="number" class="form-control" placeholder="Nhập số tiền giảm giá tối đa" id="maxDiscountValue" name="maxDiscountValue">
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display: none;">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="startDate">Ngày bắt đầu</label>
                                        <input type="date" class="form-control" id="startDate" name="startDate">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="endDate">Ngày kết thúc</label>
                                        <input type="date" class="form-control" id="endDate" name="endDate">
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-info">Cập nhật</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; My Website 2021</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<div class="modal fade" id="message">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body" style="text-align: center;">
            </div>

        </div>
    </div>
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/admin/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/admin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/admin/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/admin/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/admin/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/admin/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/admin/js/demo/datatables-demo.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {

        let promotionId = window.location.pathname.replace("/admin/manager_promotions/edit/", "");
        getInfoPromotion(promotionId);
        $("#update-promotion > button:nth-child(5)").on("click", function (e) {
            e.preventDefault();
            let data = new FormData($("#update-promotion")[0]);
            editPromotion(promotionId, data);

        });
    });

    function getInfoPromotion(promotionId) {
        $.ajax({
            url: "/api/admin/promotion/" + promotionId,
            type: "GET",
            contentType: "application/json",
            success: function (data) {
                $("#promotionId").val(data["id"]);
                $("#title").val(data["title"]);
                $("#code").val(data["code"]);
                $("#discountPercent").val(data["discountPercent"]);
                $("#discountPrice").val(data["discountPrice"]);
                $("#minOrderValue").val(data["minOrderValue"]);
                $("#maxDiscountValue").val(data["maxDiscountValue"]);
                if (!data.hasOwnProperty("startDate") && !data.hasOwnProperty("endDate")) {
                    $("#update-promotion").find("#startDate").closest("div.row").remove();
                } else {
                    $("#startDate").val(data["startDate"]);
                    $("#endDate").val(data["endDate"]);
                    $("#update-promotion").find("#startDate").closest("div.row").show();
                }
            },
            error: function () {
                alert("có lỗi xảy ra, không lấy được danh sách Coupon");
            }
        });
    }

    function editPromotion(promotionId, data) {
        $.ajax({
            url: "/api/admin/promotion/edit/" + promotionId,
            data: data,
            type: "PUT",
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            cache: false,
            timeout: 1000000,
            success: function (result) {
                if (result["status"] === true) {
                    $('#message').find("div.modal-body").text("Cập nhật Thông tin khuyễn mãi thành công!!")
                    $('#message').modal('show');
                    $('#message').on('hidden.bs.modal', function () {
                        window.location.replace("/admin/manager_promotions");
                    });
                } else {
                    $('#message').find("div.modal-body").text("Đã có lỗi xảy ra, vui lòng kiểm tra lại")
                    $('#message').modal('show');
                }
                $("#update-promotion > button:nth-child(5)").prop("disabled", false);
                $('#update-promotion')[0].reset();
            },
            error: function () {
                alert("có lỗi xảy ra");
            }
        });
    }
    /*]]>*/
</script>


</body>

</html>