<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:include="admin/common/header"/>
<head>
    <title>Chi tiết tài khoản người dùng</title>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Trang quản lý</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Quản lý</span>
            </a>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item active" th:href="@{/admin/manager_users}"><i class="fas fa-users"></i> Quản lý người dùng</a>
                    <a class="collapse-item" th:href="@{/admin/manager_products}"><i class="fab fa-product-hunt"></i> Quản lý sản phẩm</a>
                    <a class="collapse-item" th:href="@{/admin/manager_orders}"><i class="fas fa-shopping-basket"></i> Quản lý đơn hàng</a>
                    <a class="collapse-item" th:href="@{/admin/manager_promotions}"><i class="fa fa-gift"></i> Quản lý khuyến mãi</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseThree"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-user-circle"></i>
                <span>Tài khoản</span>
            </a>
            <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item"><i class="fas fa-users"></i>Cập nhật thông tin</a>
                    <a class="collapse-item"><i class="fab fa-product-hunt"></i>Đăng xuất</a>
                </div>
            </div>
        </li>

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- Sidebar -->

    <!-- End of Sidebar -->
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Search for..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>


                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Valerie Luna</span>
                            <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Tài khoản
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Đăng xuất
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="d-sm-flex align-items-center justify-content-between">
                            <div id="btn-change-role" style="display: flex;">
                                <button type="button" class="d-none d-sm-inline-block btn btn-info btn-sm shadow-sm"><i class="fas fa-user-plus"></i> Cấp quyền tài khoản</button>
                                <div id="div-role"
                                     style="margin-left: 10px; margin-top: auto; margin-bottom: auto; display: none;">
                                    <div class="form-inline" style="float: left;">
                                        <select class="form-control" id="role" name="roleList">
                                            <option value="ROLE_ADMIN">Quản trị viên</option>
                                            <option value="ROLE_USER">Người dùng</option>
                                        </select>
                                        <button id="change-role" type="submit" class="d-none d-sm-inline-block btn btn-primary btn-sm shadow-sm">Cập nhật</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>

                <div class="row">
                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Tổng đơn
                                            hàng đã mua
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="number-of-orders"></div>
                                        <div><a>danh sách</a></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Đơn hàng
                                            giá trị nhất
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="max-order-price"></div>
                                        <div><a>chi tiết đơn hàng</a></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pending Requests Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Số lượt
                                            bình luận
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800"
                                             id="numbers-of-reviews"></div>
                                        <div><a>danh sách</a></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pending Requests Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Số sản
                                            phẩm yêu thích
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800"
                                             id="number-of-wishlish"></div>
                                        <div><a>danh sách</a></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-heart fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3" style="display: flex; justify-content: space-between;">
                        <h6 class="m-0 font-weight-bold text-primary">Thông tin cá nhân</h6>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">Email:</label>
                                        <input type="text" class="form-control" id="email" name="email"
                                               value="nguyen@gmail.com" readonly="readonly">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">Họ tên:</label>
                                        <input type="text" class="form-control" id="name" name="name"
                                               value="Phạm Văn Nguyên" readonly="readonly">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="birth">ngày sinh:</label>
                                        <input type="date" class="form-control" id="birth" name="birth"
                                               value="2021-11-04" readonly="readonly">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="phone">Số điện thoại:</label>
                                        <input type="phone" class="form-control" id="phone" name="phone"
                                               value="0947060528" readonly="readonly">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="status">Trạng thái tài khoản:</label>
                                        <input type="text" class="form-control" id="status" name="status"
                                               value="Đã kích hoạt" readonly="readonly">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="account-type">Loại tài khoản:</label>
                                        <input type="text" class="form-control" id="account-type" name="account-type"
                                               value="Người dùng" readonly="readonly">
                                    </div>
                                </div>
                            </div>
                            <label for="status">Danh sách địa chỉ giao hàng</label>
                            <div class="row" id="shipping-address">
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/admin/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/admin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/admin/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/admin/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/admin/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/admin/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/admin/js/demo/datatables-demo.js}"></script>

<script th:inline="javascript">

    /*<![CDATA[*/
    $(document).ready(function () {
        let userId = /*[[${userId}]]*/;
        getInfoAccount(userId);

        $(document).on("click", "#btn-change-role > button", function () {
            $("#div-role").fadeToggle(1000);
        });

        $(document).on("click", "#change-role", function () {
            $.ajax({
                url: "/api/admin/account/" + userId + "/updateRole?role=" + $("#role option:selected").val(),
                type: "PUT",
                contentType: "application/json",
                success: function (data) {
                    if (data === true) {
                        alert("cập nhật thông tin thành công");
                        $("#div-role").delay(1000).fadeOut();
                        getInfoAccount(userId);
                    }
                },
                error: function () {
                    alert("có lỗi xảy ra");
                }
            });

        });

        $(document).on("click", "#btn-block", function () {
            confirm("Bạn có chắc chắc muốn khóa tài khoản này ?");
            $.ajax({
                url: "/api/admin/account/" + userId + "/block",
                type: "PUT",
                contentType: "application/json",
                success: function (data) {
                    if (data === true) {
                        // $("#btn-block").remove();
                        // $("#btn-change-role")
                        //     .after("<button id=\"btn-unblock\" style=\"margin-left: 10px;\" type=\"button\" class=\"d-none d-sm-inline-block btn btn-primary\"><i class=\"fas fa-lock-open\"></i> Mở khóa tài khoản</button>");
                        getInfoAccount(userId);

                    }
                },
                error: function () {
                    alert("có lỗi xảy ra");
                }
            });
        });

        $(document).on("click", "#btn-unblock", function () {
            confirm("Bạn có chắc chắc muốn mở khóa tài khoản này ?");
            $.ajax({
                url: "/api/admin/account/" + userId + "/unBlock",
                type: "PUT",
                contentType: "application/json",
                success: function (data) {
                    if (data === true) {
                        // $("#btn-unblock").remove();
                        // $("#btn-change-role")
                        //     .after("<button id=\"btn-block\" type=\"button\" class=\"d-none d-sm-inline-block btn btn-warning shadow-sm\" style=\"margin-left: 10px;\"><i class=\"fas fa-lock\"></i> Khóa tài khoản</button>");
                        getInfoAccount(userId);
                    }
                },
                error: function () {
                    alert("có lỗi xảy ra");
                }
            });
        });

        function getInfoAccount(userId) {
            $.ajax({
                url: "/api/admin/account/" + userId,
                type: "GET",
                contentType: "application/json",
                success: function (data) {
                    let account = data["account"];
                    $("#btn-change-role").nextAll().remove();
                    if (account["blocked"] === true) {
                        $("#btn-change-role")
                            .after("<button id=\"btn-unblock\" style=\"margin-left: 10px;\" type=\"button\" class=\"d-none d-sm-inline-block btn btn-sm btn-primary\"><i class=\"fas fa-lock-open\"></i> Mở khóa tài khoản</button>");
                    } else {
                        $("#btn-change-role")
                            .after("<button id=\"btn-block\" type=\"button\" class=\"d-none d-sm-inline-block btn btn-warning btn-sm shadow-sm\" style=\"margin-left: 10px;\"><i class=\"fas fa-lock\"></i> Khóa tài khoản</button>");
                    }
                    $("#email").val(account["email"]);
                    $("#name").val(account["fullName"]);
                    $("#birth").val(account["birthday"]);
                    $("#phone").val(account["phone"]);
                    if (account["enabled"] === true) {
                        $("#status").val("Đã kích hoạt");
                    } else {
                        $("#status").val("Chưa kích hoạt / Khóa");
                    }

                    if (account["role"] === "USER") {
                        $("#account-type").val("Người dùng");
                    } else if (account["role"] === "ADMIN") {
                        $("#account-type").val("Quản trị viên");
                    }

                    // other info
                    if (data["numbersOfOrder"] > 0) {
                        $("#number-of-orders").text(data["numbersOfOrder"]);
                        $("#number-of-orders").next().find("a").attr("href", "/admin/manager_users/user/" + userId + "/orderHistory");
                    } else {
                        $("#number-of-orders").text("0");
                        $("#number-of-orders").next().hide();
                    }

                    if (data["maxOrderPrice"]) {
                        $("#max-order-price").text(data["maxOrderPrice"]);
                        $("#max-order-price").next().find("a").attr("href", "/admin/manager_users/user/" + userId + "/maxOrderHistory");
                    } else {
                        $("#max-order-price").text("0");
                        $("#max-order-price").next().hide();
                    }

                    if (data["numbersOfReview"]) {
                        $("#numbers-of-reviews").text(data["numbersOfReview"]);
                        $("#numbers-of-reviews").next().find("a").attr("href", "/admin/manager_users/user/" + userId + "/reviews");
                    } else {
                        $("#numbers-of-reviews").text("0");
                        $("#numbers-of-reviews").next().hide();
                    }

                    if (data["numbersOfWishlist"]) {
                        $("#number-of-wishlish").text(data["numbersOfWishlist"]);
                        $("#number-of-wishlish").next().find("a").attr("href", "/admin/manager_users/user/" + userId + "/wishlist");
                    } else {
                        $("#number-of-wishlish").text("0");
                        $("#number-of-wishlish").next().hide();
                    }

                    // làm rỗng trước khi append
                    $("#shipping-address").empty();
                    $.each(data["shippingAddress"], function (index, address) {
                        let html = "<div class='col-md-6'>\n" +
                            "       <div class=\"card mb-4 py-3 border-left-dark\">\n" +
                            "            <div class='account-address card-body'>\n";
                        if (address["default"] === true) {
                            html += "           <p class='contact-receiver' style='text-transform: uppercase; color: black;'>" + address["contactReceiver"] + "\n" +
                                "                    <span  style='float: right; color: #2ecc71;'><i class=\"fas fa-check\"></i> Địa chỉ mặc định</span></p>\n";
                        } else {
                            html += "           <p class='contact-receiver' style='text-transform: uppercase; color: black;'>" + address["contactReceiver"] + "</p>\n";
                        }
                        html += "               <p class='contact-address'>" + address["contactAddress"] + "</p>\n" +
                            "                    <p class='contact-phone'>" + address["contactPhone"] + "</p>\n" +
                            "             </div>\n" +
                            "        </div>\n" +
                            "    </div>";

                        $("#shipping-address").append(html);
                    });
                },
                error: function () {
                    alert("có lỗi xảy ra, không lấy thông tin người dùng");
                }
            });
        }
    })
    /*]]>*/
</script>

</body>

</html>