<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lịch sử đơn hàng</title>

    <!-- Custom fonts for this template -->
    <link th:href="@{/admin/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/admin/css/sb-admin-2.min.css}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link th:href="@{/admin/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Admin</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/admin}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Quản lý</span>
            </a>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" th:href="@{/admin/manager_users}"><i class="fas fa-users"></i> Quản lý người dùng</a>
                    <a class="collapse-item" th:href="@{/admin/manager_products}"><i class="fab fa-product-hunt"></i> Quản lý sản phẩm</a>
                    <a class="collapse-item active" th:href="@{/admin/manager_orders}"><i class="fas fa-shopping-basket"></i> Quản lý đơn hàng</a>
                    <a class="collapse-item" th:href="@{/admin/manager_promotions}"><i class="fa fa-gift"></i> Quản lý khuyến mãi</a>
                    <a class="collapse-item" href="manager-contact"><i class="fas fa-envelope-open-text"></i> Quản lý liên hệ</a>
                </div>
            </div>
        </li>

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Valerie Luna</span>
                            <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Tài khoản
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Đăng xuất
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row justify-content-between" id="div-info-1">
                    <div class="col-xl-4 col-md-4">
                        <p class="mb-0 text-gray-800">Mã đơn hàng  : #<span id="orderId"></span> - <span id="orderStatus"></span></p>
                    </div>
                    <div class="col-xl-4 col-md-4" style="text-align: end;">
                        <p>Ngày giao hàng : <span id="deliveryDate"></span></p>
                    </div>
                </div>
                <br>

                <div class="row" id="div-info-2">
                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-4 col-md-4 mb-4">
                        <div class="card border-left-primary shadow h-100">
                            <div class="card-header font-weight-bold">Địa chỉ người nhận</div>
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div style="text-transform: uppercase;"><b id="contactReceiver"></b></div>
                                        <div id="contactAddress"></div>
                                        <div id="contactPhone"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-4 col-md-4 mb-4">
                        <div class="card border-left-success shadow h-100">
                            <div class="card-header font-weight-bold">Hình thức giao hàng</div>
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div id="deliveryMethod">Giao hàng nội thành</div>
                                        <div id="shipFee"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pending Requests Card Example -->
                    <div class="col-xl-4 col-md-4 mb-4">
                        <div class="card border-left-warning shadow h-100">
                            <div class="card-header font-weight-bold">Phương thức thanh toán</div>
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div id="paymentMethod"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- DataTales Example -->
                <div class="card shadow mb-4" id="div-info-3">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Kiện hàng gồm có</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="list-order-detail" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Tên</th>
                                    <th>Đơn giá</th>
                                    <th>Giảm giá</th>
                                    <th>Số lượng</th>
                                    <th>Tổng</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row" id="admin-update-orderStatus">
                    <div class="col-xl-12 col-md-12" sec:authorize="hasRole('ADMIN')">
                        <div class="form-inline">
                            <label for="status" class="mr-sm-2">Trạng thái</label>
                            <select class="form-control mb-2 mr-sm-2" name="status" id="status">
                                <option value="0">Đang xử lý</option>
                                <option value="1">Đang vận chuyển</option>
                                <option value="2">Giao hàng thành công</option>
                                <option value="3">Hủy</option>
                                <option value="4">Giao hàng không thành công</option>
                            </select>
                            <label for="message" class="mr-sm-2">Thông báo</label>
                            <input type="text" class="form-control mb-2 mr-sm-2" name="message" id="message">
                            <button id="btn-update-status" class="btn-info form-control mb-2">Cập nhật</button>
                        </div>
                    </div>
                </div>


                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3" style="display: flex; justify-content: space-between;">
                        <h6 class="m-0 font-weight-bold text-primary">Lịch sử trạng thái</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="logging-status" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Thời gian</th>
                                    <th>Trạng thái đơn hàng</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <a class="btn btn-light btn-icon-split">
                    <span class="icon text-gray-600">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                    <span class="text">Quay lại</span>
                </a>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<div class="modal fade" id="messageModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body" style="text-align: center;">
            </div>
        </div>
    </div>
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/admin/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/admin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/admin/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/admin/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/admin/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/admin/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/admin/js/demo/datatables-demo.js}"></script>

<script th:inline="javascript">

    /*<![CDATA[*/
    $(document).ready(function () {
        let orderId = /*[[${orderId}]]*/;
        let userOrderHistory = /*[[${userOrderHistory}]]*/;
        getOrdersDetail(orderId, userOrderHistory);

        $("#btn-update-status").on("click", function (e) {
            e.preventDefault();
            let statusId = $("#status option:selected").val();
            let message = $("#message").val();
            $.ajax({
                url: "/api/admin/order/updateStatus/" + orderId,
                data: JSON.stringify(
                    {
                        "status" : statusId,
                        "message" : message
                    }
                ),
                type: "PUT",
                contentType: "application/json",
                success: function (result) {
                    if (result === true) {
                        $('#messageModal').find("div.modal-body").text("Trạng thái đơn hàng đã cập nhật thành công");
                        $('#messageModal').modal('show');
                        $('#messageModal').on('hidden.bs.modal', function () {
                            window.location = "/admin/manager_orders";
                        });
                    } else {
                        $('#messageModal').find("div.modal-body").text("Đã có lỗi xảy ra, vui lòng kiểm tra lại")
                        $('#messageModal').modal('show');
                    }
                },
                error: function () {
                    alert("có lỗi xảy ra");
                }
            });
        });
    });

    function getOrdersDetail(orderId, userOrderHistory) {
        $.ajax({
            url: "/api/admin/order/" + orderId,
            type: "GET",
            contentType: "application/json",
            success: function (data) {
                let order = data["order"];
                let contact = order["address"];
                let listOrderDetail = order["listOrderDetail"];
                let loggingStatus = order["orderLogging"]["loggingStatus"];
                $("#orderId").text(order["id"]);

                // order status
                if (order["status"] === "Đã hủy") {
                    $("#orderStatus").text(order["status"]).addClass("text-danger");
                } else if (order["status"] === "Giao hàng thành công") {
                    $("#orderStatus").text(order["status"]).addClass("text-success");
                }

                $("#deliveryDate").text(order["deliveryDate"]);

                $("#contactReceiver").text(contact["contactReceiver"]);
                $("#contactAddress").text("Địa chỉ : " + contact["contactAddress"]);
                $("#contactPhone").text("SĐT : " + contact["contactPhone"]);

                if (parseInt(order["shipFee"]) > 0) {
                    $("#shipFee").text("Phí vận chuyển : " + order["shipFee"]);
                    $("#deliveryMethod").text("Giao hàng có tính phí");
                } else {
                    $("#deliveryMethod").text("Miễn phí giao hàng");
                }

                $("#paymentMethod").text(order["paymentMethod"])

                $.each(listOrderDetail, function (index, product) {
                    let row = "<tr>\n" +
                        "           <td><img style='width: 80px; height: 80px;' src='/images/products/2/laptop-asus.jpg'></td>\n" +
                        "           <td><a>" + product["productName"] + "</a><p>Hãng sx : " + product["supplierName"] + "</p></td>\n" +
                        "           <td>" + product["price"] + "</td>\n" +
                        "           <td>" + product["discount"] + "</td>\n" +
                        "           <td>" + product["quantity"] + "</td>\n" +
                        "           <td>" + product["rawTotal"] + "</td>\n" +
                        "       </tr>;"
                    $("#list-order-detail").find("tbody").append(row);
                });


                if (order["status"] == "Đã hủy" || order["status"] === "Giao hàng thành công") {
                    $("#admin-update-orderStatus").hide();
                }
                $.each(loggingStatus, function (index, logging) {
                    let row = "";
                    if (logging["status"] === "Đã hủy") {
                        row = "<tr>\n" +
                            "           <td class='text-danger'>" + logging["status"] + "</td>\n" +
                            "           <td>" + logging["updatedTime"] + "</td>\n" +
                            "      </tr>";
                    } else if (logging["status"] === "Giao hàng thành công") {
                        row = "<tr>\n" +
                            "           <td class='text-success'>" + logging["status"] + "</td>\n" +
                            "           <td>" + logging["updatedTime"] + "</td>\n" +
                            "      </tr>";
                    } else if (logging["status"] === "Đang xử lý") {
                        row = "<tr>\n" +
                            "           <td class='text-warning'>" + logging["status"] + "</td>\n" +
                            "           <td>" + logging["updatedTime"] + "</td>\n" +
                            "      </tr>";
                    } else {
                        row = "<tr>\n" +
                            "           <td>" + logging["status"] + "</td>\n" +
                            "           <td>" + logging["updatedTime"] + "</td>\n" +
                            "      </tr>";
                    }
                    $("#logging-status").find("tbody").append(row);
                });
                if (userOrderHistory === true) {
                    $("#content > div > a").attr("href", "/admin/manager_users/user/" + data["user"]["id"] + "/orderHistory");
                } else {
                    $("#content > div > a").attr("href", "/admin/manager_orders");
                }


            },
            error: function () {
                alert("có lỗi xảy ra");
            }
        });
    }

    /*]]>*/
</script>

</body>

</html>