.Account__StyledSideBar {
    width: 250px;
    margin-right: 17px;
}

.Account__StyledAvatar {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 7px;
    margin: 0px 0px 12px;
}

.Account__StyledAvatar img {
    width: 45px;
    margin: 0px 12px 0px 0px;
    border-radius: 50%;
}

.Account__StyledAvatar .info {
    flex: 1 1 0%;
    font-size: 13px;
    line-height: 15px;
    color: rgb(51, 51, 51);
    font-weight: 300;
}

.Account__StyledAvatar .info strong {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    display: block;
    margin: 4px 0px 0px;
}

.Account__StyledNav {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 13px;
}

.Account__StyledNav a {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 7px 18px;
    color: rgb(74, 74, 74);
}

.Account__StyledNav a svg, .Account__StyledNav a .icon {
    width: 24px;
    height: 24px;
    margin: 0px 22px 0px 0px;
    font-size: 24px;
    color: rgb(155, 155, 155);
}


.product-detail .owl-nav {
    margin: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -25px;
}

.product-detail .owl-carousel .owl-controls .owl-nav .owl-prev {
    left: 0;
}

.product-detail .owl-carousel .owl-nav div {
    height: 60px;
    width: 30px;
    line-height: 58px;
    background: #fff;
    color: #333;
    position: absolute;
    margin: 0;
    border-radius: 0;
    font-size: 15px;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    box-shadow: 0px 0px 10px #3333331c;
}

.product-detail .owl-carousel .owl-controls .owl-nav .owl-next {
    right: 0;
}


.styles__StyledNotification .tabs {
    position: relative;
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    border-bottom: 1px solid rgb(248, 248, 248);
}

.styles__StyledNotification .tabs > li.is-active {
    border-color: rgb(27, 168, 255);
}

.styles__StyledNotification .tabs > li.last {
    margin-left: auto;
    margin-right: 0px;
    padding-right: 5px;
}

.styles__StyledNotification .tabs > li {
    padding: 8px 15px 5px;
    margin: 0px 20px;
    font-size: 28px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    color: rgb(102, 102, 102);
    position: relative;
    z-index: 1;
}

.fGUCWl {
    padding: 25px;
    display: flex;
    flex: 1 1 0%;
    -webkit-box-align: center;
    align-items: center;
    border-top: 1px solid rgb(248, 248, 248);
    color: rgb(102, 102, 102);
    font-size: 13px;
    line-height: 1.5;
}

body {
    background: #F1F3FA;
}

.account_styledNav {
    padding: 10px;
}

.styles__StyledAccountInfo {
    background-color: rgb(255, 255, 255);
    padding: 30px 20px;
    border-radius: 4px;
}

.div-form > form {
    width: 600px;
}

.div-form-control {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 0px 15px;
}

.input-label {
    width: 110px;
    min-width: 110px;
    font-size: 13px;
    color: rgb(51, 51, 51);
}

.div-form-control > div {
    display: flex;
    position: relative;
    flex: 1 1 0%;
    z-index: 1;
}

.div-form-control input {
    flex: 1 1 0%;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    height: 34px;
    padding: 6px 12px;
    line-height: 34px;
    outline: none;
}

.div-form-control label.Radio__StyledRadio {
    display: flex;
    margin-right: 15px;
}

.div-form-control label.Radio__StyledRadio input[type="radio"] {
    flex: 1 1 0%;
    position: absolute;
    height: 1px;
    width: 1px;
    visibility: hidden;
    clip: rect(0px, 0px, 0px, 0px);
    opacity: 0;
}

.div-form-control label.Radio__StyledRadio .radio-fake {
    width: 24px;
    height: 24px;
    border: 1px solid rgb(147, 150, 157);
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin: 10px 12px 10px 0px;
    position: relative;
     z-index: 1;
     color: rgb(120, 120, 120);
    flex-shrink: 0;
}

.div-form-control label.Radio__StyledRadio input[type="radio"]:checked + .radio-fake {
    border-color: rgb(13, 92, 182);
}

.div-form-control label.Radio__StyledRadio input[type="radio"]:checked + .radio-fake::before {
    transform: scale(1);
}

.div-form-control label.Radio__StyledRadio .radio-fake::before {
    content: "";
    position: absolute;
    left: 4px;
    top: 4px;
    width: 14px;
    height: 14px;
    background-color: rgb(13, 92, 182);
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.3s ease 0s;
}

.div-form-control label.Radio__StyledRadio .label {
    font-size: 13px;
    line-height: 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}


.bHKvLE {
    display: flex;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.input-label span {
    font-size: 11px;
    display: block;
    margin: 5px 0px 0px;
}

.cXEDjl select {
    width: 100px;
    border: 1px solid rgb(204, 204, 204);
    height: 34px;
    padding: 6px 12px;
    line-height: 34px;
    outline: none;
    border-radius: 4px;
    margin: 0px 12px 0px 0px;
    background: 0px center;
    box-shadow: none;
}

.btn-submit {
    border: 0px;
    width: 176px;
    height: 40px;
    border-radius: 4px;
    color: rgb(74, 74, 74);
    font-size: 14px;
    background-color: rgb(253, 216, 53);
    cursor: pointer;
}

textarea {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    width: 100%;
    padding: 6px 12px;
}


.heading {
    font-size: 19px;
    line-height: 21px;
    font-weight: 300;
    margin: 20px 0px 15px;
}

.inner {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 1px;
    /*padding: 30px 20px;*/
}

.div-form {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 1px;
    padding: 20px 30px;
}

.styles__StyledAccountListOrder table {
    border-collapse: collapse;
    width: 100%;
    word-break: break-word;
}

.styles__StyledAccountListOrder tr {
    border-bottom: 1px solid rgb(244, 244, 244);
}

.styles__StyledAccountListOrder th, .styles__StyledAccountListOrder td {
    min-width: 130px;
    padding: 20px 15px;
    color: rgb(120, 120, 120);
    font-size: 15px;
    font-weight: 400;
    text-align: left;
}

.styles__StyledAccountListOrder th {
    color: black;
    font-weight: 600;
}

.styles__StyledAccountListOrder td {
    font-size: 13px;
    line-height: 20px;
    color: rgb(51, 51, 51);
}

.styles__StyledAccountListOrder tr:hover {
    background-color: aliceblue;
}

.styles__StyledAccountListOrder tbody tr:last-child {
    border-bottom: 0px;
}

.Pagination__StyledPagination {
    list-style: none;
    margin: 15px 0px;
    padding: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.Pagination__StyledPagination > li.is-active {
    background-color: rgb(27, 168, 255);
    color: rgb(255, 255, 255);
}

.Pagination__StyledPagination > li {
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    border-radius: 50%;
    margin: 0px 10px;
    cursor: pointer;
}

.Pagination__StyledPagination > li.next {
    margin-right: 0px;
}

.Pagination__StyledPagination > li.prev, .Pagination__StyledPagination > li.next {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 27px;
    height: 27px;
    font-size: 20px;
}


.fGUCWl:first-child {
    border-top: 0px;
}

.fGUCWl > :first-child {
    min-width: 100px;
}

.fGUCWl > * {
    margin-right: 20px;
}

.fGUCWl .content {
    flex: 1 1 0%;
}

.fGUCWl .delete, .fGUCWl .read {
    align-self: flex-start;
    font-size: 14px;
    border: 0px;
    padding: 4px 8px;
    margin: 0px;
    background: 0px center;
    color: rgb(255, 66, 78);
    cursor: pointer;
    outline: 0px;
    white-space: nowrap;
}

.fGUCWl {
    padding: 25px;
    display: flex;
    flex: 1 1 0%;
    -webkit-box-align: center;
    align-items: center;
    border-top: 1px solid rgb(248, 248, 248);
    color: rgb(102, 102, 102);
    font-size: 13px;
    line-height: 1.5;
}


.styles__StyledAccountAddress .new svg {
    color: rgb(120, 120, 120);
    font-size: 28px;
    margin: 0px 20px;
}

.styles__StyledAccountAddress .new a {
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    height: 60px;
    border: 1px dashed rgb(216, 216, 216);
    margin: 0px 0px 10px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.styles__StyledAccountAddress .item:last-child {
    margin: 0px;
}

.styles__StyledAccountAddress .item {
    background-color: rgb(255, 255, 255);
    padding: 17px;
    border-radius: 4px;
    margin: 0px 0px 10px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: 13px;
    line-height: 19px;
}

.styles__StyledAccountAddress .item .name {
    text-transform: uppercase;
    margin: 0px 0px 10px;
}

.styles__StyledAccountAddress .item .address {
    margin: 0px 0px 5px;
}

.styles__StyledAccountAddress .item .name > span:nth-child(2) {
    font-size: 12px;
    margin: 0px 0px 0px 15px;
    display: inline-block;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(38, 188, 78);
    text-transform: none;
}

.styles__StyledAccountAddress .item .address span:first-child {
    color: rgb(120, 120, 120);
}

.styles__StyledAccountAddress .item .phone span:first-child {
    color: rgb(120, 120, 120);
}

.styles__StyledAccountAddress .item .edit {
    font-size: 14px;
    color: rgb(27, 168, 255);
    display: inline-block;
    padding: 6px 12px;
}


.Account__StyledAccountLayoutInner {
    flex: 1 1 0%;
}

.bVfYSc .my-reviews__heading {
    color: rgb(36, 36, 36);
    margin: 0px 0px 15px;
    font-size: 19px;
    font-weight: 300;
}

.bVfYSc .my-reviews__inner {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
}

.bVfYSc .my-reviews__item {
    flex-basis: 25%;
    padding: 16px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.bVfYSc .my-reviews__info {
    flex: 1 1 0%;
}

img {
    border-style: none;
    max-width: 100%;
}

.bVfYSc .my-reviews__name {
    margin: 15px 0px 0px;
    color: rgb(36, 36, 36);
    font-size: 13px;
    line-height: 1.38;
    font-weight: 300;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.my-reviews__button {
    font-weight: 500;
    font-size: 13px;
    margin: 15px 0px 0px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: rgb(253, 216, 53);
    border: 0px;
    color: rgb(36, 36, 36);
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-end;
}

.my-reviews__button:hover {
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 7px 0px inset;
}

a {
    text-decoration: none;
}


.styles__StyledAccountWishList .list {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.styles__StyledAccountWishList .item {
    background-color: rgb(255, 255, 255);
    margin-bottom: 2px;
    border-radius: 2px;
    padding: 20px 70px 20px 15px;
    display: flex;
    position: relative;
}

.styles__StyledAccountWishList .btn-delete {
    width: 40px;
    height: 40px;
    padding: 0px;
    background: 0px center;
    color: rgb(153, 153, 153);
    position: absolute;
    right: 0px;
    top: 0px;
    border: 0px;
    font-size: 30px;
    box-shadow: none;
    cursor: pointer;
}

.styles__StyledAccountWishList .item .thumbnail {
    width: 130px;
    min-width: 130px;
    margin: 0px 25px;
}

img {
    border-style: none;
    max-width: 100%;
}

.styles__StyledAccountWishList .item .body {
    flex: 1 1 0%;
}

.styles__StyledAccountWishList .item .name {
    font-size: 14px;
    margin: 0px 0px 15px;
    line-height: 20px;
    font-weight: 400;
    color: rgb(51, 51, 51);
    display: block;
}

.styles__StyledAccountWishList .rating {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    white-space: nowrap;
}

.styles__StyledAccountWishList .rating__base {
    color: rgb(222, 221, 220);
    display: inline-block;
    vertical-align: middle;
}

.styles__StyledAccountWishList .rating__progress {
    color: rgb(255, 195, 36);
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

.styles__StyledAccountWishList .review-count {
    font-size: 12px;
    color: rgb(102, 102, 102);
    display: inline-block;
    vertical-align: middle;
    margin: 0px 0px 0px 4px;
}

.styles__StyledAccountWishList .item .description {
    font-size: 13px;
    line-height: 20px;
    color: rgb(102, 102, 102);
}

.styles__StyledAccountWishList .footer_favourite {
    width: 190px;
    min-width: 230px;
    margin-left: 25px;
    text-align: right;
}

.styles__StyledAccountWishList .footer_favourite .price {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin: 0px 0px 8px;
}

.styles__StyledAccountWishList .footer_favourite .wrap {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    font-size: 13px;
}

.styles__StyledAccountWishList .footer_favourite .list-price {
    color: rgb(102, 102, 102);
    text-decoration: line-through;
}

.styles__StyledAccountWishList .footer_favourite .discount {
    padding-left: 20px;
    position: relative;
    z-index: 1;
}


.styles__StyledReviewList .thumb {
    width: 100px;
    min-width: 100px;
    padding: 15px;
}

.Picture__StyledPicture {
    position: relative;
    z-index: 1;
    display: block;
    padding-top: 100%;
}

.Picture__StyledPicture.loaded .image {
    display: inline-block;
}

.Picture__StyledPicture .image {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
    vertical-align: middle;
}

img {
    border-style: none;
    max-width: 100%;
}

.styles__StyledReviewList .info {
    padding-left: 20px;
}

.styles__StyledReviewList .name {
    font-size: 13px;
    margin: 0px 0px 15px;
    display: inline-block;
}

.styles__StyledReviewList .date {
    font-size: 12px;
    margin: 0px 0px 5px;
    color: rgb(120, 120, 120);
}

.styles__StyledReviewList .title {
    font-size: 15px;
}

.styles__StyledReviewList .rating {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    white-space: nowrap;
    margin: 0px 10px;
}

.styles__StyledReviewList .rating__progress {
    color: rgb(255, 195, 36);
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

.styles__StyledReviewList .text-success {
    color: rgb(38, 188, 78);
}

.styles__StyledReviewList .content {
    margin: 5px 0px 0px;
    font-size: 13px;
    word-break: break-word;
}


.styles__StyledReviewList .item {
    display: flex;
    padding: 20px;
    border-top: 1px solid rgb(204 193 193);
}

.styles__StyledReviewList .thumb {
    width: 100px;
    min-width: 100px;
    padding: 15px;
}

.Picture__StyledPicture {
    position: relative;
    z-index: 1;
    display: block;
    padding-top: 100%;
}

.Picture__StyledPicture .image {
    display: inline-block;
}

.styles__StyledReviewList .info {
    padding-left: 20px;
}

.styles__StyledReviewList .name {
    font-size: 13px;
    margin: 0px 0px 15px;
    display: inline-block;
}

.styles__StyledReviewList .date {
    font-size: 12px;
    margin: 0px 0px 5px;
    color: rgb(120, 120, 120);
}

.styles__StyledReviewList .title {
    font-size: 15px;
}

.styles__StyledReviewList .rating {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    white-space: nowrap;
    margin: 0px 10px;
}

.styles__StyledReviewList .rating__base {
    color: rgb(222, 221, 220);
}

.styles__StyledReviewList .rating__progress {
    color: rgb(255, 195, 36);
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

.styles__StyledReviewList .text-success {
    color: rgb(38, 188, 78);
}

.styles__StyledReviewList .content-review {
    margin: 5px 0px 0px;
    font-size: 13px;
    word-break: break-word;
}


.Alert__StyledAlert {
    padding: 7px;
    font-size: 13px;
    line-height: 19px;
    background-color: rgb(255, 255, 255);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(38, 188, 78);
    border: 1px solid rgb(38, 188, 78);
    border-radius: 4px;
}


.my-reviews__heading {
    color: rgb(36, 36, 36);
    margin: 0px 0px 15px;
    font-size: 19px;
    font-weight: 300;
}

.my-reviews__inner {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
}

.my-reviews__item {
    flex-basis: 25%;
    padding: 16px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.my-reviews__info {
    flex: 1 1 0%;
}

.my-reviews__name {
    margin: 15px 0px 0px;
    color: rgb(36, 36, 36);
    font-size: 13px;
    line-height: 1.38;
    font-weight: 300;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

img {
    max-width: 100%;
    border-style: none;
}


/* css for order detail */
.styles__StyledAccountOrderDetail {
    font-size: 13px;
    color: rgb(36, 36, 36);
    line-height: 1.5;
}

.heading {
    font-size: 19px;
    font-weight: 300;
    margin: 20px 0px 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.heading .split {
    margin: 0px 5px;
}

.heading .status {
    font-weight: bolder;
}

.created-date {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.styles__StyledSection {
    margin: 10px 0px 20px;
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.65);
}

.styles__StyledSection .title {
    font-size: 13px;
    text-transform: uppercase;
    margin: 0px 0px 15px;
    color: rgb(36, 36, 36);
}

.notifications {
    display: flex;
    flex-direction: column;
}

.notifications__item {
    display: flex;
}

.notifications__item .date {
    min-width: 160px;
}

.notifications__item .comment {
    text-align: left;
}

.styles__StyledGroupSection {
    display: flex;
    margin: 10px 0px 20px;
}

.styles__StyledGroupSection > div:first-child {
    margin-left: 0px;
}

.styles__StyledGroupSection > div {
    width: 50%;
    margin: 0px 5px;
}

.styles__StyledSection {
    margin: 10px 0px 20px;
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.65);
}

.content {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 4px;
    height: 100%;
}


.content .name {
    text-transform: uppercase;
    color: rgb(36, 36, 36);
    font-weight: bold;
}

.styles__StyledGroupSection p {
    margin: 5px 0px 0px;
}

.styles__StyledGroupSection .cc-info.description.orange {
    color: rgb(253, 162, 35);
    font-style: italic;
}

.styles__StyledGroupSection .cc-info.description {
    font-weight: 300;
    margin-top: 10px;
}

.styles__StyledProductList {
    width: 100%;
    color: rgb(66, 66, 66);
    display: table;
    font-size: 13px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    border-collapse: collapse;
    border-spacing: 0px;
    line-height: 1.5;
    word-break: break-word;
}

.styles__StyledProductList thead {
    display: table-header-group;
}

.styles__StyledProductList tr {
    display: table-row;
    padding: 10px;
}

.styles__StyledProductList thead tr th:first-child {
    border-left: none;
}

.styles__StyledProductList thead tr th:last-child {
    text-align: right;
    min-width: 160px;
}

.styles__StyledProductList thead tr th {
    display: table-cell;
    padding: 20px 15px;
    border-top: none;
    min-width: 100px;
    position: relative;
    background: 0px 0px;
    color: rgb(21 20 20);
    font-size: 15px;
    font-weight: 500;
    border-bottom: 1px solid rgb(244, 244, 244);
    text-align: left;
}

.styles__StyledProductList tbody {
    display: table-row-group;
}

.styles__StyledProductList tbody tr:first-child {
    border-top: none;
}

.styles__StyledProductList tbody tr {
    border-bottom: 1px solid rgb(244, 244, 244);
}

.styles__StyledProductList tbody tr td:first-child {
    border-top: none;
    border-left: none;
}

.styles__StyledProductList tbody tr td:last-child {
    text-align: right;
    min-width: 160px;
}

.styles__StyledProductList tbody tr td {
    border: none;
    position: relative;
    display: table-cell;
    padding: 20px 15px;
    color: rgb(36, 36, 36);
    vertical-align: top;
    min-width: 100px;
}

.styles__StyledProductList tbody tr td .product-item {
    display: flex;
}

.styles__StyledProductList tbody tr td .product-item img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.styles__StyledProductList tbody tr td .product-item .product-info .product-name {
    font-size: 14px;
    color: rgb(36, 36, 36);
}

.styles__StyledProductList tbody tr td .product-item .product-info p {
    margin: 12px 0px 0px;
}

.styles__StyledProductList tbody tr td .product-item .product-info .product-review span, .styles__StyledProductList tbody tr td .product-item .product-info .product-review a {
    display: inline-block;
    margin-right: 10px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(24, 158, 255);
    font-size: 12px;
    color: rgb(24, 158, 255);
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.styles__StyledProductList tfoot {
    display: table-row-group;
}

.styles__StyledProductList tfoot tr {
    border-top: none;
}

.styles__StyledProductList tfoot tr td:first-child {
    border-top: none;
}

.styles__StyledProductList tfoot tr:first-child td {
    padding-top: 30px;
}

.styles__StyledProductList tfoot tr td {
    text-align: right;
    display: table-cell;
    padding: 5px 20px;
    max-width: 550px;
    min-width: 125px;
    color: rgb(36, 36, 36);
}

.styles__StyledProductList tfoot tr td .sum {
    color: rgb(255, 59, 39);
    font-size: 18px;
}

.view-list-order {
    margin-bottom: 30px;
    margin-top: 20px;
    display: inline-block;
    border: 1px solid transparent;
    margin-right: 15px;
    cursor: pointer;
}

.view-tracking-detail {
    margin-bottom: 30px;
    background: rgb(253, 216, 53);
    border-color: rgb(253, 216, 53);
    color: rgb(74, 74, 74);
    margin-top: 20px;
    padding: 9px 12px;
    width: 225px;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    font-weight: bolder;
}

/* css for order-status */
.order-heading {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 35px;
}

.order-heading h3 {
    font-size: 19px;
    font-weight: 300;
    color: rgb(36, 36, 36);
    margin: 0px;
    align-self: flex-end;
}

.order-heading .view-detail {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(74, 74, 74);
    border-radius: 4px;
    background-color: rgb(253, 216, 53);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}

.styles__StyledTrackingDetail .title {
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 13px;
    text-transform: uppercase;
    color: rgb(36, 36, 36);
}

.styles__StyledOrderStatus .status-block {
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    padding: 20px 20px 20px;
}

.styles__StyledOrderStatus .status-block .status-text {
    font-size: 14px;
    color: rgb(32, 32, 32);
    display: block;
}

.styles__StyledOrderStatusDetail {
    margin-top: 20px;
}

.styles__StyledOrderStatusDetail .title {
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 13px;
    text-transform: uppercase;
    color: rgb(36, 36, 36);
}

.styles__StyledOrderStatusDetail .detail {
    background: rgb(255, 255, 255);
    padding: 20px;
}

.styles__StyledOrderStatusDetail .detail .border {
    border-radius: 4px;
    border: 1px solid rgb(218, 218, 218);
}

.cGrxj {
    padding: 12px 15px;
    font-size: 13px;
    color: rgb(32, 32, 32);
    border-bottom: 1px solid rgb(218, 218, 218);
    background-color: rgb(241, 241, 241);
    font-weight: bolder;
}

.cBkDRy {
    padding: 15px;
    font-size: 13px;
    color: rgb(32, 32, 32);
    border-bottom: 1px solid rgb(218, 218, 218);
    font-weight: bolder;
}

.cBkDRy .left {
    margin-right: 20px;
}

.dPnPGf {
    padding: 15px;
    font-size: 13px;
    color: rgb(32, 32, 32);
    border-bottom: 1px solid rgb(218, 218, 218);
    font-weight: normal;
}

.dPnPGf .left {
    margin-right: 20px;
}

.jDvHok {
    padding: 15px;
    font-size: 13px;
    color: rgb(32, 32, 32);
    font-weight: normal;
}

.jDvHok .left {
    margin-right: 20px;
}

.styles__StyledOrderItems {
    margin-top: 20px;
}

.styles__StyledOrderItems .title {
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 13px;
    text-transform: uppercase;
    color: rgb(36, 36, 36);
}

.styles__StyledOrderItems .items {
    display: flex;
    padding: 15px 20px;
    background: rgb(255, 255, 255);
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.styles__StyledOrderItems .items .item {
    display: flex;
    font-weight: 300;
    flex: 0 1 49%;
    padding: 10px 0px;
    -webkit-box-align: center;
    align-items: center;
}

.styles__StyledOrderItems .items .item .image {
    margin-right: 30px;
    width: 90px;
    height: 90px;
}

.styles__StyledOrderItems .items .item .info .name {
    font-size: 14px;
    color: rgb(32, 32, 32);
    text-decoration: none;
    outline: none;
    padding: 8px 0px;
}


/* form add review product */
.write-review {
    width: 605px;
    background-color: rgb(255, 255, 255);
    padding: 16px;
    border-radius: 4px;
    position: relative;
    z-index: 1;
}

.write-review__close {
    width: 40px;
    height: 40px;
    font-size: 36px;
    position: absolute;
    right: 10px;
    top: 10px;
    text-align: center;
    line-height: 40px;
    color: rgb(224, 224, 224);
    cursor: pointer;
}

.write-review__product {
    display: flex;
    padding: 0px 40px 0px 0px;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 0px 32px;
}

.write-review__product-img {
    width: 40px;
    margin: 0px 12px 0px 0px;
}

.write-review__product-wrap {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    padding: 0px 40px 0px 0px;
}

.write-review__product-name {
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1 1 0%;
}

.write-review__product-seller {
    font-size: 12px;
    line-height: 16px;
    color: rgb(153, 153, 153);
}

.write-review__heading {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    margin: 0px 0px 12px;
}

.write-review__stars {
    text-align: center;
}

.write-review__star {
    margin: 0px 8px;
    cursor: pointer;
}

.write-review__input {
    border: 1px solid rgb(238, 238, 238);
    padding: 12px;
    border-radius: 4px;
    resize: none;
    width: 100%;
    outline: 0px;
    margin: 24px 0px 12px;
}

.write-review__buttons {
    flex: 1 1 0%;
    align-items: flex-end;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0px 0px 16px;
    margin: 12px 0px 0px;
}

.write-review__file {
    position: absolute;
    height: 0px;
    width: 0px;
    visibility: hidden;
    opacity: 0;
    clip: rect(0px, 0px, 0px, 0px);
}

.write-review__button--image {
    color: rgb(13, 92, 182);
    border: 1px solid rgb(13, 92, 182);
}

.write-review__file {
    position: absolute;
    height: 0px;
    width: 0px;
    visibility: hidden;
    opacity: 0;
    clip: rect(0px, 0px, 0px, 0px);
}

.write-review__button--submit {
    background-color: rgb(253, 216, 53);
    color: rgb(36, 36, 36);
}

.write-review__button {
    width: 49%;
    height: 36px;
    border: 0px;
    background: 0px center;
    padding: 0px;
    line-height: 36px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: 0px;
}

.write-review__button--image img {
    width: 20px;
    height: 20px;
    margin: 0px 4px 0px 0px;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0px;
}

textarea {
    overflow: auto;
}

button, input {
    overflow: visible;
}

.write-review__button .write-review__button--image {
    position: relative;
    cursor: pointer;
}

.upload__file--button {
    position: absolute;
    opacity: 0;
}

*, ::before, ::after {
    box-sizing: border-box;
}


i.yellow {
    color: #f5b223;
}

.styles__StyledAccountAddress .item .delete {
    font-size: 14px;
    color: rgb(255, 66, 78);
    border: 0px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    outline: 0px;
}

.Checkbox__StyledCheckbox .label {
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
    text-align: justify;
    margin: auto;
}


.styles__StyledProductList tfoot tr td .cancel-order {
    background-color: rgb(253, 216, 53);
    color: rgb(74, 74, 74);
    display: inline-block;
    margin-bottom: 0px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgb(253, 216, 53);
    padding: 6px 12px;
    border-radius: 4px;
}











ul {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0;
}

.pagination-nav ul li {
    display: inline-block;
    margin: 0 2px;
}

ul li {
    list-style: none;
}

.pagination-nav ul li a {
    background-color: #f7f7f7;
    color: #808080;
    display: block;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    width: 36px;
}

a, a:focus, a:active, a:link, img {
    outline: none;
    text-decoration: none;
}

.pagination-nav ul li.active a {
    background: #F7941D none repeat scroll 0 0;
    color: #fff;
}

.mt_50 {
    margin-top: 50px;
}




