<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <style type="text/css">
        .sub-category {
            background: #fff;
            width: 220px;
            position: absolute;
            left: 238px;
            top: 0;
            z-index: 999999;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            transition: all 0.4s ease;
            border-left: 3px solid #F7941D;
            -webkit-box-shadow: 0px 5px 15px #0000000a;
            -moz-box-shadow: 0px 5px 15px #0000000a;
            box-shadow: 0px 5px 15px #0000000a;
        }
    </style>
</head>
<body>
<!-- Preloader -->
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- End Preloader -->

<!-- Header -->
<header class="header shop">
    <!-- Topbar -->
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-12">
                    <!-- Top Left -->
                    <div class="top-left">
                        <ul class="list-main">
                            <li><i class="ti-headphone-alt"></i> +84 947060528</li>
                            <li><i class="ti-email"></i> nguyenphamvan1998@gmail.com</li>
                        </ul>
                    </div>
                    <!--/ End Top Left -->
                </div>
                <div class="col-lg-8 col-md-12 col-12">
                    <!-- Top Right -->
                    <div class="right-content">
                        <ul class="list-main">
                            <li><i class="ti-location-pin"></i>Địa chỉ của hàng</li>
                            <li th:if="${#request.userPrincipal}"><i class="fa fa-sign-out"></i><a th:href="@{/logout}">Đăng xuất</a></li>
                            <li th:unless="${#request.userPrincipal}"><i class="fa fa-user"></i><a th:href="@{/signup}">Đăng ký</a></li>
                            <li th:unless="${#request.userPrincipal}"><i class="ti-power-off"></i><a th:href="@{/login}">Đăng nhập</a></li>
                        </ul>
                    </div>
                    <!-- End Top Right -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Topbar -->
    <div class="middle-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-12">
                    <!-- Logo -->
                    <div class="logo">
                        <a th:href="@{/}"><img th:src="@{/images/logo.png}" alt="logo"></a>
                    </div>
                    <!--/ End Logo -->
                </div>
                <div class="col-lg-7 col-md-6 col-12">
                    <div class="search-bar-top">
                        <div class="search-bar">
                            <form>
                                <input id="input-search-bar" name="search" placeholder="Nhập từ khóa tìm kiếm sản phẩm....." type="search">
                                <button class="btnn" type="button" onclick="searchProduct()"><i class="ti-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-12">
                    <div class="right-bar">
                        <!-- Search Form -->
                        <div class="sinlge-bar" th:if="${#request.userPrincipal}">
                            <a th:href="@{/customer/account/edit}" class="single-icon">
                                <div style="display: flex;">
                                    <i class="fa fa-user-circle-o" aria-hidden="true" style="margin: auto;"></i>
                                    <span style="font-size: 13px; margin-left: 5px;" sec:authentication="principal.fullName"></span>
                                </div>
                            </a>
                        </div>

                        <div class="sinlge-bar shopping">
                            <a th:href="@{/cart.html}" class="single-icon"><i class="ti-bag"></i>
                                <span class="total-count">0</span>
                            </a>
                            <!-- Shopping Item -->
                            <div class="shopping-item">
                                <div class="dropdown-cart-header">
                                    <span id="total-items"></span> <span>Sản phẩm</span>
                                    <a th:href="@{/cart.html}">Xem Giỏ Hàng</a>
                                </div>
                                <ul class="shopping-list">
                                    <li id="item-for-cloning" style="display: none;">
                                        <a class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
                                        <a class="cart-img" href="#">
                                            <img src="https://via.placeholder.com/70x70" alt="#">
                                        </a>
                                        <h4><a href="#" class="cart-item-name">Tên sản phẩm</a></h4>
                                        <p><span class="quantity">1 </span>x - <span class="amount">99.00</span> <span>vnđ</span></p>
                                    </li>
                                </ul>
                                <div class="bottom">
                                    <div class="total">
                                        <span>Tạm tính</span>
                                        <span class="total-amount">$134.00</span>
                                    </div>
                                    <a th:href="@{/templates/checkout.html}" class="btn animate">Thanh Toán</a>
                                </div>
                                <div id="cart-empty-header">
                                    <p>Chưa có sản phẩm trong giỏ hàng</p>
                                </div>
                            </div>
                            <!--/ End Shopping Item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Inner -->
    <div class="header-inner">
        <div class="container">
            <div class="cat-nav-head">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="all-category">
                            <h3 class="cat-heading"><i class="fa fa-bars" aria-hidden="true"></i>DANH MỤC</h3>
                            <ul class="main-category">
                                <li th:each="category : ${listCategory}">
                                    <th:block th:if="${category.getSubCategories().size() > 0}">
                                        <a th:href="@{'/collections.html?category=' + ${category.getCategoryUrl()}}" th:utext="${category.getCategoryName()}">Danh mục chính <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                        <ul class="sub-category">
                                            <li th:each="subCategory : ${category.getSubCategories()}">
                                                <a th:href="@{'/collections.html?category=' + ${subCategory.getCategoryUrl()}}" th:utext="${subCategory.getCategoryName()}">danh mục con</a>
                                            </li>
                                        </ul>
                                    </th:block>
                                    <th:block th:if="${category.getSubCategories().size() == 0}">
                                        <a th:href="@{'/collections.html?category=' + ${category.getCategoryUrl()}}" th:utext="${category.getCategoryName()}">Danh mục chính</a>
                                    </th:block>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9 col-12">
                        <div class="menu-area">
                            <!-- Main Menu -->
                            <nav class="navbar navbar-expand-lg">
                                <div class="navbar-collapse">
                                    <div class="nav-inner">
                                        <ul class="nav main-menu menu navbar-nav">
                                            <li class="active"><a th:href="@{/}">Trang chủ</a></li>
                                            <li><a href="#">Thông tin khuyễn mãi</a></li>
                                            <li><a href="#">Blog<i class="ti-angle-down"></i><span class="new">New</span></a>
                                                <ul class="dropdown">
                                                    <li><a href="blog-single-sidebar.html">Blog Single Sidebar</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="contact.html">Liên hệ</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                            <!--/ End Main Menu -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Header Inner -->
</header>
<!--/ End Header -->
</body>
</html>